﻿.active {
    background-color: #065ec2;
}

    .active a {
        color: white;
        font-weight: bold;
    }
/*Table*/
table tr th {
    vertical-align: middle
}

table.data tr td:first-child,
table.data tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

table.data tr th:first-child,
table.data tr th:last-child {
    width: 1%;
    white-space: nowrap;
}

table > tbody > tr:hover {
    box-shadow: inset 1px 0 0 #EFF3F8, inset -1px 0 0 #EFF3F8, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    background-color: #f5f5f5;
    cursor: pointer;
}
/***/

/*Select2*/
.select2-container--open {
    z-index: 999999999 !important;
}
.select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-selection__arrow {
    height: 38px !important;
}

/**Others**/
label {
    top: 9px;
}

.on-remove {
    background-color: orangered;
    color: white;
}
.btn-outline-purple {
    color: #9C27B0;
    border-color: #9C27B0;
}

    .btn-outline-purple:hover {
        color: #ffffff;
        background-color: #673AB7;
        border-color: #3F51B5;
    }
/***/

/**Label**/
:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

.form-control {
    min-height: 2.7rem !important;
}

.form-label-group {
    position: relative;
    margin-bottom: 0.3rem
}

    .form-label-group > input, .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x)
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent
    }

    .form-label-group input::-moz-placeholder {
        color: transparent
    }

    .form-label-group input::placeholder {
        color: transparent
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2/3));
        padding-bottom: calc(var(--input-padding-y)/3)
    }

        .form-label-group input:not(:placeholder-shown) ~ label {
            padding-top: calc(var(--input-padding-y)/3);
            padding-bottom: calc(var(--input-padding-y)/3);
            font-size: 14px;
            color: #777
        }

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}