﻿@model Customer_Model
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Guest/_Layout.cshtml";
}

<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a class="btn-block" asp-controller="Guest" asp-action="List">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4 class="">@Model.FullName.ToUpper()</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid p-0">
        <section class="card border">
            <div class="card-header">
                <a href="tel:@Model.Phone" class="btn  btn-default ">
                    Gọi
                </a>
                <a href="sms:@Model.Phone" class="btn  btn-default ">
                    Nhắn tin
                </a>
                <button type="button" class=" btn btn-default" onclick="Reset('@Model.CustomerKey')">
                    Tạo mật khẩu
                </button>
                <a class="btn  btn-default " asp-controller="Guest" asp-action="Edit" asp-route-CustomerKey="@Model.CustomerKey">
                    Sửa
                </a>
                <button type="button" class=" btn btn-danger" onclick="Delete('@Model.CustomerKey')">
                    Xóa
                </button>
            </div>
            <div class="card-body">
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["error"] !</strong>.
                    </div>
                }

                <label class="label font-weight-bolder">Số điện thoại:</label>
                <div class="font-weight-bolder text-primary">@Model.Phone</div>
                <hr class="m-2" />
                <label class="label">Địa chỉ:</label>
                <div class="">@Model.Address</div>
                <hr class="m-2" />
                <label class="label">Ghi chú:</label>
                <div class="">@Model.Note</div>

                <div class="alert alert-warning" id="NewPass" style="display:none;">
                    <strong></strong>
                </div>
            </div>
            <div class="card-footer">
                @{
                    if (ViewBag.History != null)
                    {
                        var ListTask = ViewBag.History as List<Task_Model>;
                        if (ListTask.Count > 0)
                        {

                            <h4 class="font-weight-bolder m-0 text-center">Lịch sử sửa chữa</h4>

                            ListTask = ListTask.OrderByDescending(s => s.CreatedOn).Take(5).ToList();
                            foreach (var item in ListTask)
                            {
                                if (item.CodeLine.Trim() == "Y")
                                {
                                    <div class="alert alert-success">
                                        <strong>Ngày gửi: @item.CreatedOn.ToString("dd/MM/yyyy")</strong>
                                        <br />
                                        @item.TaskContent<br />
                                        @if (item.GroupKey == 19)
                                        {
                                            <a class="alert-link" asp-controller="Task" asp-action="Detail_InSite_Task" asp-route-TaskKey="@item.TaskKey">Xem chi tiết</a>
                                        }
                                        else
                                        {
                                            <a class="alert-link" asp-controller="Task" asp-action="Detail_OutSite_Task" asp-route-TaskKey="@item.TaskKey">Xem chi tiết</a>
                                        }

                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger">
                                        <strong>Ngày gửi: @item.CreatedOn.ToString("dd/MM/yyyy")</strong>
                                        <br />
                                        @item.TaskContent<br />
                                        @if (item.GroupKey == 19)
                                        {
                                            <a class="alert-link" asp-controller="Task" asp-action="Detail_InSite_Task" asp-route-TaskKey="@item.TaskKey">Xem chi tiết</a>
                                        }
                                        else
                                        {
                                            <a class="alert-link" asp-controller="Task" asp-action="Detail_OutSite_Task" asp-route-TaskKey="@item.TaskKey">Xem chi tiết</a>
                                        }
                                    </div>
                                }
                            }
                        }
                    }
                }
            </div>
        </section>
    </section>
</div>

@section scripts{

    <script>
        var URL_List = "@Url.Action("List","Guest")";
        var URL_Delete = "@Url.Action("Delete","Guest")";
        var URL_Reset = "@Url.Action("ResetPass", "Guest")";
    </script>
    <script>
        function Delete(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này, các công việc phát sinh kèm theo cũng sẽ bị xóa ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "CustomerKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        window.location = URL_List;
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function Reset(id) {
            $.ajax({
                url: URL_Reset,
                type: "POST",
                data: {
                    "CustomerKey": id
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        $("#NewPass").empty().append("<strong>Mật khẩu mới là " + r.data + "</strong>").show();
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.message, "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }
    </script>

}
