﻿@model Customer_Model
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Guest/_Layout.cshtml";
}

<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a class="btn-block" asp-controller="Guest" asp-action="List">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    @if (Model.CustomerKey.Length >= 36)
                    {
                        <h4 class="">Chỉnh sửa</h4>
                    }
                    else
                    {
                        <h4 class="">Tạo mới</h4>
                    }
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>
<div class="inner-wrapper" style="padding-top:60px">
    <section role="main" class="container-fluid p-0">
        <form class="card border" method="post" asp-controller="Guest" asp-action="Save" onsubmit="return CheckSave()">
            <div class="card-body form-horizontal form-bordered">
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_CustomerPhone">Số điện thoại</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" id="txt_CustomerPhone" name="Phone" value="@Model.Phone" OldVal="@Model.Phone">
                    </div>
                </div>

                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_CustomerName">Họ tên</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txt_CustomerName" name="Name" value="@Model.FullName">
                    </div>
                </div>

                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_CustomerAddress">Địa chỉ</label>
                    <div class="col-lg-6">
                        <textarea class="form-control" id="txt_CustomerAddress" name="Address">@Model.Address</textarea>
                    </div>
                </div>

                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Description">Ghi chú</label>
                    <div class="col-lg-6">
                        <textarea class="form-control" id="txt_Description" name="Description">@Model.Note</textarea>
                    </div>
                </div>

                <input type="hidden" id="txt_CustomerKey" name="CustomerKey" value="@Model.CustomerKey" />
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    Cập nhật
                </button>
                @if (Model.CustomerKey.Length > 0)
                {
                    <button type="button" class="btn btn-danger" onclick="Delete('@Model.CustomerKey')">
                        <i class="fas fa-trash"></i>
                        Xóa
                    </button>
                }
            </div>
        </form>
    </section>
</div>
@section scripts{
    <script>
        var URL_CheckCustomer = "@Url.Action("Check_Customer", "Guest")";
        var URL_List = "@Url.Action("List","Guest")";
        var URL_Delete = "@Url.Action("Delete","Guest")";

        $(document).ready(function () {
            $("#txt_CustomerPhone").blur(function () {
                CheckCustomer();
            });
        });
        function Delete() {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "CustomerKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        window.location = URL_List;
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.Message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function CheckSave() {
            var input = $("#txt_CustomerName").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập tên khách hàng !.", "Thông báo", "error");
                $("#txt_CustomerName").focus();
                $("#txt_CustomerName").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_CustomerName").css({ "background": "white" });
            }

            input = $("#txt_CustomerPhone").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập số điện thoại khách hàng !.", "Thông báo", "error");
                $("#txt_CustomerPhone").focus();
                $("#txt_CustomerPhone").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_CustomerPhone").css({ "background": "white" });
            }

            input = $("#txt_CustomerAddress").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập địa chỉ khách hàng !.", "Thông báo", "error");
                $("#txt_CustomerAddress").focus();
                $("#txt_CustomerAddress").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_CustomerAddress").css({ "background": "white" });
            }

            //input = $("#txt_Description").val();
            //if (input === "" || input === undefined) {
            //    Utils.OpenNotify("Bạn phải nhập nội dung thông tin !.", "Thông báo", "error");
            //    $("#txt_Description").focus();
            //    $("#txt_Description").css({ "background": "lightcoral" });
            //    return false;
            //}
            //else {
            //    $("#txt_Description").css({ "background": "white" });
            //}

            return true;
        }
        function CheckCustomer() {
            var OldPhone = $("#txt_CustomerPhone").attr("OldVal");
            var Phone = $("#txt_CustomerPhone").val();
            var Key = $("#txt_CustomerKey").val();
            var GoCheck = false;

            //kiem tra số điện thoại khi thêm mới
            if (Phone.length >= 10 && Key === "") {
                GoCheck = true;
            }
            else {
                if (Key.length >= 36) {
                    //kiem tra số điện thoại khi thay đổi edit
                    if (Phone.length >= 10 && Phone !== OldPhone) {
                        GoCheck = true;
                    }
                }
            }

            if (GoCheck === true) {
                $.ajax({
                    url: URL_CheckCustomer,
                    type: "GET",
                    data: {
                        "Phone": Phone
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);
                            $("#txt_CustomerName").val(obj.FullName);
                            $("#txt_CustomerAddress").val(obj.Address);
                            $("#txt_CustomerKey").val(obj.CustomerKey);
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {

                    }
                });
            }
        }


    </script>
}
