﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Guest/_Layout.cshtml";

    var _ListData = new List<Customer_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Customer_Model>;
    }
    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }

    var session = Context.Session.GetString("UserLogged");
    var UserLog = JsonConvert.DeserializeObject<User_Model>(session);
}

<header class="header" style="height:60px; position:fixed">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Danh sách khách hàng</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fas fa-2x fa fa-search"></i>
                    </a>
                </td>
            </tr>
        </table>

    </div>
</header>
<div class="inner-wrapper" style="padding-top:60px">
    <section role="main" class="container-fluid p-0">
        <table class="table table-sm bg-white">
            <tbody>
                @{
                    if (_ListData.Count > 0)
                    {
                        foreach (var item in _ListData)
                        {
                            <tr>
                                <td onclick="Open('@item.CustomerKey')">
                                    <h4 class="m-0 font-weight-bolder text-primary">@item.FullName.ToUpper()</h4>
                                    <div class="text-muted">
                                        Sđt: @item.Phone
                                        <a id="btnSms" phonenumber="@item.Phone" href="sms:@item.Phone" class="font-weight-bold text-info float-right d-none">Nhắn tin</a>
                                        <a id="btnCall" phonenumber="@item.Phone" href="tel:@item.Phone" class="font-weight-bold text-info float-right d-none mr-1">Gọi | </a>
                                    </div>
                                    <div class="text-muted">Địa chỉ: @item.Address</div>
                                    @if (item.CategoryKey == 9)
                                    {
                                        <span class="text-muted">Đã giao dịch</span>
                                    }
                                    else
                                    {
                                        <span class="text-muted">Khách vãng lai</span>
                                    }
                                    @if (item.Referrer.Length > 0)
                                    {
                                        <span class="text-warning">Có sử dụng app</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <div class="alert alert-info">
                                    <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                                </div>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </section>
</div>
<aside id="sidebar-left" class="sidebar-left">
    <form class="card" method="post" asp-controller="Guest" asp-action="Search">
        <div class="card-header">
            <h4 class="text-center m-0">Tìm kiếm thông tin</h4>
        </div>
        <div class="card-body">
            <div class="form-label-group">
                <input type="text" class="form-control" id="txt_SearchName" name="Name" placeholder="">
                <label for="txt_SearchName">Tên khách hàng</label>
            </div>
            <div class="form-label-group">
                <input type="number" class="form-control" id="txt_SearchPhone" name="Phone" placeholder="">
                <label for="txt_SearchPhone">Số điện thoại</label>
            </div>
            <select class="form-control" name="Branch">
                <option value="">--//--</option>
                @foreach (var item in _ListBranch)
                {
                    <option value="@item.BranchKey">@item.BranchName</option>
                }
            </select>
            <input id="txt_SearchCate" type="hidden" name="CategoryKey" />
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa fa-search"></i>
                Tìm
            </button>
        </div>
    </form>
</aside>

@{

    var action = ViewContext.RouteData.Values["action"].ToString();
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var role = UserLog.ListRole.SingleOrDefault(s => s.ActionName == action && s.ControllerName == controller);
    if (role != null)
    {
        if (role.RoleAdd)
        {
            <a class="btn btn-primary btn-add" asp-controller="Guest" asp-action="Edit">
                <i class="fas fa-plus-circle"></i>
                Thêm mới
            </a>
        }
    }
}

<!--Scripts-->
@section scripts{
    <script>
        function Open(id) {
            var url = "@Url.Action("Detail", "Guest", new { CustomerKey = "_id_" })";
            url = url.replace("_id_", id);
            window.location = url;
        }
    </script>
}