﻿@using Newtonsoft.Json
@{
    Layout = null;

    var _UserName = ViewBag.UserName;
    var _Password = ViewBag.Password;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <form class="login" method="post" asp-controller="Auth" asp-action="SignIn" id="dvLogin">
        <i class="fa fa-empire icon-logo"></i>
        <h2>Đăng nhập</h2>
        <div class="group">
            <input type="text" placeholder="Tên đăng nhập" name="Phone" value="@_UserName">
            <i class="fa fa-user"></i>
        </div>
        <div class="group">
            <input type="password" placeholder="Mật khẩu" name="Password" value="@_Password">
            <i class="fa fa-lock"></i>
        </div>
        <button type="submit">
            <i class="fa fa-send"></i>Đăng nhập
        </button>
        <p>Thông tin đăng nhập sẽ tự lưu cho lần kế tiếp !.</p>
        @if (ViewBag.Message == "405")
        {
            <p>Tên đăng nhập/ mật khẩu không đúng !.</p>
            <hr />
        }

        <p class="fs" style="margin-top:10px; display:none;">Quên <a href="#" id="btnForgot">Mật khẩu</a> ? </p>
        <p class="ss">Bạn chưa có tài khoản ? <a href="#" id="btnReg">Đăng ký</a></p>
    </form>
    <form class="login" method="post" asp-controller="Auth" asp-action="Register" id="dvRegister" style="display:none;">
        <i class="fa fa-key icon-logo"></i>
        <h2>Đăng ký tài khoản</h2>
        <div class="group">
            <input type="text" placeholder="Họ tên" name="Name" value="">
            <i class="fa fa-user"></i>
        </div>
        <div class="group">
            <input id="txtPhone" type="text" placeholder="Số điện thoại" name="Phone" value="" onblur="CheckPhone();">
            <i class="fa fa-user"></i>
            <span class="text-danger">Lưu ý: số điện thoại sẽ là tên đăng nhập mặt định của bạn !.</span>
        </div>
        <div class="group">
            <input type="password" placeholder="Mật khẩu" name="Password" value="">
            <i class="fa fa-lock"></i>
        </div>
        <div class="group">
            <input type="password" placeholder="Lập lại mật khẩu" name="Password" value="">
            <i class="fa fa-lock"></i>
        </div>
        <div class="group">
            <input type="text" placeholder="Địa chỉ" name="Address" value="">
            <i class="fa fa-user"></i>
        </div>

        <button type="submit">
            <i class="fa fa-send"></i>Đăng ký
        </button>
        <button type="button" id="btnBack">
            <i class="fa fa-backward"></i>Quay lại
        </button>
    </form>
    <form class="login" method="post" asp-controller="Auth" asp-action="Forgot" id="dvForgot" style="display:none;">
        <i class="fa fa-paper-plane icon-logo"></i>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var URL_Phone = "@Url.Action("CheckPhone", "Auth")";
        $("#btnReg").click(function () {
            $("#dvLogin").hide();
            $("#dvForgot").hide();
            $("#dvRegister").show();
        });
        $("#btnForgot").click(function () {
            $("#dvLogin").hide();
            $("#dvRegister").hide();
            $("#dvForgot").show();
        });
        $("#btnBack").click(function () {
            $("#dvLogin").show();
            $("#dvRegister").hide();
            $("#dvForgot").hide();
        });

        function CheckPhone() {
            var phone = $("#txtPhone").val();
            $.ajax({
                url: URL_Phone,
                type: "POST",
                data: {
                    "Phone": phone
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (!r.success) {
                        alert("Số điện thoại này đã được sử dụng, vui lòng nhập số điện thoại khác !.");
                        $("#txtPhone").focus(function () {
                            $(this).select();
                        });
                    }
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
    </script>
    @{
        if (ViewBag.Message == "IsAuthen")
        {
            <script>
                window.location.replace("@Url.Action("Index", "Home")");
            </script>
        }
    }
</body>
</html>
