﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@model Task_Model
@{
    Layout = "~/Views/Task/_Layout.cshtml";
    var _Session = Context.Session.GetString("UserLogged");
    var _UserLog = JsonConvert.DeserializeObject<User_Model>(_Session);

    var _Action = ViewContext.RouteData.Values["Action"].ToString();
    var _Role = _UserLog.ListRole.SingleOrDefault(s => s.ActionName == _Action);

    var _ListEmployee = new List<Employee_Model>();
    if (ViewBag.ListEmployee != null)
    {
        _ListEmployee = ViewBag.ListEmployee as List<Employee_Model>;
    }
}

<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0" style="border-bottom: 1px solid #2196f3; color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" id="goBack">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4 class="m-0">
                        Sửa máy tại cửa hàng
                    </h4>
                    <span class="text-primary font-weight-bold">@ViewBag.Title</span>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>

<div class="inner-wrapper">
    <section class="card border">
        <div class="card-header">
            <span class="font-weight-semibold">Số: @Model.TaskID</span>
            <span class="float-right">Ngày y/c: @Model.CreatedOn.ToString("dd/MM HH:mm")</span>
            <span class="float-right">Người lập: @Model.CreatedName</span>
        </div>
        <div class="card-body">
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["error"] !</strong>.
                </div>
            }

            <div>
                <i class="fas fa-info-circle fa-fw text-info va-middle"></i>:
                <span class="font-weight-bold">@Model.CategoryName</span>
                @if (Model.OwnerBy.Length > 0)
                {
                    <span class="font-weight-bold float-right">Thực hiện: @Model.OwnerName</span>
                }
            </div>
            <div>
                <i class="fas fa-user-tie fa-fw text-info va-middle"></i>:
                <span class="font-weight-bold">@Model.CustomerName.ToUpper()</span>
            </div>
            <div>
                <i class="fas fa-mobile fa-fw text-info va-middle"></i>:
                <a href="tel:@Model.CustomerPhone" class="font-weight-bold">@Model.CustomerPhone</a>
                <a id="btnSms" phonenumber="@Model.CustomerPhone" href="sms:@Model.CustomerPhone" class="font-weight-bold text-info float-right">Nhắn tin</a>
                <a id="btnCall" phonenumber="@Model.CustomerPhone" href="tel:@Model.CustomerPhone" class="font-weight-bold text-info float-right mr-1">Gọi | </a>
            </div>
            <div>
                <i class="fas fa-map-marker-alt fa-fw text-info va-middle"></i>:
                <span class="font-weight-bold">@Model.CustomerAddress</span>
            </div>
            <div>
                <i class="fas fa-tasks fa-fw text-info va-middle"></i>:
                @Model.TaskContent
            </div>
            @if (Model.CategoryKey == 25)
            {
                <div>Ngày nhận: @Model.CompleteDate.ToString("dd/MM HH:mm")</div>
            }
            <hr mb-2 />
            @{
                switch (Model.CategoryKey)
                {
                    case 21:
                        <div class="form-group-sm">
                            <label class="" for="txt_CustomerName">
                                Số tiền báo sửa
                            </label>
                            <input type="text" class="form-control number" id="txt_TaskAmount" name="TaskAmount" value="@Model.TaskAmount">
                        </div>
                        <div class="form-group-sm">
                            <label class="" for="txt_Quote">
                                Nội dung báo giá
                            </label>
                            <textarea class="form-control" id="txt_Quote" name="Quote" style="height:100px !important;">@Model.Quote</textarea>
                        </div>
                        break;

                    case 22:
                        <div class="form-group-sm">
                            <label class="" for="txt_CustomerName">
                                Số tiền báo sửa
                            </label>
                            <input type="text" class="form-control number" id="txt_TaskAmount" name="TaskAmount" readonly="readonly" disabled value="@Model.TaskAmount.ToString("n0")">
                        </div>
                        <div class="form-group-sm">
                            <label class="" for="txt_Quote">
                                Nội dung báo giá
                            </label>
                            <textarea class="form-control" id="txt_Quote" name="Quote" readonly="readonly" disabled style="height:100px !important;">@Model.Quote</textarea>
                        </div>
                        <div class="form-group-sm">
                            <label class="" for="txt_CustomerName">
                                Nội dung sửa chữa
                            </label>
                            <textarea class="form-control" id="txt_ToDo" name="ToDo" style="height:100px !important;">@Model.ToDo</textarea>
                        </div>
                        break;

                    default:
                        <div class="form-group-sm">
                            <label class="" for="txt_CustomerName">
                                Số tiền báo sửa
                            </label>
                            <input type="text" class="form-control" id="txt_TaskAmount" name="TaskAmount" readonly="readonly" disabled value="@Model.TaskAmount.ToString("n0")">
                        </div>
                        <div class="form-group-sm">
                            <label class="" for="txt_Quote">
                                Nội dung báo giá
                            </label>
                            <textarea class="form-control" id="txt_Quote" name="Quote" readonly="readonly" disabled style="height:100px !important;">@Model.Quote</textarea>
                        </div>
                        if (Model.Note != string.Empty)
                        {
                            <div class="form-group-sm">
                                <label class="" for="txt_FixNote">
                                    Lý do trả máy/ không sửa được
                                </label>
                                <textarea class="form-control" id="txt_FixNote" name="FixNote" readonly="readonly" disabled style="height:100px !important;">@Model.Note</textarea>
                            </div>
                        }
                        <div class="form-group-sm">
                            <label class="" for="txt_CustomerName">
                                Nội dung sửa chữa
                            </label>
                            <textarea class="form-control" id="txt_ToDo" name="ToDo" readonly="readonly" disabled style="height:100px !important;">@Model.ToDo</textarea>
                        </div>
                        break;
                }
            }
        </div>
        <div class="card-footer">
            @{
                if (Model.CategoryKey == 21)
                {
                    if (Model.CreatedBy == _UserLog.UserKey)
                    {
                        <a class="btn-sm btn btn-warning"
                           asp-controller="Task"
                           asp-Action="OnSite_Edit"
                           asp-route-TaskKey="@Model.TaskKey">
                            <i class="far fa-edit"></i> Sửa
                        </a>
                    }
                }
            }
            @Html.Raw(ViewBag.Button)
            <div class="form-group-sm mt-2" style="display:none" id="DivNote">
                <label class="" for="txt_FixNote">
                    Lý do trả máy/ không sửa được
                </label>
                <textarea class="form-control" id="txt_FixNote" name="FixNote" style="height:100px !important;"></textarea>
                <button id="btnReturn" type="button" class="btn-sm btn btn-danger float-right mt-1" onclick="Process(0)">
                    <i class="fas fa-stop-circle"></i>
                    Vẫn trả
                </button>
            </div>
            <div class="form-group-sm mt-2" style="display:none" id="DivChange">
                <label class="" for="txt_CustomerName">
                    Đang thực hiện: @Model.OwnerName
                </label>
                <br />
                <label class="" for="txt_CustomerName">
                    Đổi sang.
                </label>
                <select class="form-control select2" id="cbo_Employee">
                    <option value="">--//--</option>
                    @foreach (var item in _ListEmployee)
                    {
                        <option value="@item.EmployeeKey">@item.FullName</option>
                    }
                </select>
                <button id="btnChangeSave" type="button" class="btn-sm btn btn-warning float-right mt-1">
                    <i class="fas fa-stop-circle"></i>
                    Thay đồi thực hiện
                </button>
            </div>
        </div>
    </section>

    <input id="txt_Status" type="hidden" name="Status" />
    <input id="txt_Branch" type="hidden" name="Branch" value="@Model.BranchKey" />
    <input id="txt_Class" type="hidden" name="Class" value="@Model.Class" />
    <input id="txt_TaskKey" type="hidden" name="TaskKey" value="@Model.TaskKey" />
    <input id="txt_CategoryKey" type="hidden" name="CategoryKey" value="@Model.CategoryKey" />
    <input id="txt_CustomerKey" type="hidden" name="CustomerKey" value="@Model.CustomerKey" />
</div>

@section scripts{
    <script>
        var URL_Edit = "@Url.Action("OnSite_Edit", "Task", new { TaskKey ="_id_"})";
        var URL_List = "@Url.Action("OnSite_List", "Task", new { Option = 3, Branch = "_branch_" , Category = "_cate_"})";
        var URL_Process = "@Url.Action("OnSite_Process", "Task")";
        var URL_Change = "@Url.Action("Change_Employee","Task")";
    </script>
    <script>
        var decodeEntities = (function () {
            // this prevents any overhead from creating the object each time
            var element = document.createElement('div');

            function decodeHTMLEntities(str) {
                if (str && typeof str === 'string') {
                    // strip script/html tags
                    str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
                    str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
                    element.innerHTML = str;
                    str = element.textContent;
                    element.textContent = '';
                }

                return str;
            }

            return decodeHTMLEntities;
        })();

        $(document).ready(function () {
            $("#goBack").click(function (e) {
                e.preventDefault();
                var cate = $("#txt_CategoryKey").val();
                var branch = $("#txt_Branch").val();
                URL_List = URL_List
                    .replace("_cate_", cate)
                    .replace("_branch_", branch);
                URL_List = decodeEntities(URL_List);
                window.location = URL_List;
            });
            $("#btnChange").click(function () {
                $("#DivChange").toggle();
            });
            $("#btnNo").click(function () {
                $("#txt_Status").val(0);
                $("#DivNote").toggle();
            });
            $("#btnChangeSave").click(function () {
                ChangeTechincal();
            });
        });

        function textAreaAdjust(element) {
            element.style.height = "1px";
            element.style.height = (25 + element.scrollHeight) + "px";
        }
        function ChangeTechincal() {
            var employee = $("#cbo_Employee").val();
            if (employee === undefined ||
                employee === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải chọn nhân viên thay thế", "warning");
                return;
            }
            var taskkey = $("#txt_TaskKey").val();
            var todo = $("#txt_ToDo").val();
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Đã có chắc !.",
                content: "Doanh số và công việc sẽ được tính cho người được nhận ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Change,
                                type: "POST",
                                data: {
                                    "TaskKey": taskkey,
                                    "Employee": employee,
                                    "ToDo": todo
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        //alert("Đã đổi thông tin nhân viên thành công !.");
                                        location.reload(true);
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function CheckSave() {
            var input = $("#txt_TaskAmount").val();
            var cate = $("#txt_CategoryKey").val();
            if (cate === "21") {
                if (input === "" ||
                    input === undefined) {
                    Utils.OpenNotify("Bạn phải nhập số tiền báo sửa !.", "Thông báo", "error");
                    $("#txt_TaskAmount").focus();
                    $("#txt_TaskAmount").css({ "background": "lightcoral" });
                    return false;
                }
                else {
                    $("#txt_TaskAmount").css({ "background": "white" });
                    if (parseFloat(input) === 0) {
                        if (confirm("Bạn đồng ý sửa với giá 0 đồng ?.")) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                }
            }
            else {
                return true;
            }
        }
        function Edit(id, cate) {
            URL_Edit = URL_Edit.replace("_cate_", cate).replace("_id_", id);
            window.location = URL_Edit;
        }
        function Process(Status) {

            var TaskKey = $("#txt_TaskKey").val();
            var CategoryKey = $("#txt_CategoryKey").val();
            var TaskAmount = $("#txt_TaskAmount").val();
            var ToDo = $("#txt_ToDo").val();
            var FixNote = $("#txt_FixNote").val();
            var Quote = $("#txt_Quote").val();

            $.ajax({
                url: URL_Process,
                type: "POST",
                data: {
                    "TaskKey": TaskKey,
                    "CategoryKey": CategoryKey,
                    "TaskAmount": TaskAmount,
                    "ToDo": ToDo,
                    "FixNote": FixNote,
                    "Quote": Quote,
                    "Status": Status
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        window.location = r.data;
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.message, "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
            //}
        }
    </script>
}