﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    Layout = "~/Views/Task/_Layout.cshtml";

    var _Session = Context.Session.GetString("UserLogged");
    var _UserLog = JsonConvert.DeserializeObject<User_Model>(_Session);

    var _Data = new List<Task_Model>();
    if (ViewBag.Data != null)
    {
        _Data = ViewBag.Data as List<Task_Model>;
    }
}

<style>
    .task-header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
        background: white;
        border-bottom: 1px solid #2196f3;
    }
</style>
<header class="header" style="height:145px">
    <div class="task-header">
        <table class="table table-sm mb-0" style="border-bottom: 1px solid #2196f3; color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4 class="m-0">
                        Sửa máy tại cửa hàng
                    </h4>
                    <span class="text-primary font-weight-bold">@ViewBag.Title</span>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fas fa-2x fa fa-search"></i>
                    </a>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-sm mb-0">
            <tr>
                <td style="width:90px">
                    <a name="21" class="nav-link p-0 text-center " asp-controller="Task" asp-action="OnSite_List" asp-route-Category="21" asp-route-Option="3" asp-route-Branch="@ViewBag.Branch">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        1. Đang báo giá
                    </a>
                </td>
                <td style="width:90px">
                    <a name="22" class="nav-link p-0 text-center " asp-controller="Task" asp-action="OnSite_List" asp-route-Category="22" asp-route-Option="3" asp-route-Branch="@ViewBag.Branch">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        2. Đang sửa
                    </a>
                </td>
                <td style="width:90px">
                    <a name="24" class="nav-link p-0 text-center " asp-controller="Task" asp-action="OnSite_List" asp-route-Category="24" asp-route-Option="3" asp-route-Branch="@ViewBag.Branch">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        3. Chờ giao/trả
                    </a>
                </td>
                <td style="width:90px">
                    <a name="25" class="nav-link p-0 text-center " asp-controller="Task" asp-action="OnSite_List" asp-route-Category="25" asp-route-Option="3" asp-route-Branch="@ViewBag.Branch">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        4. Đã hoàn thành
                    </a>
                </td>
            </tr>
        </table>
    </div>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid">
        @{
            if (ViewBag.TitleSearch != null)
            {
                <div class="alert alert-info mt-2">
                    <strong>@ViewBag.TitleSearch</strong>
                </div>
            }
            if (_Data.Count > 0)
            {
                foreach (var item in _Data)
                {
                    #region [--Info--]
                    string CreatedOn = item.CreatedOn.ToString("dd/MM HH:mm");
                    string Name = item.CustomerName.ToUpper();
                    string Phone = item.CustomerPhone;
                    string Address = item.CustomerAddress;
                    string Content = item.TaskContent;
                    string Note = item.Note;
                    string Class = item.Class;
                    string ID = item.TaskID;
                    string Key = item.TaskKey;
                    string Status = "";
                    string Special = "";
                    string Css = "";
                    int CategoryKey = item.CategoryKey;
                    string CompleteDate = item.CompleteDate.ToString("dd/MM HH:mm");
                    if (Note.Length > 0)
                    {
                        Css = "bg-danger";
                        Status = "<span class='blink_me'>Trả máy không sửa được !.</span>";
                    }
                    #endregion

                    <div class="card border border-primary mt-1" id="@Key">
                        <div class="card-header p-2">
                            <span class="font-weight-semibold">Số: @ID</span>
                            <span class="float-right">Ngày y/c: @CreatedOn</span>
                        </div>
                        <div class="card-body p-2 @Html.Raw(Css) ">

                            <!-- Thông tin khách hàng -->
                            <div>
                                <i class="fas fa-user-tie fa-fw text-info va-middle"></i>:
                                <span class="font-weight-bold">@Name</span>
                            </div>
                            <div>
                                <i class="fas fa-mobile fa-fw text-info va-middle"></i>:
                                <a href="tel:@Phone" class="font-weight-bold">@Phone</a>
                                <a id="btnSms" phonenumber="@Phone" href="sms:@Phone" class="font-weight-bold text-info d-none float-right">Nhắn tin</a>
                                <a id="btnCall" phonenumber="@Phone" href="tel:@Phone" class="font-weight-bold text-info d-none float-right mr-1">Gọi | </a>
                            </div>
                            <div>
                                <i class="fas fa-map-marker-alt fa-fw text-info va-middle"></i>:
                                <span class="font-weight-bold">@Address</span>
                            </div>
                            <!--  -->
                            <!-- Thông tin công việc-->
                            <div>
                                <i class="fas fa-tasks fa-fw text-info va-middle"></i>:
                                @Content
                            </div>
                            @if (CategoryKey == 25)
                            {
                                <div>Ngày nhận: @CompleteDate</div>
                            }
                            <div class="text-center">@Html.Raw(Status)</div>
                            <div class="text-center">@Html.Raw(Special)</div>
                            <!--  -->
                        </div>
                        <div class="card-footer p-2">
                            <a class="btn-sm btn btn-primary"
                               asp-controller="Task"
                               asp-action="OnSite_Detail"
                               asp-route-TaskKey="@Key">
                                <i class="fa fa-eye"></i>
                                Xem
                            </a>
                            @if (item.CategoryKey == 25)
                            {
                                <button type="button" class="btn-sm btn btn-warning"
                                        onclick="Archive('@Key')">
                                    <i class="fas fa-box"></i>
                                    Ẩn
                                </button>
                            }
                            @if (item.OwnerBy.Length > 0)
                            {
                                <span class="float-right font-weight-bold">Thực hiện: @item.OwnerName</span>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                if (ViewBag.Message != null &&
                    ViewBag.Message != string.Empty)
                {
                    <div class="alert alert-danger">
                        <strong>@ViewBag.Message</strong>
                    </div>
                }
                else
                {
                    <div class="alert alert-info mt-2">
                        <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                    </div>
                }
            }
        }
    </section>
</div>
<!--Search Div-->
<aside id="sidebar-left" class="sidebar-left" style="padding-top:141px;">
    <form class="card" method="post" asp-controller="Task" asp-action="OnSite_Search">
        <div class="card-header">
            <h4 class="text-center m-0">Tìm kiếm thông tin</h4>
        </div>
        <div class="card-body">
            <div class="form-label-group">
                <input type="text" class="form-control" id="txt_SearchName" name="Name" placeholder="">
                <label for="txt_SearchName">Tên khách hàng</label>
            </div>
            <div class="form-label-group">
                <input type="number" class="form-control" id="txt_SearchPhone" name="Phone" placeholder="">
                <label for="txt_SearchPhone">Số điện thoại</label>
            </div>
            <div class="form-label-group">
                <input type="text" class="form-control" id="txt_SearchContent" name="Content" placeholder="">
                <label for="txt_SearchContent">Nội dung việc</label>
            </div>
            <input id="txt_Option" type="hidden" name="Option" value="3" />
            <input id="txt_Category" type="hidden" name="Category" value="" />
            <input id="txt_Branch" type="hidden" name="Branch" value="" />
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa fa-search"></i>
                Tìm
            </button>
        </div>
    </form>
</aside>
@section scripts{
    <script>
        var Cate = Utils.GetUrlParameter("Category");
        var Opt = Utils.GetUrlParameter("Option");
        var Bran = Utils.GetUrlParameter("Branch");
        var URL_Edit = "@Url.Action("OnSite_Edit", "Task")";
        var URL_Archive= "@Url.Action("Archive", "Task")";
    </script>
    <script>
        $(document).ready(function () {
            if (Cate === "") {
                Cate = "21";
            }
            $("#txt_Option").val(Opt);
            $("#txt_Category").val(Cate);
            $("#txt_Branch").val(Bran);

            $("a.nav-link").each(function () {
                var attr = $(this).attr("name");
                if (attr === Cate) {
                    $(this).closest("td").addClass("active");
                    return;
                }
            });
        });
        function Edit() {
            window.location = URL_Edit;
        }
        function Archive(key) {
            $.ajax({
                url: URL_Archive,
                type: "POST",
                data: {
                    "TaskKey": key
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        $("#" + key).remove();
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.message, "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }
    </script>
}