﻿@{
    ViewData["Title"] = "Home Page";
}

<header class="header" style="height:70px;
                background-image:url('@ViewBag.Logo');
                background-size:contain;
                background-repeat:no-repeat;
                background-position:center;">
    <div class="d-md-none toggle-sidebar-left"
         style="
    border-radius:10px;
    width:45px;
    height:45px;
    line-height:55px;
    right:5px;
    background:none;">
        <a href="@Url.Action("SignOut","Auth")">
            <i class="fas fa-2x fa-sign-out-alt"></i>
        </a>
    </div>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid p-0">
        <div class="row pr-3 pl-3">
            <div class="col-4">
                <section class="card mb-4 text-center">
                    <a class="card-body p-2 bg-primary text-white" href="tel:0988201737">
                        <h4>
                            <i class="fa-3x fas fa-mobile-alt"></i>
                        </h4>
                        <h4 style="margin:0px; padding:0px; text-align:center">Gọi hổ trợ</h4>
                    </a>
                </section>

            </div>
            <div class="col-4">
                <section class="card mb-4 text-center">
                    <a class="card-body p-2 bg-primary text-white" asp-controller="Home" asp-action="EditTask">
                        <h4>
                            <i class="fa-3x fas fa-edit"></i>
                        </h4>
                        <h4 style="margin:0px; padding:0px; text-align:center">Tạo yêu cầu</h4>
                    </a>
                </section>

            </div>
            <div class="col-4">
                <section class="card mb-4 text-center">
                    <a class="card-body p-2 bg-primary text-white" asp-controller="Home" asp-action="Tracking" asp-route-Style="1">
                        <h4>
                            <i class="fa-3x fas fa-tasks"></i>
                        </h4>
                        <h4 style="margin:0px; padding:0px; text-align:center">Lịch sử yêu cầu</h4>
                    </a>
                </section>
            </div>
            <div class="col-4">
                <section class="card mb-4 text-center">
                    <a class="card-body p-2 bg-primary text-white" asp-controller="Home" asp-action="Setting">
                        <h4>
                            <i class="fa-3x fas fa-cog"></i>
                        </h4>
                        <h4 style="margin:0px; padding:0px; text-align:center">Cài đặt</h4>
                    </a>
                </section>
            </div>
        </div>
        <div class="row pr-3 pl-3 d-none">
            <div class="col-12">
                <div class="card primary">
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
    </section>
</div>