﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Task/_Layout.cshtml";

    var session = Context.Session.GetString("UserLogged");
    var UserLog = JsonConvert.DeserializeObject<User_Model>(session);
    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }
}
<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Task" asp-action="InPlace_List" id="goBack">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4 class="">Công việc tại cửa hàng</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>
<form class="inner-wrapper" method="post" asp-controller="Task" asp-action="InPlace_Save" onsubmit="return CheckSave()">
    <section class="card border">
        <div class="card-header">
            <h4 class="card-title text-center m-0">@ViewBag.TitleTask</h4>
        </div>
        <div class="card-body">
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["error"] !</strong>.
                </div>
            }

            <div class="form-horizontal form-bordered">

                <!-- itmayhan, sdt a Thong -->
                @if (UserLog.UserKey == "7fa5dc11-e327-4636-a3a1-8af49dc8415a" ||
                    UserLog.UserKey == "8c9dccf5-8cca-468c-b9a3-c140dcfd5b22")
                {
                    <div class="form-group-sm">
                        <div class="checkbox-custom checkbox-danger">
                            <input type="checkbox" id="chkClass" name="Class" value="UT">
                            <label for="chkClass">Hàng mang về</label>
                        </div>
                    </div>
                }
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Phone">Cửa hàng/ chi nhánh</label>
                    <div class="col-lg-6">
                        <select class="form-control" name="Branch">
                            <option value="">--//--</option>
                            @foreach (var item in _ListBranch)
                            {
                                <option value="@item.BranchKey">@item.BranchName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Phone">Số điện thoại</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" id="txt_Phone" name="CustomerPhone" value="@Model.CustomerPhone">
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_CustomerName">
                        Nhập tên khách hàng
                    </label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txt_CustomerName" name="CustomerName" value="@Model.CustomerName.ToUpper()">
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Address">Địa chỉ</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txt_Address" name="CustomerAddress" value="@Model.CustomerAddress">
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Description">Nội dung</label>
                    <div class="col-lg-6">
                        <textarea type="text" class="form-control" id="txt_Description" rows="4" name="TaskContent">@Model.TaskContent</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            @if (Model.TaskKey.Length >= 36)
            {
                <button type="button" class="btn btn-danger" onclick="Delete('@Model.TaskKey')">
                    <i class="fa fa-trash"></i> Xóa
                </button>
            }
            <button type="button" class="btn btn-default go-back">
                <i class="fas fa-times"></i>
                Trở lại
            </button>
            <button type="submit" class="btn btn-primary float-right">
                <i class="fas fa-paper-plane"></i>
                Gửi/ cập nhật
            </button>
        </div>
    </section>
    <input id="txt_Class" type="hidden" name="Class" value="@Model.Class" />
    <input id="txt_TaskKey" type="hidden" name="TaskKey" value="@Model.TaskKey" />
    <input id="txt_CategoryKey" type="hidden" name="CategoryKey" value="@Model.CategoryKey" />
    <input id="txt_CustomerKey" type="hidden" name="CustomerKey" value="@Model.CustomerKey" />
</form>

@section scripts{
    <script>
        var URL_GetCustomer = "@Url.Action("Get_CustomerPhone", "Task")";
        var URL_Delete = "@Url.Action("Delete", "Task")";
        var URL_List = "@Url.Action("InPlace_List", "Task")";
    </script>
    <script>
        $(document).ready(function () {
            $("#txt_Phone").blur(function () {
                GetCustomer();
            });
            $("#goBack").click(function (e) {
                e.preventDefault();
                window.location = URL_List + "?CategoryKey=" + $("#txt_CategoryKey").val();
            });

            var cls = $("#txt_Class").val();
            if (cls === "UT") {
                $("#chkClass").prop('checked', true);
            }
        });

        function CheckSave() {
            if ($('#chkClass').is(':checked')) {
                $("#txt_Class").val("UT");
            }
            else {
                $("#txt_Class").val("BT");
            }

            var input = $("#txt_CustomerName").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập tên khách hàng !.", "Thông báo", "error");
                $("#txt_CustomerName").focus();
                $("#txt_CustomerName").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_CustomerName").css({ "background": "white" });
            }

            input = $("#txt_Phone").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập số điện thoại khách hàng !.", "Thông báo", "error");
                $("#txt_Phone").focus();
                $("#txt_Phone").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_Phone").css({ "background": "white" });
            }

            input = $("#txt_Address").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập địa chỉ khách hàng !.", "Thông báo", "error");
                $("#txt_Address").focus();
                $("#txt_Address").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_Address").css({ "background": "white" });
            }

            input = $("#txt_Description").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập nội dung thông tin !.", "Thông báo", "error");
                $("#txt_Description").focus();
                $("#txt_Description").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_Description").css({ "background": "white" });
            }

            return true;
        }
        function GetCustomer() {
            var Phone = $("#txt_Phone").val();
            if (Phone.length >= 10) {
                $.ajax({
                    url: URL_GetCustomer,
                    type: "GET",
                    data: {
                        "Phone": Phone
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);
                            $("#txt_CustomerName").val(obj.FullName);
                            $("#txt_Address").val(obj.Address);
                            $("#txt_CustomerKey").val(obj.CustomerKey);
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify("Thông báo", err.responseText, "error");
                    },
                    complete: function () {

                    }
                });
            }
        }
        function Delete(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "TaskKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        window.location = URL_List + "?CategoryKey=" + $("#txt_CategoryKey").val();
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.Message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
    </script>
}