﻿@model Task_Model
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _Logs = new List<Task_Log_Model>();
    if (ViewBag.History != null)
    {
        _Logs = ViewBag.History as List<Task_Log_Model>;
    }
}

<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Home" asp-action="Tracking">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4 class="">Chi tiết</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>
<section class="card border">
    <div class="card-header">
        Số:
        <span class="font-weight-semibold">@Model.TaskID</span>
        <span class="float-right">Ngày y/c: @Model.CreatedOn.ToString("dd/MM HH:mm")</span>
    </div>
    <div class="card-body">
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger">
                <strong>@TempData["error"] !</strong>.
            </div>
        }
        <div>
            <i class="fas fa-user-tie fa-fw text-info va-middle"></i>:
            <span class="font-weight-bold">@Model.CustomerName.ToUpper()</span>
        </div>
        <div>
            <i class="fas fa-mobile fa-fw text-info va-middle"></i>:
            <a href="tel:@Model.CustomerPhone" class="font-weight-bold">@Model.CustomerPhone</a>
        </div>
        <div>
            <i class="fas fa-map-marker-alt fa-fw text-info va-middle"></i>:
            <span class="font-weight-bold">@Model.CustomerAddress</span>
        </div>
        <div>
            <i class="fas fa-tasks fa-fw text-info va-middle"></i>:
            @Model.TaskContent
        </div>
        <div>
            @if (Model.TaskFile.Length > 0)
            {
                <img class="rounded img-fluid" src="@Url.Content(Model.TaskFile)" />
            }
        </div>
    </div>
    <div class="card-footer ">
        @if (Model.StatusKey == 0)
        {
            <span class="font-weight-bold text-danger">@Model.StatusName</span>
        }
        @if (Model.OwnerBy.Length > 0)
        {
            <span class="font-weight-bold">Thực hiện: @Model.OwnerName</span>
            <span class="float-right font-weight-bold">
                SĐT:
                <a href="tel:@Model.OwnerPhone">@Model.OwnerPhone</a>
            </span>
        }
        <div class="timeline timeline-simple mt-3 mb-3">
            <div class="tm-body">
                <div class="tm-title">
                    <h5 class="m-0 pt-2 pb-2 text-uppercase">Quá trình thực hiện</h5>
                </div>
                <ol class="tm-items">

                    @foreach (var item in _Logs)
                    {
                        <li>
                            <div class="tm-box">
                                <p class="text-muted mb-0">
                                    @item.CreatedOn.ToString() | @TN_Utils.TimeAgo(item.CreatedOn, DateTime.Now)
                                </p>
                                <span class="float-right">@item.CategoryName</span>

                                @if (item.StatusKey == "0")
                                {
                                    <span class="text-danger font-weight-semibold">
                                        @item.StatusName
                                    </span>
                                    <br />
                                    <span>@item.Description</span>
                                }
                                else
                                {
                                    <span>
                                        @item.StatusName
                                    </span>
                                }
                            </div>
                        </li>
                    }
                </ol>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            
        });
    </script>
}