﻿@model Task_Model
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .task-header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
        background: white;
        border-bottom: 1px solid #2196f3;
    }

    .badge {
        /*position: absolute;
                    top: 60px;
                    margin-left: 12px;*/
    }

    label.cameraButton {
        display: inline-block;
        margin: 1em 0;
        /* Styles to make it look like a button */
        padding: 0.5em;
        border: 2px solid #666;
        border-color: #EEE #CCC #CCC #EEE;
        background-color: #DDD;
    }

        /* Look like a clicked/depressed button */
        label.cameraButton:active {
            border-color: #CCC #EEE #EEE #CCC;
        }

        /* This is the part that actually hides the 'Choose file' text box for camera inputs */
        label.cameraButton input[accept*="camera"] {
            display: none;
        }
</style>

<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Gửi yêu cầu</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>
<div class="inner-wrapper">
    <form role="main" class="container-fluid" enctype="multipart/form-data" asp-controller="Home" asp-action="SaveTaskAsync">
        <section class="card border">
            <div class="card-header">
                <h4 class="card-title text-center m-0">Nội dung</h4>
            </div>
            <div class="card-body">
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["error"] !</strong>.
                    </div>
                }

                <div class="form-horizontal form-bordered">
                    <div class="form-group-sm row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Phone">Số điện thoại</label>
                        <div class="col-lg-6">
                            <input type="number" class="form-control" id="txt_Phone" name="Phone" value="@Model.CustomerPhone">
                        </div>
                    </div>
                    <div class="form-group-sm row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_CustomerName">
                            Nhập tên khách hàng
                        </label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="txt_CustomerName" name="Name" value="@Model.CustomerName.ToUpper()">
                        </div>
                    </div>
                    <div class="form-group-sm row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Address">Địa chỉ</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="txt_Address" name="Address" value="@Model.CustomerAddress">
                        </div>
                    </div>
                    <div class="form-group-sm row">
                        <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Description">Nội dung</label>
                        <div class="col-lg-6">
                            <textarea type="text" class="form-control" id="txt_Description" rows="4" name="Content"></textarea>
                        </div>
                    </div>
                    <div class="form-group-sm row d-none">
                        <div class="col-lg-12 text-center">
                            <label class="cameraButton ">
                                Chọn ảnh
                                <input type="file" accept="image/*;capture=camera" id="fileUpload" name="FileUpload">
                            </label>
                            <img id="imgview" src="#" alt="your image" style="display:none; width:100%" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-default go-back">
                    <i class="fas fa-times"></i>
                    Trở lại
                </button>
                <button type="submit" class="btn btn-primary float-right" onclick="ShowLoading()">
                    <i class="fas fa-paper-plane"></i>
                    Gửi
                </button>
            </div>
        </section>
    </form>
</div>
@section scripts{
    <script>
        var URL_Save = "@Url.Action("SaveTaskAsync", "Home")";
        function ShowLoading() {
            Utils.LoadIn();
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#imgview").attr("src", e.target.result);
                    $("#imgview").show();
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#fileUpload").change(function () {
            readURL(this);
        });
    </script>
}