﻿
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Home/Setting/_Layout.cshtml";

    var _ListData = new List<Task_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Task_Model>;
    }
}

<!--CSS-->
<style>
    .task-header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
        background: white;
        border-bottom: 1px solid #2196f3;
    }

    .badge {
        /*position: absolute;
                    top: 60px;
                    margin-left: 12px;*/
    }
</style>

<!--Begin Form-->
<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Kết quả tìm kiếm</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fas fa-2x fa fa-search"></i>
                    </a>
                </td>
            </tr>
        </table>        
    </div>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid">
        @{
            if (TempData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["Error"] !</strong>.
                </div>
            }
            else
            {
                if (_ListData.Count > 0)
                {
                    if (ViewBag.Message != null)
                    {
                        <div class="alert alert-info">
                            <strong>@ViewBag.Message.</strong>
                        </div>
                    }

                    foreach (var item in _ListData)
                    {
                        string CreatedOn = TN_Utils.TimeAgo(item.CreatedOn, DateTime.Now);
                        string ID = item.TaskID;
                        string Key = item.TaskKey;
                        string Name = item.CustomerName;
                        string Phone = item.CustomerPhone;
                        string Address = item.CustomerAddress;
                        string Content = item.TaskContent;
                        string Style = item.Style;
                        string Group = item.GroupName;
                        string Category = item.CategoryName;
                        string StatusName = item.StatusName;
                        int StatusKey = item.StatusKey;
                        string BranchName = item.BranchName;

                        <div class="card border border-primary mt-1" id="@Key" onclick="Open('@Key')">
                            <div class="card-header p-2">
                                <div class="text-center font-weight-semibold">@BranchName</div>
                                <div>
                                    <span class="font-weight-semibold">Số: @ID</span>
                                    <span class="font-weight-semibold float-right">Ngày y/c: @CreatedOn</span>
                                </div>
                            </div>
                            <div class="card-body p-2">
                                <div>
                                    <i class="fas fa-user-tie fa-fw text-info va-middle"></i>:
                                    <span class="font-weight-bold">@Name.ToUpper()</span>
                                </div>
                                <div>
                                    <i class="fas fa-mobile fa-fw text-info va-middle"></i>:
                                    <a href="tel:@Phone" class="font-weight-bold">@Phone</a>
                                    <a id="btnSms" phonenumber="@Phone" href="sms:@Phone" class="font-weight-bold text-info float-right d-none">Nhắn tin</a>
                                    <a id="btnCall" phonenumber="@Phone" href="tel:@Phone" class="font-weight-bold text-info float-right mr-1 d-none">Gọi | </a>
                                </div>
                                <div>
                                    <i class="fas fa-map-marker-alt fa-fw text-info va-middle"></i>:
                                    <span class="font-weight-bold">@Address</span>
                                </div>
                                <div>
                                    <i class="fas fa-tasks fa-fw text-info va-middle"></i>:
                                    @Content
                                </div>
                            </div>
                            <div class="card-footer p-2">
                                @if (StatusKey == 0)
                                {
                                    <span class="font-weight-bold text-danger blink_me">@StatusName</span>
                                }
                                @if (item.OwnerBy.Length > 0)
                                {
                                    <span class="float-right font-weight-bold">Thực hiện: @item.OwnerName</span>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="alert alert-info">
                        <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                    </div>
                }
            }
        }
    </section>
</div>

<!--End Form-->
<!--Search Div-->
<aside id="sidebar-left" class="sidebar-left" style="padding-top:141px;">
    <form class="card" method="post" asp-controller="Home" asp-action="Search">
        <div class="card-header">
            <h4 class="text-center m-0">Tìm kiếm thông tin</h4>
        </div>
        <div class="card-body">
            <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text" style="width:100px">
                        Từ ngày
                    </span>
                </span>
                <input name="FromDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem">
            </div>
            <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text" style="width:100px">
                        Đến ngày
                    </span>
                </span>
                <input Name="ToDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem">
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa fa-search"></i>
                Tìm
            </button>
        </div>
        <input id="txt_SearchStyle" type="hidden" name="Style" />
    </form>
</aside>
<!--Scripts-->
@section scripts{
    <script>
       
        $(document).ready(function () {
            
        });
        function Open(id) {
            var url = "@Url.Action("ViewTask", "Home", new { TaskKey = "_id_" })";
            url = url.replace("_id_", id);
            window.location = url;
        }
    </script>
}
