﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@model Task_Model
@{
    Layout = "~/Views/Task/_Layout.cshtml";
    var session = Context.Session.GetString("UserLogged");
    var UserLog = JsonConvert.DeserializeObject<User_Model>(session);

    var _ListEmployee = new List<Employee_Model>();
    if (ViewBag.ListEmployee != null)
    {
        _ListEmployee = ViewBag.ListEmployee as List<Employee_Model>;
    }
}

<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Task" asp-action="OutSite_List" id="goBack">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4 class="">Công việc ngoài cửa hàng</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>

<form class="inner-wrapper" method="post" asp-controller="Task" asp-action="OutSite_Process" id="frmPost">
    <section class="card border">
        <div class="card-header">
            <span class="font-weight-semibold">Số: @Model.TaskID</span>
            @{
                if (Model.Style == "GH")
                {
                    <span class="font-weight-semibold text-primary">Giao hàng</span>
                }
                else
                {
                    <span class="font-weight-semibold text-primary">Sửa máy</span>
                }
            }
            <span class="float-right">Ngày y/c: @Model.CreatedOn.ToString("dd/MM HH:mm")</span>
        </div>
        <div class="card-body">
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["error"] !</strong>.
                </div>
            }
            <div>
                <i class="fas fa-info-circle fa-fw text-info va-middle"></i>:
                <span class="font-weight-bold">@Model.CategoryName</span>
                @if (Model.OwnerBy.Length > 0)
                {
                    <span class="font-weight-bold float-right">Thực hiện: @Model.OwnerName</span>
                }
            </div>
            <div>
                <i class="fas fa-user-tie fa-fw text-info va-middle"></i>:
                <span class="font-weight-bold">@Model.CustomerName.ToUpper()</span>
            </div>
            <div>
                <i class="fas fa-mobile fa-fw text-info va-middle"></i>:
                <a href="tel:@Model.CustomerPhone" class="font-weight-bold">@Model.CustomerPhone</a>
                <a id="btnSms" phonenumber="@Model.CustomerPhone" href="sms:@Model.CustomerPhone" class="font-weight-bold text-info float-right">Nhắn tin</a>
                <a id="btnCall" phonenumber="@Model.CustomerPhone" href="tel:@Model.CustomerPhone" class="font-weight-bold text-info float-right mr-1">Gọi | </a>
            </div>
            <div>
                <i class="fas fa-map-marker-alt fa-fw text-info va-middle"></i>:
                <span class="font-weight-bold">@Model.CustomerAddress</span>
            </div>
            <div>
                <i class="fas fa-tasks fa-fw text-info va-middle"></i>:
                @Model.TaskContent
            </div>
            <hr mb-2 />
            @if (Model.Style == "SM" && Model.CategoryKey == 27)
            {
                <label class="" for="txt_FixNote">
                    Nội dung sữa
                </label>
                <textarea class="form-control mb-1" id="txt_Todo" name="Todo"></textarea>
            }
        </div>
        <div class="card-footer">
            @if (Model.CreatedBy == UserLog.UserKey && Model.CategoryKey == 26)
            {
                <a class="btn-sm btn btn-warning"
                   asp-controller="Task"
                   asp-action="OutSite_Edit"
                   asp-route-TaskKey="@Model.TaskKey">
                    <i class="far fa-edit"></i> Sửa
                </a>
            }
            @Html.Raw(ViewBag.Button)
            <div class="form-group-sm mt-2" style="display:none" id="DivNote">
                <label class="" for="txt_FixNote">
                    Lý do lấy máy/ không sửa được tại chỗ
                </label>
                <textarea class="form-control mb-1" id="txt_FixNote" name="FixNote"></textarea>
                <div class="form-group-sm">
                    <div class="checkbox-custom checkbox-danger">
                        <input type="checkbox" id="chkAuto" name="Class" value="true">
                        <label for="chkClass" class="text-danger">Tự động lập việc tại cửa hàng</label>
                    </div>
                    <p class="text-danger">Tích chọn nếu bạn muốn tự động lập việc sửa máy tại cửa hàng sử dụng lại thông tin này !.</p>
                </div>
                <button id="btnReturn" type="button" class="btn-sm btn btn-danger float-right mt-1">
                    <i class="fas fa-stop-circle"></i>
                    Cập nhật
                </button>
            </div>
            <div id="DivChange" style="display:none">
                <label class="" for="txt_CustomerName">
                    Đang thực hiện: @Model.OwnerName
                </label>
                <br />
                <label class="" for="txt_CustomerName">
                    Đổi sang.
                </label>
                <select class="form-control select2" id="cbo_Employee">
                    <option value="">--//--</option>
                    @foreach (var item in _ListEmployee)
                    {
                        <option value="@item.EmployeeKey">@item.FullName</option>
                    }
                </select>
                <button id="btnChangeSave" type="button" class="btn-sm btn btn-warning float-right mt-1">
                    <i class="fas fa-stop-circle"></i>
                    Thay đồi thực hiện
                </button>
            </div>
        </div>
    </section>
    <input id="txt_Auto" type="hidden" name="AutoTask" value="0" />
    <input id="txt_Status" type="hidden" name="Status" />
    <input id="txt_TaskKey" type="hidden" name="TaskKey" value="@Model.TaskKey" />
    <input id="txt_CategoryKey" type="hidden" name="CategoryKey" value="@Model.CategoryKey" />
    <input id="txt_CustomerKey" type="hidden" name="CustomerKey" value="@Model.CustomerKey" />
</form>

@section scripts{
    <script>
        var URL_List = "@Url.Action("OutSite_List", "Task")";
        var URL_Process = "@Url.Action("OutSite_Process", "Task")";
        var URL_Change = "@Url.Action("Change_Employee","Task")";
    </script>
    <script>

        $(document).ready(function () {
            $("#goBack").click(function (e) {
                e.preventDefault();
                window.location = URL_List + "?CategoryKey=" + $("#txt_CategoryKey").val();
            });

            $("input.number").number(true, 0, ",", ".");
            $("#btnYes").click(function () {
                $("#txt_Status").val(1);
                $("#frmPost").submit();
            });
            $("#btnNo").click(function () {
                $("#txt_Status").val(0);
                $("#DivNote").toggle();

                if ($("#DivNote").is(':visible')) {
                    $("#chkAuto").prop('checked', true);
                    $("#txt_Auto").val(1);
                }
                else {
                    $("#chkAuto").prop('checked', false);
                    $("#txt_Auto").val(0);
                }
            });
            $("#btnReturn").click(function () {
                $("#frmPost").submit();
            });
            $("#btnChange").click(function () {
                $("#DivChange").toggle();
            });
            $("#btnChangeSave").click(function () {
                var employee = $("#cbo_Employee").val();
                if (employee === null) {
                    Utils.OpenNotify("Thông báo", "Bạn phải chọn nhân viên thay thế", "warning");
                    return;
                }
                var taskkey = $("#txt_TaskKey").val();

                $.confirm({
                    type: "red",
                    typeAnimated: true,
                    title: "Đã có chắc !.",
                    content: "Doanh số và công việc sẽ được tính cho người được nhận ?.",
                    buttons: {
                        confirm: {
                            text: "Đồng ý",
                            btnClass: "btn-red",
                            action: function () {
                                $.ajax({
                                    url: URL_Change,
                                    type: "POST",
                                    data: {
                                        "TaskKey": taskkey,
                                        "Employee": employee
                                    },
                                    beforeSend: function () {

                                    },
                                    success: function (r) {
                                        if (r.success) {
                                            location.reload(true);
                                        }
                                        else {
                                            Utils.OpenNotify("Thông báo", r.Message, "error");
                                        }
                                    },
                                    error: function (err) {
                                        Utils.OpenNotify("Thông báo", err.responseText, "error");
                                    },
                                    complete: function () {

                                    }
                                });
                            }
                        },
                        cancel: {
                            text: "Hủy",
                        }
                    }
                });
            });
        });

        function CheckSave() {
            var input = $("#txt_TaskAmount").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập số tiền báo sửa !.", "Thông báo", "error");
                $("#txt_TaskAmount").focus();
                $("#txt_TaskAmount").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_TaskAmount").css({ "background": "white" });
            }

            return true;
        }
    </script>
}