﻿
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Task/_Layout.cshtml";
    var _ListCustomer = new List<Customer_Model>();
    if (ViewBag.ListCustomer != null)
    {
        _ListCustomer = ViewBag.ListCustomer as List<Customer_Model>;
    }
}
<style>
    .select2-drop li {
        white-space: pre-line;
    }
</style>
<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Task" asp-action="OutSite_List" id="goBack">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Tạo mới</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>
<form class="inner-wrapper" method="post" asp-controller="Task" asp-action="OutSite_Save" onsubmit="return CheckSave()">
    <section class="card border">
        <div class="card-header">
            <h4 class="card-title text-center">Công việc ngoài cửa hàng</h4>
        </div>
        <div class="card-body">
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["error"] !</strong>.
                </div>
            }
            <div class="form-horizontal form-bordered">
                <div class="form-group-sm row">
                    <div class="col-6">
                        <div class="radio-custom radio-warning">
                            <input type="radio" id="rdoDelivery" name="Style" value="GH">
                            <label for="rdoDelivery">Giao hàng</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="radio-custom radio-warning">
                            <input type="radio" id="rdoFix" name="Style" value="SM">
                            <label for="rdoFix">Sửa máy</label>
                        </div>
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_CustomerName">
                        Nhập/ chọn tên khách hàng
                    </label>
                    <div class="col-lg-6">
                        <select class="select2 form-control" name="CustomerKey" id="cbo_Customer">
                            <option selected>--Chọn--</option>
                            @foreach (var item in _ListCustomer)
                            {
                                if (item.CustomerKey == Model.CustomerKey)
                                {
                                    <option selected value="@item.CustomerKey">@(item.FullName + " SĐT: " + item.Phone)</option>
                                }
                                else
                                {
                                    <option value="@item.CustomerKey">@(item.FullName + " SĐT: " + item.Phone)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Phone">Số điện thoại</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" id="txt_Phone" name="CustomerPhone" value="@Model.CustomerPhone">
                    </div>
                </div>

                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Address">Địa chỉ</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txt_Address" name="CustomerAddress" value="@Model.CustomerAddress">
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Description">Nội dung</label>
                    <div class="col-lg-6">
                        <textarea type="text" class="form-control" id="txt_Description" rows="4" name="TaskContent">@Model.TaskContent</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            @if (Model.TaskKey.Length >= 36)
            {
                <button type="button" class="btn btn-danger" onclick="Delete('@Model.TaskKey')">
                    <i class="fa fa-trash"></i> Xóa
                </button>
            }
            <button type="button" class="btn btn-default go-back">
                <i class="fas fa-times"></i>
                Trở lại
            </button>
            <button type="submit" class="btn btn-primary float-right">
                <i class="fas fa-paper-plane"></i>
                Gửi/ cập nhật
            </button>
        </div>
    </section>
    <input id="txt_TaskKey" type="hidden" name="TaskKey" value="@Model.TaskKey" />
    <input id="txt_CategoryKey" type="hidden" name="CategoryKey" value="@Model.CategoryKey" />
    <input id="txt_CustomerKey" type="hidden" name="CustomerKey" value="@Model.CustomerKey" />
    <input id="txt_CustomerName" type="hidden" name="CustomerName" value="@Model.CustomerName" />
    <input id="txt_Style" type="hidden" value="@Model.Style" />
</form>

@section scripts{
    <script>
        var URL_GetCustomer = "@Url.Action("Get_CustomerKey", "Task")";
        var URL_Delete = "@Url.Action("Delete", "Task")";
        var URL_List = "@Url.Action("OutSite_List", "Task")";
    </script>
    <script>
        var _New = 0;
        $(document).ready(function () {           
            $("#goBack").click(function (e) {
                e.preventDefault();
                window.location = URL_List + "?CategoryKey=" + $("#txt_CategoryKey").val();
            });
            var Style = $("#txt_Style").val();
            if (Style.length > 0) {
                var $radios = $('input:radio[name=Style]');
                if ($radios.is(':checked') === false) {
                    $radios.filter('[value=' + Style + ']').prop('checked', true);
                }
            }

            $("#cbo_Customer").change(function () {
                var val = $(this).val();
                GetCustomer(val);
            });

            var key = $("#txt_TaskKey").val();
            if (key.length >= 36) {
                $("#cbo_Customer").prop('disabled', true);
                $("#txt_Phone").prop('readonly', true);
                $("#txt_Address").prop('readonly', true);
            }
        });

        function GetCustomer(Key) {
            $.ajax({
                url: URL_GetCustomer,
                type: "GET",
                data: {
                    "CustomerKey": Key
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        var obj = JSON.parse(r.data);
                        $("#txt_CustomerName").val(obj.FullName);
                        $("#txt_Address").val(obj.Address);
                        $("#txt_Phone").val(obj.Phone);
                        $("#txt_CustomerKey").val(obj.CustomerKey);
                        _New = 0;
                    }
                    else {
                        _New = 1;
                        $("#txt_Address").val("");
                        $("#txt_Phone").val("");
                        $("#txt_CustomerKey").val("");
                        $("#txt_CustomerName").val("");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }
        function CheckSave() {
            if (!$("input[name='Style']:checked").val()) {
                Utils.OpenNotify("Bạn phải chọn giao hàng/ sửa máy !", "Thông báo", "error");
                return false;
            }

            var input = "";
            if (_New === 1) {
                input = $("#cbo_Customer option:selected").val();
                if (input === "" || input === undefined) {
                    Utils.OpenNotify("Bạn phải nhập tên khách hàng !.", "Thông báo", "error");
                    return false;
                }
                input = $("#txt_Phone").val();
                if (input === "" || input === undefined) {
                    Utils.OpenNotify("Bạn phải nhập số điện thoại khách hàng !.", "Thông báo", "error");
                    $("#txt_Phone").focus();
                    $("#txt_Phone").css({ "background": "lightcoral" });
                    return false;
                }
                else {
                    $("#txt_Phone").css({ "background": "white" });
                }

                input = $("#txt_Address").val();
                if (input === "" || input === undefined) {
                    Utils.OpenNotify("Bạn phải nhập địa chỉ khách hàng !.", "Thông báo", "error");
                    $("#txt_Address").focus();
                    $("#txt_Address").css({ "background": "lightcoral" });
                    return false;
                }
                else {
                    $("#txt_Address").css({ "background": "white" });
                }
            }

            input = $("#txt_Description").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập nội dung thông tin !.", "Thông báo", "error");
                $("#txt_Description").focus();
                $("#txt_Description").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_Description").css({ "background": "white" });
            }

            return true;
        }       
        function Delete(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "TaskKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        window.location = URL_List + "?CategoryKey=" + $("#txt_CategoryKey").val();
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
    </script>
}