﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Task/_Layout.cshtml";

    var _ListData = new List<Task_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Task_Model>;
    }

    var session = Context.Session.GetString("UserLogged");
    var UserLog = JsonConvert.DeserializeObject<User_Model>(session);
}
<style>
    .task-header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
        background: white;
        border-bottom: 1px solid #2196f3;
    }
</style>
<header class="header" style="height:145px">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Công việc ngoài cửa hàng</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fas fa-2x fa fa-search"></i>
                    </a>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-sm mb-0">
            <tr>
                <td style="width:90px">
                    <a class="nav-link p-0 text-center " asp-controller="Task" asp-action="OutSite_List" asp-route-CategoryKey="26">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        Việc mới
                    </a>
                </td>
                <td style="width:90px;">
                    <a class="nav-link p-0 text-center " asp-controller="Task" asp-action="OutSite_List" asp-route-CategoryKey="27">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        Giao máy/ đi sửa
                    </a>
                </td>
                <td style="width:90px; display:none">
                    <a class="nav-link p-0 text-center " asp-controller="Task" asp-action="OutSite_List" asp-route-CategoryKey="28">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        Máy lấy về
                    </a>
                </td>
                <td style="width:90px; display:none">
                    <a class="nav-link p-0 text-center " asp-controller="Task" asp-action="OutSite_List" asp-route-CategoryKey="29">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        Chờ giao trả máy
                    </a>
                </td>
                <td style="width:90px;">
                    <a class="nav-link p-0 text-center " asp-controller="Task" asp-action="OutSite_List" asp-route-CategoryKey="30">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        Hoàn thành
                    </a>
                </td>
            </tr>
        </table>
    </div>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid">
        @{
            if (_ListData.Count > 0)
            {
                foreach (var item in _ListData)
                {
                    #region [Data]
                    string CreatedOn = item.CreatedOn.ToString("dd/MM HH:mm");
                    string ID = item.TaskID;
                    string Key = item.TaskKey;
                    string Name = item.CustomerName.ToUpper();
                    string Phone = item.CustomerPhone;
                    string Address = item.CustomerAddress;
                    string Content = item.TaskContent;
                    int CategoryKey = item.CategoryKey;
                    string CompleteDate = item.CompleteDate.ToString("dd/MM HH:mm");
                    #endregion


                    <div class="card border border-primary mt-1" id="@Key">
                        <div class="card-header p-2">
                            <span class="font-weight-semibold">Số: @ID/</span>
                            @{
                                if (item.Style == "GH")
                                {
                                    <span class="font-weight-semibold text-primary">Giao hàng</span>
                                }
                                else
                                {
                                    <span class="font-weight-semibold text-primary">Sửa máy</span>
                                }
                            }

                            <span class="float-right">Ngày y/c: @CreatedOn</span>
                        </div>
                        <div class="card-body p-2">
                            <div>
                                <i class="fas fa-user-tie fa-fw text-info va-middle"></i>:
                                <span class="font-weight-bold">@Name</span>
                            </div>
                            <div>
                                <i class="fas fa-mobile fa-fw text-info va-middle"></i>:
                                <a href="tel:@Phone" class="font-weight-bold">@Phone</a>
                                <a id="btnSms" phonenumber="@Phone" href="sms:@Phone" class="font-weight-bold text-info float-right d-none">Nhắn tin</a>
                                <a id="btnCall" phonenumber="@Phone" href="tel:@Phone" class="font-weight-bold text-info float-right d-none mr-1">Gọi | </a>
                            </div>
                            <div>
                                <i class="fas fa-map-marker-alt fa-fw text-info va-middle"></i>:
                                <span class="font-weight-bold">@Address</span>
                            </div>
                            <div>
                                <i class="fas fa-tasks fa-fw text-info va-middle"></i>:
                                @Content
                            </div>
                            @if (CategoryKey == 25)
                            {
                                <div>Ngày hoàn thành: @CompleteDate</div>
                            }
                        </div>
                        <div class="card-footer p-2">
                            <a class="btn-sm btn btn-primary"
                               asp-controller="Task"
                               asp-action="OutSite_Detail"
                               asp-route-TaskKey="@Key">
                                <i class="fa fa-eye"></i>
                                Xem
                            </a>
                            @if (item.CategoryKey == 30)
                            {
                                <button type="button" class="btn-sm btn btn-warning"
                                        onclick="Archive('@Key')">
                                    <i class="fas fa-box"></i>
                                    Ẩn
                                </button>
                            }
                            @if (item.OwnerBy.Length > 0)
                            {
                                <span class="float-right font-weight-bold">Thực hiện: @item.OwnerName</span>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-info">
                    <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                </div>
            }
        }
    </section>
</div>
<!--Search Div-->
<aside id="sidebar-left" class="sidebar-left" style="padding-top:141px;">
    <form class="card" method="post" asp-controller="Task" asp-action="Search">
        <div class="card-header">
            <h4 class="text-center m-0">Tìm kiếm thông tin</h4>
        </div>
        <div class="card-body">
            <div class="form-label-group">
                <input type="text" class="form-control" id="txt_SearchName" name="Name" placeholder="">
                <label for="txt_SearchName">Tên khách hàng</label>
            </div>
            <div class="form-label-group">
                <input type="number" class="form-control" id="txt_SearchPhone" name="Phone" placeholder="">
                <label for="txt_SearchPhone">Số điện thoại</label>
            </div>
            <input id="txt_SearchCate" type="hidden" name="CategoryKey" />
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa fa-search"></i>
                Tìm
            </button>
        </div>
    </form>
</aside>
@{
    var action = ViewContext.RouteData.Values["action"].ToString();
    var role = UserLog.ListRole.SingleOrDefault(s => s.ActionName == action);
    if (role != null)
    {
        if (role.RoleAdd)
        {
            <button type="button" class="btn btn-primary btn-add" onclick="Edit()">
                <i class="fas fa-plus-circle"></i>
                Thêm mới
            </button>
        }
    }
}


@section scripts{
    <script>
        var Cate = "@ViewBag.ActiveCate";
        var URL_Edit = "@Url.Action("OutSite_Edit", "Task")";
        var URL_Archive= "@Url.Action("Archive", "Task")";
    </script>
    <script>
        $(document).ready(function () {
            $("a.nav-link").each(function () {
                var attr = $(this).attr("href");
                if (attr.indexOf(Cate) > -1) {
                    $(this).closest("td").addClass("active");
                    return;
                }
            });
        });
        function Edit() {
            window.location = URL_Edit;
        }
        function Archive(key) {
            $.ajax({
                url: URL_Archive,
                type: "POST",
                data: {
                    "TaskKey": key
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        $("#" + key).remove();
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.message, "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }
    </script>
}