﻿@using Newtonsoft.Json
@{
    Layout = null;

    var _UserName = ViewBag.UserName;
    var _Password = ViewBag.Password;

    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="@Url.Content("~/css/Loading.css")" />
    <style>
        select {
            font-size: 15.3333px;
            font-weight: 600;
            border-bottom: 2px solid #444;
            padding: 12px 40px 12px 20px;
            width: 100%;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div class="se-pre-con" style="background: #3498db;">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>

    <form class="login" method="post" asp-controller="Auth" asp-action="SignIn" id="dvLogin">
        <i class="fa fa-empire"></i>
        <h2>Đăng nhập</h2>
        <div class="group">
            <input type="text" placeholder="Tên đăng nhập" name="Username" value="@_UserName">
            <i class="fa fa-user"></i>
        </div>
        <div class="group">
            <input type="password" placeholder="Mật khẩu" name="Password" value="@_Password">
            <i class="fa fa-lock"></i>
        </div>
        <button type="submit">
            <i class="fa fa-send"></i>Đăng nhập
        </button>
        <p>Thông tin đăng nhập sẽ tự lưu cho lần kế tiếp !.</p>
        @if (ViewBag.Message == "405")
        {
            <p>Tên đăng nhập/ mật khẩu không đúng !.</p>
            <hr />
        }
        <div class="">
            @*<p class="fs" style="margin-top:10px">Quên <a href="#">Tên đăng nhập</a> / <a href="#">Mật khẩu</a> ? </p>*@
            <p class="ss">Bạn chưa có tài khoản ? <a href="#" id="btnReg">Đăng ký</a></p>
        </div>
    </form>
    <form class="login" method="post" asp-controller="Auth" asp-action="Register" id="dvRegister" style="display:none;" onsubmit="validate()">
        <i class="fa fa-key icon-logo"></i>
        <h2>Đăng ký tài khoản nhân viên</h2>
        <div class="group">
            <input type="text" placeholder="Họ tên" name="Name" value="" id="txtName">
            <i class="fa fa-user"></i>
        </div>
        <div class="group">
            <input id="txtPhone" type="text" placeholder="Số điện thoại" name="Phone" value="" onblur="CheckPhone();">
            <i class="fa fa-user"></i>
            <span class="text-danger">Lưu ý: số điện thoại sẽ là tên đăng nhập mặt định của bạn !.</span>
        </div>
        <div class="group">
            <input type="password" placeholder="Mật khẩu" name="Password" value="" id="txtPassword">
            <i class="fa fa-lock"></i>
        </div>
        <div class="group">
            <input type="password" placeholder="Lập lại mật khẩu" name="Password" value="" id="txtRepass">
            <i class="fa fa-lock"></i>
        </div>
        <div class="group">
            <input type="text" placeholder="Địa chỉ" name="Address" value="" id="txtAddress">
            <i class="fa fa-user"></i>
        </div>
        <div class="group">
            <select id="cbo_Branch" class="form-control" name="Branch">
                <option value="">--Chọn--</option>
                @foreach (Branch_Model zItem in _ListBranch)
                {
                    <option value="@zItem.BranchKey">@zItem.BranchName</option>
                }
            </select>
        </div>
        <button type="submit" onclick="return validate();">
            <i class="fa fa-send"></i>Đăng ký
        </button>
        <button type="button" id="btnBack">
            <i class="fa fa-backward"></i>Quay lại
        </button>
    </form>
    @{
        if (ViewBag.Message == "IsAuthen")
        {
            <script>
                window.location.replace("@Url.Action("Index", "Home")");
            </script>
        }
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var URL_Phone = "@Url.Action("CheckPhone", "Auth")";
        $("#btnReg").click(function () {
            $("#dvLogin").hide();
            $("#dvForgot").hide();
            $("#dvRegister").show();
        });
        $("#btnForgot").click(function () {
            $("#dvLogin").hide();
            $("#dvRegister").hide();
            $("#dvForgot").show();
        });
        $("#btnBack").click(function () {
            $("#dvLogin").show();
            $("#dvRegister").hide();
            $("#dvForgot").hide();
        });
        function validate() {
            

            var name = $("#txtName").val();
            var phone = $("#txtPhone").val();
            var address = $("#txtAddress").val();
            var password = $("#txtPassword").val();
            var repass = $("#txtRepass").val();
            var branch = $("#cbo_Branch").val();

            if (password != repass) {
                alert("Mật khẩu không trùng nhau");
              
                return false;
            }

            if (name.length == 0) {
                alert("Bạn phải nhập họ tên");
                
                return false;
            }

            if (phone.length == 0) {
                alert("Bạn phải nhập số điện thoại");
                
                return false;
            }

            if (address.length == 0) {
                alert("Bạn phải nhập địa chỉ");
                return false;
            }

            if (branch.length == 0) {
                alert("Bạn phải chọn chi nhánh");
                return false;
            }

            return true;
        }
        function CheckPhone() {
            var phone = $("#txtPhone").val();
            if (phone.length < 10) {
                alert("Bạn phải nhập đúng số điện thoại !.");
            }
            else {
                $.ajax({
                    url: URL_Phone,
                    type: "POST",
                    data: {
                        "Phone": phone
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            alert("Số điện thoại này đã được sử dụng, vui lòng nhập số điện thoại khác !.");
                            $("#txtPhone").focus(function () {
                                $(this).select();
                            });
                        }
                    },
                    error: function (err) {

                    },
                    complete: function () {

                    }
                });
            }
        }
        $(".se-pre-con").fadeOut("slow");
    </script>
    @{
        if (ViewBag.Message == "IsAuthen")
        {
            <script>
                $(".se-pre-con").fadeIn("slow");
                window.location.replace("@Url.Action("Index", "Home")");
            </script>
        }
    }
</body>
</html>
