﻿
@{
    ViewData["Title"] = "ChangePass";
    Layout = "~/Views/Home/Setting/_Layout.cshtml";
}
<header class="header">
    <table class="table data table-sm mb-0">
        <tr>
            <td class="text-center" style="vertical-align: middle; width:15%">
                <a asp-controller="Home" asp-action="Setting">
                    <i class="fas fa-2x fa-angle-left"></i>
                </a>
            </td>
            <td class="text-center" style="vertical-align: middle;">
                <h4>Đổi mật khẩu</h4>
            </td>
            <td class="text-center" style="vertical-align: middle; width:15%">
                <a href="#" id="btn_Save" style="display:inline-block;width: 100%;">
                    <i class="fas fa-2x fa-check"></i>
                </a>
            </td>
        </tr>
    </table>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid p-0">
        <form class="card" asp-controller="Home" asp-action="UpdatePass" method="post" id="frmSubmit">
            <div class="card-body">
                <div class="form-label-group mt-2">
                    <input type="password" class="form-control " id="txt_OldPass" value="" placeholder="" name="OldPass" required="">
                    <label for="txt_OldPass">Mật khẩu cũ</label>
                </div>
                <div class="form-label-group">
                    <input type="password" class="form-control " id="txt_NewPass" value="" placeholder="" name="NewPass" required="">
                    <label for="txt_NewPass">Mật khẩu mới</label>
                </div>
                <div class="form-label-group">
                    <input type="password" class="form-control " id="txt_RePass" value="" placeholder="" name="RePass" required="">
                    <label for="txt_RePass">Lập lại mật khẩu mới</label>
                </div>
                <div class="card-footer text-center">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>@TempData["Error"]</strong>.
                        </div>
                    }
                </div>
            </div>
        </form>
    </section>
</div>

@section scripts{
    <script>
        //$(".header").remove();
        $("#btn_Save").click(function () {
            var name = $("#txt_OldPass").val();
            if (name === "") {
                Utils.OpenNotify("Bạn phải nhập đủ thông tin", "Phải mật khẩu cũ", "warning");
                return false;
            }
            var pass1 = $("#txt_NewPass").val();
            if (pass1 === "") {
                Utils.OpenNotify("Bạn phải nhập đủ thông tin", "Phải nhập mật khẩu mơí", "warning");
                return false;
            }
            var pass2 = $("#txt_RePass").val();
            if (pass2 === "") {
                Utils.OpenNotify("Bạn phải nhập đủ thông tin", "Phải nhập lại mật khẩu mơí", "warning");
                return false;
            }

            $("#frmSubmit").submit();
        });
    </script>
}
