﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Setting/_Layout.cshtml";
}

<header class="header">
    <table class="table data table-sm mb-0">
        <tr>
            <td class="text-center" style="vertical-align: middle; width:15%">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fas fa-2x fa-angle-left"></i>
                </a>
            </td>
            <td class="text-center" style="vertical-align: middle;">
                <h4>Cài đặt</h4>
            </td>
            <td class="text-center" style="vertical-align: middle; width:15%"></td>
        </tr>
    </table>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <table class="table data bg-white" id="tblMenu">
                    <tbody>
                        <tr link="@Url.Action("ChangePass","Home")">
                            <td class="">
                                <i class="far fa-circle"></i>
                            </td>
                            <td>Đổi mật khẩu</td>
                            <td>
                                <i class="fas fa-angle-right"></i>
                            </td>
                        </tr>
                        <tr link="@Url.Action("Personal","Home")">
                            <td class="">
                                <i class="far fa-circle"></i>
                            </td>
                            <td>Cập nhật thông tin cá nhân</td>
                            <td>
                                <i class="fas fa-angle-right"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>@TempData["Message"].ToString() </strong>.
        </div>
    }
</div>





@section scripts{
    <script>
        $(document).ready(function () {

            $('#tblMenu tr').click(function () {
                var href = $(this).attr("link");
                if (href) {
                    window.location = href;
                }
            });

        });
    </script>
}
