﻿@model Customer_Model
@{
    ViewData["Title"] = "Personal";
    Layout = "~/Views/Home/Setting/_Layout.cshtml";
}
<header class="header">
    <table class="table data table-sm mb-0">
        <tr>
            <td class="text-center" style="vertical-align: middle; width:15%">
                <a asp-controller="Home" asp-action="Setting">
                    <i class="fas fa-2x fa-angle-left"></i>
                </a>
            </td>
            <td class="text-center" style="vertical-align: middle;">
                <h4>Thông tin cá nhân</h4>
            </td>
            <td class="text-center" style="vertical-align: middle; width:15%">
                <a href="#" id="btn_Save" style="display:inline-block;width: 100%;">
                    <i class="fas fa-2x fa-check"></i>
                </a>
            </td>
        </tr>
    </table>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid p-0">
        <form class="card" asp-controller="Home" asp-action="UpdatePersonal" method="post" id="frmSubmit">
            <div class="card-body">
                <div class="form-label-group">
                    <input type="text" id="txt_Name" class="form-control " placeholder="Họ tên" name="Name" value="@Model.FullName" required="">
                    <label for="txt_Name">Họ tên</label>
                </div>
                <div class="form-label-group">
                    <input id="txt_Phone" type="text" class="form-control " placeholder="Số điện thoại" name="Phone" value="@Model.Phone" readonly>
                    <label for="txt_Phone">Số điện thoại</label>
                </div>
                <span class="text-danger">Lưu ý: số điện thoại không được thay đổi vui lòng liên hệ bộ phận chăm sóc để được tư vấn hổ trợ !.</span>
                <div class="form-label-group">
                    <input type="text" id="txt_Address" class="form-control " placeholder="" name="Address" required="" value="@Model.Address">
                    <label for="txt_Address">Địa chỉ</label>
                </div>
                <div class="card-footer text-center">
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>@ViewBag.Message</strong>.
                        </div>
                    }
                </div>
            </div>
        </form>
    </section>
</div>

@section scripts{
    <script>
        //$(".header").remove();
        $("#btn_Save").click(function () {
            var name = $("#txt_Name").val();
            if (name === "") {
                Utils.OpenNotify("Bạn phải nhập đủ thông tin", "Họ tên không được trống", "warning");
                return false;
            }
            var address = $("#txt_Address").val();
            if (address === "") {
                Utils.OpenNotify("Bạn phải nhập đủ thông tin", "Địa chỉ không được trống", "warning");
                return false;
            }

            $("#frmSubmit").submit();
        });
    </script>
}