﻿@using Desktop
@model List<Task_Model>
@{
    if (Model.Count > 0)
    {

        <table class="table table-sm table-hover">

            @foreach (var item in Model)
            {
                <tr id="@item.TaskKey">
                    <td>
                        <h4 class="text-uppercase">Khách hàng: @item.CustomerName <small class="float-right text-muted">@TN_Utils.TimeAgo(item.CreatedOn, DateTime.Now)</small></h4>
                        <div>Chi nhánh: @item.BranchName</div>
                        <div class="p-2" style="background:#17a2b847 !important; border-radius:8px">
                            <div>Nội dung:</div>
                            <div>@item.GroupName</div>
                            @item.TaskContent
                        </div>
                        <div class="text-primary font-weight-bold">
                            Thực hiện: @item.OwnerName
                            <span class="float-right">
                                @if (item.StatusKey == 0)
                                {
                                    <span class="text-danger">@item.StatusName </span>
                                }

                                @item.CategoryName
                            </span>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert alert-info">
            <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
        </div>
    }
}
