﻿
@using Desktop

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int New = 0;
    int Doing = 0;
    int Done = 0;
    int Deliver = 0;

    var _ListStaff = new List<Employee_Model>();
    if (ViewBag.ListStaff != null)
    {
        _ListStaff = ViewBag.ListStaff as List<Employee_Model>;
    }

    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }

    var _DataNew = new List<Task_Model>();
    if (ViewBag.DataNew != null)
    {
        _DataNew = ViewBag.DataNew as List<Task_Model>;
        New = _DataNew.Count();
    }

    var _DataDoing = new List<Task_Model>();
    if (ViewBag.DataDoing != null)
    {
        _DataDoing = ViewBag.DataDoing as List<Task_Model>;
        Doing = _DataDoing.Count();
    }

    var _DataDone = new List<Task_Model>();
    if (ViewBag.DataDone != null)
    {
        _DataDone = ViewBag.DataDone as List<Task_Model>;
        Done = _DataDone.Count();
    }

    var _DataDeliver = new List<Task_Model>();
    if (ViewBag.DataDeliver != null)
    {
        _DataDeliver = ViewBag.DataDeliver as List<Task_Model>;
        Deliver = _DataDeliver.Count();
    }
}

<header class="page-header">
    <h2>Theo dõi hiện trạng công việc</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-4">
        <form class="card" method="post" asp-controller="Task" asp-action="Tracking_Filter" style="position:fixed">
            <div class="card-header">
                <h4 class="text-center m-0">Truy xuất thông tin</h4>
            </div>
            <div class="card-body">
                <div class="form-label-group">
                    <input type="text" class="form-control" id="txt_SearchName" name="GuestName" placeholder="" value="@ViewBag.txt_SearchName">
                    <label for="txt_SearchName">Tên khách hàng</label>
                </div>
                <div class="form-label-group">
                    <input type="number" class="form-control" id="txt_SearchPhone" name="GuestPhone" placeholder="" value="@ViewBag.txt_SearchPhone">
                    <label for="txt_SearchPhone">Số điện thoại</label>
                </div>
                <div class="form-group mb-1">
                    <select class="form-control" name="Group" id="cbo_Group">
                        <option value="0">--Tất cả--</option>
                        <option value="19">Việc tại cửa hàng</option>
                        <option value="20">Việc ngoài cửa hàng</option>
                    </select>
                </div>
                <div class="form-group mb-1">
                    <select class="form-control" name="Branch" id="cbo_Branch">
                        <option value="">--//--</option>
                        @foreach (var item in _ListBranch)
                        {
                            <option value="@item.BranchKey">@item.BranchName</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-1">
                    <select class="select2" name="Employee" id="cbo_Employee">
                        <option value="">--//--</option>
                        @foreach (var item in _ListStaff)
                        {
                            <option value="@item.EmployeeKey">@item.FullName</option>
                        }
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text" style="width:100px">
                            Từ ngày
                        </span>
                    </span>
                    <input name="FromDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem" value="@ViewBag.txt_FromDate">
                </div>
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text" style="width:100px">
                            Đến ngày
                        </span>
                    </span>
                    <input name="ToDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem" value="@ViewBag.txt_ToDate">
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa fa-search"></i>
                    Xem
                </button>
            </div>
            <input id="txt_SearchStyle" type="hidden" name="Style" value="1">
        </form>
    </div>
    <div class="col-md-8">
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link" href="#div0" data-toggle="tab">
                        Chưa làm
                        <span class="badge badge-warning">@New</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#div1" data-toggle="tab">
                        Đang làm
                        <span class="badge badge-warning">@Doing</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#div2" data-toggle="tab">
                        Hoàn thành
                        <span class="badge badge-warning">@Done</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#div3" data-toggle="tab">
                        Đã giao/ trả
                        <span class="badge badge-warning">@Deliver</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="div0" class="tab-pane active">
                    <partial name="~/Views/Task/Track/_tblData.cshtml" model="@_DataNew" />
                </div>
                <div id="div1" class="tab-pane">
                    <partial name="~/Views/Task/Track/_tblData.cshtml" model="@_DataDoing" />
                </div>
                <div id="div2" class="tab-pane">
                    <partial name="~/Views/Task/Track/_tblData.cshtml" model="_DataDone" />
                </div>
                <div id="div3" class="tab-pane">
                    <partial name="~/Views/Task/Track/_tblData.cshtml" model="@_DataDeliver" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
</div>
@section scripts{
    
    <script>
        var cbEmployee = "@ViewBag.cbo_Employee";
        var cbGroup = "@ViewBag.cbo_Group";
        var cbBranch = "@ViewBag.cbo_Branch";
         var URL_View = "@Url.Action("Tracking_Detail", "Task")";
    </script>
    <script>
        var width = $(window).width();
        var height = $(window).height() - 350;
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        if (isTablet || width <= 1366) {
            $("html").addClass("sidebar-left-collapsed");
        }
        $(document).ready(function () {
            setInterval(function () {
                //call $.ajax here
                location.reload();
            }, 180000); //3 Minutes

            if (cbGroup != undefined) {
                $("#cbo_Group").val(cbGroup);
            }
            if (cbBranch != undefined) {
                $("#cbo_Branch").val(cbBranch);
            }
            if (cbEmployee != undefined) {
                $("#cbo_Employee").val(cbEmployee).trigger("change");
            }

            $("table").on("click", "tr", function () {
                var id = $(this).attr("id");

                $.ajax({
                    url: URL_View,
                    type: "GET",
                    data: {
                        "TaskKey": id,
                    },
                    beforeSend: function () {
                        $("#modalEdit").empty();
                    },
                    success: function (r) {
                        $("#modalEdit").append(r);
                    },
                    error: function (err) {
                        Utils.OpenNotify("Thông báo", err.responseText, "error");
                    },
                    complete: function () {
                        Utils.OpenMagnific("#modalEdit");
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            //const connection = new signalR.HubConnectionBuilder()
            //    .withUrl("/signalServer")
            //    .build();

            //initData();

            //connection.start()
            //    .then(function () {
            //        console.log('connection started');
            //    })
            //    .catch(error => {
            //        console.error(error.message);
            //    });

            //connection.on("ReloadTask", function () {
            //    loadData();
            //});                       
        });

        function loadData() {

            $.ajax({
                url: '/Home/GetTask',
                method: 'GET',
                success: (result) => {
                    $.each(result, (k, v) => {
                        Utils.OpenNotify("thông báo", v.content, "info");
                    });
                },
                error: (error) => {
                    console.log(error);
                },
                complete: () => {
                   
                }
            });
        };
        function initData() {

            $.ajax({
                url: '/Home/GetTask',
                method: 'GET',
                success: (result) => {
                  
                },
                error: (error) => {
                    console.log(error);
                }
            });
        };
    </script>
}
