﻿@using Desktop
@{

    var _Data = new List<Task_Model>();
    if (ViewBag.Data != null)
    {
        _Data = ViewBag.Data as List<Task_Model>;
    }
}
<style>
    #tblFix {
        height: 300px;
    }
</style>
<header class="page-header">
    <h2>Theo dõi tổng hợp công việc</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header p-0">
                <form class="" id="formSearchButton" action="">
                    <table class="table table-sm data" id="tblAction">
                        <tr>
                            <td class="text-left" style="vertical-align:middle">
                                <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                            </td>
                            <td class="text-center" style="vertical-align:middle;">
                                <h4 class="font-weight-semibold text-primary">
                                    <i class="far fa-calendar-alt"></i>
                                    @ViewBag.DateView
                                </h4>
                            </td>
                            <td class="text-right" style="vertical-align:middle">
                                <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </td>
                        </tr>
                        <tr style="display:none; background-color:lemonchiffon" name="edit">
                            <td colspan="3" class="text-center">
                                <div class="row d-flex justify-content-center">
                                    <div class="input-group col-md-3">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text" style="width:100px">
                                                Từ ngày
                                            </span>
                                        </span>
                                        <input name="FromDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem">
                                    </div>
                                    <div class="input-group col-md-3">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text" style="width:100px">
                                                Đến ngày
                                            </span>
                                        </span>
                                        <input Name="ToDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mt-1" name="btnAction" value="btn_Search">
                                    <i class="fas fa-search"></i> Xem
                                </button>
                            </td>
                        </tr>
                    </table>
                    <input id="txt_DateView" type="hidden" name="DateView" value="@ViewBag.DateView" />
                </form>
            </div>
            <div class="card-body">
                <div class="" id="tblFix">
                    @{
                        if (_Data.Count > 0)
                        {
                            <table class="table table-bordered table-sm table-hover" id="tblData">
                                <thead>
                                    <tr>
                                        <th class="align-middle">#</th>
                                        <th class="align-middle">Thời gian</th>
                                        <th class="align-middle p-0">
                                            <input class="rounded-0 input-sm form-control" type="text" value="" placeholder="Khách hàng" onkeyup="makeInputFitler(this, 2)" id="input1" />
                                        </th>
                                        <th class="align-middle p-0" style="width:130px">
                                            <input class="input-sm form-control" type="text" value="" placeholder="Điện thoại" onkeyup="makeInputFitler(this, 3)" id="input2" />
                                        </th>
                                        <th class="align-middle">
                                            <select id="phanloai" class="rounded-0 form-control">
                                            </select>
                                        </th>
                                        <th class="align-middle p-0">
                                            <select id="truonghop" class="rounded-0 form-control">
                                            </select>
                                        </th>
                                        <th class="align-middle p-0">
                                            <select id="chinhanh" class="rounded-0 form-control">
                                            </select>
                                        </th>
                                        <th class="align-middle">
                                            <select id="thuchien" class="rounded-0 form-control">
                                            </select>
                                        </th>

                                        <th class="align-middle p-0">
                                            <select id="tinhtrang" class="rounded-0 form-control">
                                            </select>
                                        </th>
                                        <th class="align-middle">Hiện trạng</th>
                                        <th class="align-middle">Giá</th>
                                        <th class="align-middle text-right">
                                            <button type="button" class="btn-sm btn btn-warning" id="btnReload">
                                                Làm mới
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int No = 1;
                                        foreach (var record in _Data)
                                        {
                                            string tmp = record.OptionName;
                                            string note = "";
                                            string css = "";
                                            if (record.OptionName == "SM")
                                            {
                                                tmp = "Sửa máy";
                                            }
                                            if (record.OptionName == "GH")
                                            {
                                                tmp = "Giao hàng";
                                            }
                                          
                                                if (record.StatusName == "FALSE")
                                                {
                                                    css = "style='color: #e91e63;'";
                                                    note = "Không sửa được";
                                                }
                                               

                                            <tr @Html.Raw(css) id="@record.TaskKey">
                                                <td>@(No++)</td>
                                                <td>@record.CreatedOn.ToString("dd/MM HH:mm")</td>
                                                <td>@record.CustomerName</td>
                                                <td>@record.CustomerPhone</td>
                                                <td>@record.GroupName</td>
                                                <td>@tmp</td>
                                                <td>@record.BranchName</td>
                                                <td>@record.OwnerName</td>

                                                <td>@record.CategoryName</td>
                                                <td>@note</td>
                                                <td class="text-right">@record.TaskAmount.ToString("n0")</td>
                                                <td style="width:1%; white-space:nowrap">
                                                    <button type="button" class="btn-sm btn btn-primary" onclick="View('@record.TaskKey')">
                                                        <i class="fa fa-eye"></i>
                                                        Xem
                                                    </button>
                                                    <button type="button" class="btn-sm btn btn-danger" onclick="Delete('@record.TaskKey')">
                                                        <i class="fa fa-trash"></i>
                                                        Xóa
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
</div>
@section scripts{
    <script src="~/js/tableHeadFixer.js"></script>
    <script>
        var URL_View = "@Url.Action("Tracking_Detail", "Task")";
        var URL_Delete = "@Url.Action("Delete", "Task")";
    </script>
    <script>
        $(function () {
            $("#tblAction tr:not([name=\"edit\"])").on("click", function () {
                $(this).next().slideToggle();
            });
            $("#tblAction button[value=\"btn_Prev\"]").on("click", function (e) {
                e.stopPropagation();
            });
            $("#tblAction button[value=\"btn_Next\"]").on("click", function (e) {
                e.stopPropagation();
            });
        });
    </script>
    <script>
        var width = $(window).width();
        var height = $(window).height() - 350;
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        if (isTablet || width <= 1366) {

        }

        $(document).ready(function () {
            $("html").addClass("sidebar-left-collapsed");

            makeSelectFitler("phanloai", 5);
            makeSelectFitler("truonghop", 6);
            makeSelectFitler("chinhanh", 7);
            makeSelectFitler("thuchien", 8);
            makeSelectFitler("tinhtrang", 9);

            $("#phanloai").on("change", function (e) {
                makeInputFitler(this, 4);
            });
            $("#truonghop").on("change", function (e) {
                makeInputFitler(this, 5);
            });
            $("#chinhanh").on("change", function (e) {
                makeInputFitler(this, 6);
            });
            $("#thuchien").on("change", function (e) {
                makeInputFitler(this, 7);
            });
            $("#tinhtrang").on("change", function (e) {
                makeInputFitler(this, 8);
            });

            $("#btnReload").click(function () {
                Utils.LoadIn();
                window.location.reload(true);
            });

            $("#tblFix").height(height);
            $("#tblData").tableHeadFixer({

                // fix table header
                head: true,

                // fix table footer
                foot: false,

                // fix x left columns
                left: 3,

                // fix x right columns
                right: 0,

                // z-index
                'z-index': 0
            });
        });

        function Delete(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "TaskKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        $("#" + id).remove();
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function View(id) {
            $.ajax({
                url: URL_View,
                type: "GET",
                data: {
                    "TaskKey": id,
                },
                beforeSend: function () {
                    $("#modalEdit").empty();
                },
                success: function (r) {
                    $("#modalEdit").append(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {
                    Utils.OpenMagnific("#modalEdit");
                }
            });
        }
        function makeSelectFitler(id, n) {
            var arr = [];
            $("#tblData td:nth-child(" + n + ")").each(function () {
                if ($.inArray($(this).text(), arr) == -1 && $(this).text().length > 0)
                    arr.push($(this).text());
            });
            arr.sort();
            //Create your select
            $("#" + id).empty();
            $("<option value=''>Tất cả</option>").appendTo("#" + id);
            for (var i = 0; i < arr.length; i++) {
                $("<option value='" + arr[i] + "'>" + arr[i] + "</option>").appendTo("#" + id);
            }
        }
        function makeInputFitler(arg, no) {
            var input, filter, table, tr, td, i;
            input = $(arg).val(); //$("#" + arg.getAttribute("id")).val();
            filter = input.toUpperCase();
            table = $("#tblData");
            tr = table.find("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[no];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}