﻿
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Task/_Layout.cshtml";
}
<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Task" asp-action="Delivery_List" id="goBack">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4 class="">Hàng phải đi giao</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>
<div class="inner-wrapper">
    <section class="card border">
        <div class="card-header">
            <span class="font-weight-semibold">Số: @Model.TaskID</span>
            <span class="float-right">Ngày y/c: @Model.CreatedOn.ToString("dd/MM HH:mm")</span>
            <span class="float-right">Người lập: @Model.CreatedName</span>
        </div>
        <div class="card-body">
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["error"] !</strong>.
                </div>
            }
            <div class="blink_me">
                <i class="fas fa-info-circle fa-fw text-warning va-middle"></i>:
                <span class="font-weight-bold">Máy mang về</span>
            </div>
            <div>
                <i class="fas fa-info-circle fa-fw text-info va-middle"></i>:
                <span class="font-weight-bold">@Model.CategoryName</span>
                @if (Model.OwnerBy.Length > 0)
                {
                    <span class="font-weight-bold float-right">Thực hiện: @Model.OwnerName</span>
                }
            </div>
            <div>
                <i class="fas fa-user-tie fa-fw text-info va-middle"></i>:
                <span class="font-weight-bold">@Model.CustomerName.ToUpper()</span>
            </div>
            <div>
                <i class="fas fa-mobile fa-fw text-info va-middle"></i>:
                <a href="tel:@Model.CustomerPhone" class="font-weight-bold">@Model.CustomerPhone</a>
                <a id="btnSms" phonenumber="@Model.CustomerPhone" href="sms:@Model.CustomerPhone" class="font-weight-bold text-info float-right">Nhắn tin</a>
                <a id="btnCall" phonenumber="@Model.CustomerPhone" href="tel:@Model.CustomerPhone" class="font-weight-bold text-info float-right mr-1">Gọi | </a>
            </div>
            <div>
                <i class="fas fa-map-marker-alt fa-fw text-info va-middle"></i>:
                <span class="font-weight-bold">@Model.CustomerAddress</span>
            </div>
            <div>
                <i class="fas fa-tasks fa-fw text-info va-middle"></i>:
                @Model.TaskContent
            </div>
            <hr mb-2 />
            <div class="form-group-sm">
                <label class="" for="txt_Quote">
                    Nội dung báo giá
                </label>
                <textarea class="form-control" id="txt_Quote" name="Quote" readonly="readonly" disabled style="height:100px !important;">@Model.Quote</textarea>
            </div>
            @if (Model.Note != string.Empty)
            {
                <div class="form-group-sm">
                    <label class="" for="txt_FixNote">
                        Lý do trả máy/ không sửa được
                    </label>
                    <textarea class="form-control" id="txt_FixNote" name="FixNote" readonly="readonly" disabled style="height:100px !important;">@Model.Note</textarea>
                </div>
            }
            <div class="form-group-sm">
                <label class="" for="txt_CustomerName">
                    Nội dung sửa chữa
                </label>
                <textarea class="form-control" id="txt_ToDo" name="ToDo" readonly="readonly" disabled style="height:100px !important;">@Model.ToDo</textarea>
            </div>
        </div>
        <div class="card-footer">
            <button id="btnYes" type="button" class="btn-sm btn btn-primary float-right" onclick="Done()">
                <i class="fas fa-check"></i>
                Đã giao
            </button>
        </div>
    </section>

    <input id="txt_Status" type="hidden" name="Status" />
    <input id="txt_Class" type="hidden" name="Class" value="@Model.Class" />
    <input id="txt_TaskKey" type="hidden" name="TaskKey" value="@Model.TaskKey" />
    <input id="txt_CategoryKey" type="hidden" name="CategoryKey" value="@Model.CategoryKey" />
    <input id="txt_CustomerKey" type="hidden" name="CustomerKey" value="@Model.CustomerKey" />
</div>
@section scripts{
    <script>
        var URL_Delivered = "@Url.Action("Delivered", "Task")";
        var URL_List = "@Url.Action("Delivery_List", "Task")";
        function Done() {
            var taskkey = $("#txt_TaskKey").val();
            $.ajax({
                url: URL_Delivered,
                type: "POST",
                data: {
                    "TaskKey": taskkey,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        window.location = URL_List;
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.Message, "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }
    </script>
}