﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Task/_Layout.cshtml";
    var _ListData = new List<Task_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Task_Model>;
    }
}

<header class="header">
    <table class="table data table-sm mb-0">
        <tbody>
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="/">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Hàng phải đi giao</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </tbody>
    </table>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid">
        @{
            if (_ListData.Count > 0)
            {
                foreach (var item in _ListData)
                {
                    string CreatedOn = item.CreatedOn.ToString("dd/MM HH:mm");
                    string ID = item.TaskID;
                    string Key = item.TaskKey;
                    string Name = item.CustomerName.ToUpper();
                    string Phone = item.CustomerPhone;
                    string Address = item.CustomerAddress;
                    string Content = item.TaskContent;

                    string Note = item.Note;
                    string Css = "";
                    string Status = "";
                    string Special = "";
                    if (Note.Length > 0)
                    {
                        Css = "bg-danger";
                        Status = "<span class='blink_me'>Trả máy không sửa được !.</span>";
                    }
                    if (item.Class == "UT")
                    {
                        Special = "<span class='blink_me text-info'>Máy mang về !.</span>";
                    }

            <div class="card border border-primary mt-1" id="@Key">
                <div class="card-header p-2">
                    Số: <span class="font-weight-semibold">@ID</span>
                    <span class="float-right">Ngày y/c: @CreatedOn</span>
                </div>
                <div class="card-body p-2 @Html.Raw(Css) ">
                    <div>
                        <i class="fas fa-user-tie fa-fw text-info va-middle"></i>:
                        <span class="font-weight-bold">@Name</span>
                    </div>
                    <div>
                        <i class="fas fa-mobile fa-fw text-info va-middle"></i>:
                        <a href="tel:@Phone" class="font-weight-bold">@Phone</a>
                        <a id="btnSms" phonenumber="@Phone" href="sms:@Phone" class="font-weight-bold text-info d-none float-right">Nhắn tin</a>
                        <a id="btnCall" phonenumber="@Phone" href="tel:@Phone" class="font-weight-bold text-info d-none float-right mr-1">Gọi | </a>
                    </div>
                    <div>
                        <i class="fas fa-map-marker-alt fa-fw text-info va-middle"></i>:
                        <span class="font-weight-bold">@Address</span>
                    </div>
                    <div>
                        <i class="fas fa-tasks fa-fw text-info va-middle"></i>:
                        @Content
                    </div>
                    <div class="text-center">@Html.Raw(Status)</div>
                    <div class="text-center">@Html.Raw(Special)</div>
                </div>
                <div class="card-footer p-2">
                    <a class="btn-sm btn btn-primary"
                       asp-controller="Task"
                       asp-action="Delivery_Detail"
                       asp-route-TaskKey="@Key">
                        <i class="fa fa-eye"></i>
                        Xem
                    </a>
                    @if (item.OwnerBy.Length > 0)
                            {
                    <span class="float-right font-weight-bold">Thực hiện: @item.OwnerName</span>
                            }
                </div>
            </div>
                }
            }
            else
            {
            <div class="alert alert-info">
                <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
            </div>
            }
        }
    </section>
</div>