﻿@using Desktop
@{
    Layout = null;
    var _ListArea = new List<Branch_Model>();
    if (ViewBag.ListArea != null)
    {
        _ListArea = ViewBag.ListArea as List<Branch_Model>;
    }
    string[] _DataAccess = new string[10];
    if (ViewBag.DataAccess != null)
    {
        _DataAccess = ((string)ViewBag.DataAccess).Split(',');
    }
}
<table class="table table-bordered table-sm" id="tbldata">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Chi nhánh/ cửa hàng</th>
            <th style="width:110px">.</th>
            <th>.</th>
        </tr>
    </thead>
    <tbody>

        @{
            int No = 1;
            foreach (Branch_Model Item in _ListArea)
            {
                var results = Array.Find(_DataAccess, s => s.Replace("'", "").Trim().ToUpper().Equals(Item.BranchKey));

                <tr BranchKey="@Item.BranchKey">
                    <td>@No</td>
                    <td>@Item.BranchName</td>
                    <td class="text-center">
                        @if (results != null && results.Length >= 36)
                        {
                            <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" checked="" aria-data name="chkRead" id="chkRead_@Item.BranchKey" value="@Item.BranchKey">
                                <label for="chkRead_@Item.BranchKey">Truy cập</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" aria-data name="chkRead" id="chkRead_@Item.BranchKey" value="@Item.BranchKey">
                                <label for="chkRead_@Item.BranchKey">Truy cập</label>
                            </div>
                        }
                    </td>
                    <td>
                        .
                    </td>
                </tr>

                No++;
            }
        }

    </tbody>
</table>

<input id="txt_Data" type="hidden" name="data" value="" />