﻿@using Desktop
@{
    Layout = null;
    var _ListData = new List<User_Role>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<User_Role>;
    }
}
<table class="table table-bordered table-sm" id="tblrole">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Chức năng</th>
            <th>Thiết bị</th>
            <th class="text-center" style="width:55px">Xem</th>
            <th class="text-center" style="width:55px">Thêm</th>
            <th class="text-center" style="width:55px">Sửa</th>
            <th class="text-center" style="width:55px">Xóa</th>
            <th>.</th>
        </tr>
    </thead>
    <tbody>

        @{
            int No = 1;
            foreach (User_Role Item in _ListData)
            {
                string css = "";
                switch (Item.Level)
                {
                    case 1:
                        css = "style='background: aliceblue;'";
                        break;
                    case 2:
                        css = "style='padding-left:3em'";
                        break;
                    case 3:
                        css = "style='padding-left:6em'";
                        break;
                    case 4:
                        css = "style='padding-left:9em'";
                        break;
                }

                <tr rolekey="@Item.RoleKey" userkey="@Item.UserKey" id="@Item.RoleKey" parent="@Item.Parent">
                    <td>@No</td>
                    <td @Html.Raw(css)>@Item.RoleName</td>
                    @if (Item.Slug == 9)
                    {
                        <td>Di động</td>
                    }
                    else
                    {
                        <td>PC/Laptop</td>
                    }
                    <td class="text-center">
                        @if (Item.RoleRead)
                        {
                            <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" aria-role checked="" name="chkRead" id="chkRead_@Item.RoleKey">
                                <label for="chkRead_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" aria-role name="chkRead" id="chkRead_@Item.RoleKey">
                                <label for="chkRead_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                    </td>
                    <td class="text-center">
                        @if (Item.RoleAdd)
                        {
                            <div class="checkbox-custom checkbox-info">
                                <input type="checkbox" aria-role checked="" name="chkAdd" id="chkAdd_@Item.RoleKey">
                                <label for="chkAdd_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox-custom checkbox-info">
                                <input type="checkbox" aria-role name="chkAdd" id="chkAdd_@Item.RoleKey">
                                <label for="chkAdd_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                    </td>
                    <td class="text-center">
                        @if (Item.RoleEdit)
                        {
                            <div class="checkbox-custom checkbox-warning">
                                <input type="checkbox" aria-role checked="" name="chkEdit" id="chkEdit_@Item.RoleKey">
                                <label for="chk_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox-custom checkbox-warning">
                                <input type="checkbox" aria-role name="chkEdit" id="chkEdit_@Item.RoleKey">
                                <label for="chk_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                    </td>
                    <td class="text-center">
                        @if (Item.RoleDel)
                        {
                            <div class="checkbox-custom checkbox-danger">
                                <input type="checkbox" aria-role checked="" name="chkDel" id="chkDel_@Item.RoleKey">
                                <label for="chkDel_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox-custom checkbox-danger">
                                <input type="checkbox" aria-role name="chkDel" id="chkDel_@Item.RoleKey">
                                <label for="chkDel_@Item.RoleKey">&nbsp;</label>
                            </div>
                        }
                    </td>
                    <td>
                        .
                    </td>
                </tr>

                No++;
            }
        }
    </tbody>
</table>

<input id="txt_Auth" type="hidden" name="auth" value="" />