﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Tracking";
    Layout = "~/Views/Task/_Layout.cshtml";

    string New = "0";
    string Doing = "0";
    string Done = "0";
    string Deliver = "0";

    var Count = new List<string>();
    if (ViewBag.Count != null)
    {
        Count = ViewBag.Count as List<string>;
        //
        New = Count[0];
        Doing = Count[1];
        Done = Count[2];
        Deliver = Count[3];
    }

    var _ListStaff = new List<Employee_Model>();
    if (ViewBag.ListStaff != null)
    {
        _ListStaff = ViewBag.ListStaff as List<Employee_Model>;
    }

    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }

    var _ListTask = new List<Task_Model>();
    if (ViewBag.ListTask != null)
    {
        _ListTask = ViewBag.ListTask as List<Task_Model>;
    }


}

<!--CSS-->
<style>
    .task-header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
        background: white;
        border-bottom: 1px solid #2196f3;
    }

    .badge {
        /*position: absolute;
                    top: 60px;
                    margin-left: 12px;*/
    }
</style>

<!--Begin Form-->
<header class="header" style="height:145px">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Theo dõi công việc</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fas fa-2x fa fa-search"></i>
                    </a>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-sm mb-0">
            <tr>
                <td style="width:90px">
                    <a class="nav-link p-0 text-center " asp-controller="Task" asp-action="Tracking" asp-route-Style="1">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        Chưa làm
                        <h4 class=" m-0 p-0">
                            <span class="badge badge-warning cart-count">@New</span>
                        </h4>
                    </a>
                </td>
                <td style="width:90px">
                    <a class="nav-link p-0 text-center " asp-controller="Task" asp-action="Tracking" asp-route-Style="2">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        Đang làm
                        <h4 class=" m-0 p-0">
                            <span class="badge badge-warning cart-count">@Doing</span>
                        </h4>
                    </a>
                </td>
                <td style="width:90px">
                    <a class="nav-link p-0 text-center " asp-controller="Task" asp-action="Tracking" asp-route-Style="3">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        Hoàn thành
                        <h4 class=" m-0 p-0">
                            <span class="badge badge-warning cart-count">@Done</span>
                        </h4>
                    </a>
                </td>
                <td style="width:90px">
                    <a class="nav-link p-0 text-center " asp-controller="Task" asp-action="Tracking" asp-route-Style="4">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        Đã trả/giao
                        <h4 class=" m-0 p-0">
                            <span class="badge badge-warning cart-count">@Deliver</span>
                        </h4>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid">
        @{
            if (_ListTask.Count > 0)
            {
                foreach (var item in _ListTask)
                {
                    #region [--Data--]
                    string CreatedOn = TN_Utils.TimeAgo(item.CreatedOn, DateTime.Now);  //item.CreatedOn.ToString("dd/MM HH:mm");
                    string ID = item.TaskID;
                    string Key = item.TaskKey;
                    string Name = item.CustomerName;
                    string Phone = item.CustomerPhone;
                    string Address = item.CustomerAddress;
                    string Content = item.TaskContent;
                    string Style = item.Style;
                    string Group = item.GroupName;
                    string Category = item.CategoryName;
                    string StatusName = item.StatusName;
                    int StatusKey = item.StatusKey;
                    string BranchName = item.BranchName;
                    #endregion

                    <div class="card border border-primary mt-1" id="@Key" onclick="Open('@Key')">
                        <div class="card-header p-2">
                            <div>
                                @switch (item.OptionTask)
                                {
                                    default:
                                    case 1:
                                        <div class="text-center font-weight-bold ">Trường hợp máy khách vãng lai</div>
                                        break;

                                    case 2:
                                        <div class="text-center font-weight-bold ">Trường hợp máy mang về</div>
                                        break;

                                    case 3:
                                        <div class="text-center font-weight-bold ">Trường hợp máy chỉ định cửa hàng</div>
                                        break;
                                }
                            </div>
                            <div class="text-center font-weight-semibold">@BranchName</div>
                            <div>
                                <span class="font-weight-semibold">Số: @ID</span>
                                <span class="font-weight-semibold float-right">Ngày y/c: @CreatedOn</span>
                            </div>

                            <div>
                                <span class="font-weight-semibold">@Group</span>
                                @if (Style == "GH")
                                {
                                    <span class="font-weight-semibold text-primary">/Giao hàng</span>
                                }
                                else
                                {
                                    <span class="font-weight-semibold text-primary">/Sửa máy</span>
                                }
                                <span class="font-weight-semibold float-right text-warning">Tình trạng: @Category</span>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div>
                                <i class="fas fa-user-tie fa-fw text-info va-middle"></i>:
                                <span class="font-weight-bold">@Name.ToUpper()</span>
                            </div>
                            <div>
                                <i class="fas fa-mobile fa-fw text-info va-middle"></i>:
                                <a href="tel:@Phone" class="font-weight-bold">@Phone</a>
                                <a id="btnSms" phonenumber="@Phone" href="sms:@Phone" class="font-weight-bold text-info float-right d-none">Nhắn tin</a>
                                <a id="btnCall" phonenumber="@Phone" href="tel:@Phone" class="font-weight-bold text-info float-right mr-1 d-none">Gọi | </a>
                            </div>
                            <div>
                                <i class="fas fa-map-marker-alt fa-fw text-info va-middle"></i>:
                                <span class="font-weight-bold">@Address</span>
                            </div>
                            <div>
                                <i class="fas fa-tasks fa-fw text-info va-middle"></i>:
                                @Content
                            </div>
                        </div>
                        <div class="card-footer p-2">
                            @if (StatusKey == 0)
                            {
                                <span class="font-weight-bold text-danger blink_me">@StatusName</span>
                            }
                            @if (item.OwnerBy.Length > 0)
                            {
                                <span class="float-right font-weight-bold">Thực hiện: @item.OwnerName</span>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-info">
                    <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                </div>
            }
        }
    </section>
</div>
<button type="button" class="btn btn-primary btn-add" onclick="window.location.reload();">
    <i class="fas fa-refresh"></i>
    Tải mới
</button>
<!--End Form-->
<!--Search Div-->
<aside id="sidebar-left" class="sidebar-left" style="padding-top:141px;">
    <form class="card" method="post" asp-controller="Task" asp-action="Tracking_Filter">
        <div class="card-header">
            <h4 class="text-center m-0">Tìm kiếm thông tin</h4>
        </div>
        <div class="card-body">
            <div class="form-label-group">
                <input type="text" class="form-control" id="txt_SearchName" name="GuestName" placeholder="">
                <label for="txt_SearchName">Tên khách hàng</label>
            </div>
            <div class="form-label-group">
                <input type="number" class="form-control" id="txt_SearchPhone" name="GuestPhone" placeholder="">
                <label for="txt_SearchPhone">Số điện thoại</label>
            </div>
            <div class="form-group mb-1">
                <select class="form-control" name="Group">
                    <option value="0">--Tất cả--</option>
                    <option value="19">Việc tại cửa hàng</option>
                    <option value="20">Việc ngoài cửa hàng</option>
                </select>
            </div>
            <div class="form-group mb-1">
                <select class="form-control" name="Branch">
                    <option value="">--//--</option>
                    @foreach (var item in _ListBranch)
                    {
                        <option value="@item.BranchKey">@item.BranchName</option>
                    }
                </select>
            </div>
            <div class="form-group mb-1">
                <select class="select2" name="Employee">
                    <option value="">--//--</option>
                    @foreach (var item in _ListStaff)
                    {
                        <option value="@item.EmployeeKey">@item.FullName</option>
                    }
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text" style="width:100px">
                        Từ ngày
                    </span>
                </span>
                <input name="FromDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem">
            </div>
            <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text" style="width:100px">
                        Đến ngày
                    </span>
                </span>
                <input Name="ToDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem">
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa fa-search"></i>
                Tìm
            </button>
        </div>
        <input id="txt_SearchStyle" type="hidden" name="Style" />
    </form>
</aside>

<!--Scripts-->
@section scripts{
    <script type="text/javascript">
        setTimeout(function () {
            location.reload();
        }, 180000); //3 phút refesh
    </script>
    <script>
        var ViewBagStyle = "@ViewBag.Style";
        $(document).ready(function () {
            var Style = Utils.GetUrlParameter("Style");
            if (Style === "") {
                Style = ViewBagStyle;
            }

            $("#txt_SearchStyle").val(Style);
            $("a.nav-link").each(function () {
                var attr = $(this).attr("href");
                if (attr.indexOf(Style) > -1) {
                    $(this).closest("td").addClass("active");
                    return;
                }
            });
        });
        function Open(id) {
            var url = "@Url.Action("Tracking_Detail","Task", new { TaskKey = "_id_" })";
            url = url.replace("_id_", id);
            window.location = url;
        }
    </script>
}
