﻿@{
    string _Title = ViewBag.Title;

}
<!DOCTYPE html>
<html class="fixed sidebar-light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>App</title>
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- themes/vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/animate/animate.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/font-awesome/css/all.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jstree/themes/default/style.css")" />
    <!-- Specific Page themes/vendor CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-ui/jquery-ui.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-ui/jquery-ui.theme.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/jquery-confirm/css/jquery-confirm.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/magnific-popup/magnific-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/select2/css/select2.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/vendor/pnotify/pnotify.custom.css")" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/css/theme.css")" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="@Url.Content("~/assets/themes/css/skins/default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/Loading.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
    <!-- Head Libs -->
    <script src="@Url.Content("~/assets/themes/vendor/modernizr/modernizr.js")"></script>
</head>
<body style="background-image: url(/assets/themes/img/bg_mobile.jpg);">
    <div class="se-pre-con" style="background: #3498db;">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>
    <section class="body">
        <header class="header" style="
                position: fixed;
                background-image:url('@ViewBag.Logo');
                background-size:contain;
                background-repeat:no-repeat;
                background-position:center;">
            <table class="table mb-0" style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
                <tbody>
                    <tr>
                        <td class="text-center" style="vertical-align: middle; width:15%">
                            <a asp-controller="Home" asp-action="Index">
                                <i class="fas fa-2x fa-angle-left"></i>
                            </a>
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            <h4>@_Title</h4>
                        </td>
                        <td class="text-center" style="vertical-align: middle; width:15%">
                            <a href="#" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                                <i class="fas fa-2x fa-list-ol"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </header>
        <div class="inner-wrapper">
            <aside id="sidebar-left" class="sidebar-left" style="padding-top:70px">
                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li>
                                    <a asp-controller="Report" asp-action="Index">
                                        <i class="fas fa-home"></i>
                                        <span>Báo cáo chung</span>
                                    </a>
                                </li>
                                <li class="nav-parent">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-dollar-sign"></i>
                                        <span>Doanh số</span>
                                    </a>
                                    <ul class="nav nav-children" style="">
                                        <li class="d-none">
                                            <a asp-controller="Report" asp-action="Sales_Branch">
                                                <i class="fas fa-circle-notch"></i>
                                                Chi nhánh
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Report" asp-action="Sales_Guest">
                                                <i class="fas fa-circle-notch"></i>
                                                Khách hàng
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Report" asp-action="Sales_Staffs">
                                                <i class="fas fa-circle-notch"></i>
                                                Nhân viên
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Report" asp-action="Sales_Personal">
                                                <i class="fas fa-circle-notch"></i>
                                                Cá nhân
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <section role="main" class="container-fluid p-0">
                @RenderBody()
            </section>
        </div>
    </section>
    <button type="button" class="btn btn-primary btn-top">
        <i class="fas fa-level-up-alt"></i>
    </button>
    <script src="@Url.Content("~/assets/themes/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-browser-mobile/jquery.browser.mobile.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/popper/umd/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/common/common.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/nanoscroller/nanoscroller.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/magnific-popup/jquery.magnific-popup.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/moment/moment.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-confirm/js/jquery-confirm.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/pnotify/pnotify.custom.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/select2/js/select2.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/ios7-switch/ios7-switch.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/autosize/autosize.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/inputmask/jquery.inputmask.bundle.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/jquery-validation/jquery.validate.js")"></script>
    <script src="@Url.Content("~/assets/themes/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js")"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="@Url.Content("~/assets/themes/vendor/isotope/isotope.js")"></script>
    <script src="@Url.Content("~/assets/themes/js/theme.js")"></script>
    <!-- Theme Initialization Files -->
    <script src="@Url.Content("~/assets/themes/js/theme.init.js")"></script>
    <script src="@Url.Content("~/js/jquery.number.js")"></script>
    <script src="@Url.Content("~/js/Utils.js")"></script>
    <script src="@Url.Content("~/js/site.js")"></script>
    @RenderSection("Scripts", false)
    <script>
        $(window).scroll(function () {
            var height = $(window).scrollTop();
            if (height > 100) {
                $(".btn-top").fadeIn();
            } else {
                $(".btn-top").fadeOut();
            }
        });
        $(document).ready(function () {
            $(".btn-top").click(function (e) {
                e.preventDefault();
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            });

            $(".go-back").click(function (e) {
                var last_url = document.referrer;
                var current_url = $(location).attr("href");
                if (last_url === current_url) {
                    window.history.back(-2);
                } else {
                    window.location.href = last_url;
                }
            });

            Utils.LoadOut();
        });
    </script>
</body>
</html>
