﻿
@{
    ViewData["Title"] = "Tình hình hoạt động tổng quát";
    Layout = "~/Views/Report/_Layout.cshtml";
    var _DateView = ViewBag.DateView;
    double Task = ViewBag.Task;
    double Sales = ViewBag.Sales;
    double Guest = ViewBag.Guest;

    var _SalesData = new List<rpt_ItemSale>();
    if (ViewBag.SalesData != null)
    {
        _SalesData = ViewBag.SalesData as List<rpt_ItemSale>;
        _SalesData = _SalesData.OrderByDescending(s => s.ItemName).ToList();
    }

    var _GuestData = new List<rpt_ItemSale>();
    if (ViewBag.GuestData != null)
    {
        _GuestData = ViewBag.GuestData as List<rpt_ItemSale>;
        _GuestData = _GuestData.OrderByDescending(s => s.ItemName).ToList();
    }

    var _TaskData = new List<rpt_ItemSale>();
    if (ViewBag.TaskData != null)
    {
        _TaskData = ViewBag.TaskData as List<rpt_ItemSale>;
        _TaskData = _TaskData.OrderByDescending(s => s.ItemName).ToList();
    }
}
<style>
    .bg-purple {
        background-color: purple;
    }

    .bg-orange {
        background-color: orange;
    }
</style>
<div class="row bg-white border-bottom" style="padding-top:70px">
    <form class="col-12" asp-controller="Report" asp-action="Index">
        <table class="table data mb-0">
            <tr>
                <td class="text-left" style="vertical-align:middle">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                </td>
                <td class="text-center" style="vertical-align:middle" onclick="OpenDate();">
                    <h4 class="font-weight-semibold text-primary">
                        Tháng @_DateView
                    </h4>
                </td>
                <td class="text-right" style="vertical-align:middle">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </td>
            </tr>
        </table>
        <input id="txt_DateView" type="hidden" name="DateView" value="@_DateView" />
    </form>
</div>
<div class="row border-bottom ">
    <div class="col-sm-12" style="background-color:white; position: relative; height:45vh;">
        <canvas id="canvas"></canvas>
    </div>
</div>
<section class="card mb-1 mt-0">
    <div class="card-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-quaternary">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
            </div>
            <div class="widget-summary-col text-right">
                <div class="summary">
                    <h4 class="title">Doanh số</h4>
                    <div class="info">
                        <strong class="amount number">@Sales</strong>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-sm mt-2">
            @foreach (var item in _SalesData)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td class="number text-right">@item.ItemAmount</td>
                </tr>
            }
        </table>
    </div>
</section>
<section class="card mb-1 mt-0">
    <div class="card-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-primary">
                    <i class="far fa-handshake"></i>
                </div>
            </div>
            <div class="widget-summary-col text-right">
                <div class="summary">
                    <h4 class="title">Khách hàng</h4>
                    <div class="info">
                        <strong class="amount number">@Guest</strong>
                    </div>
                </div>
            </div>

        </div>
        <table class="table table-sm mt-2">
            @foreach (var item in _GuestData)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td class="number text-right">@item.ItemAmount</td>
                </tr>
            }
        </table>
    </div>
</section>
<section class="card mb-1 mt-0">
    <div class="card-body">
        <div class="widget-summary">
            <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-secondary">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <div class="widget-summary-col text-right">
                <div class="summary">
                    <h4 class="title">Công việc</h4>
                    <div class="info">
                        <strong class="amount number">@Task</strong>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-sm mt-2">
            @foreach (var item in _TaskData)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td class="number text-right">@item.ItemAmount</td>
                </tr>
            }
        </table>
    </div>
</section>
<section class="card mb-1 mt-0 d-none">
    <div class="card-body">
        <table class="table table-bordered">
            <tr class="font-weight-bolder" style="background: coral;">
                <td>Việc tại cửa hàng</td>
                <td></td>
            </tr>
            <tr>
                <td>Số máy báo giá không sửa</td>
                <td></td>
            </tr>
            <tr>
                <td>Số máy sửa được</td>
                <td></td>
            </tr>
            <tr>
                <td>Số máy không sửa được</td>
                <td></td>
            </tr>
            <tr class="font-weight-bolder" style="background: coral;">
                <td>Việc ngoài cửa hàng</td>
                <td></td>
            </tr>
            <tr>
                <td>Số máy đã giao</td>
                <td></td>
            </tr>
            <tr>
                <td>Số máy nhận về</td>
                <td></td>
            </tr>
            <tr>
                <td>Số máy sửa được</td>
                <td></td>
            </tr>
            <tr>
                <td>Số máy không sửa được</td>
                <td></td>
            </tr>
        </table>
    </div>
</section>
@section scripts{
    <script src="~/js/ChartUtils.js"></script>
    <script src="~/js/Chart.js"></script>
    <script>
        $(document).ready(function () {

        });

        @Html.Raw(ViewBag.ChartData);
        const config = {
            type: 'doughnut',
            data: data,
            options: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Doanh số chi nhánh'
                },
                responsive: true,
                maintainAspectRatio: false,
                animation: false,
            }
        };
        var ctx = document.getElementById('canvas');
        var myPieChart = new Chart(ctx, config);
    </script>
}
