﻿
@{
    //ViewData["Title"] = "Sales_Personal";
    Layout = "~/Views/Report/_Layout.cshtml";
    var _DateView = ViewBag.DateView;
    var _Data = new List<Task_Model>();
    if (ViewBag.Data != null)
    {
        _Data = ViewBag.Data as List<Task_Model>;
        _Data = _Data.OrderByDescending(s => s.TaskAmount).ToList();
    }
}
<div class="row bg-white border-bottom" style="padding-top:70px">
    <form class="col-12" id="formSearchButton" action="">
        <table class="table data mb-0" id="tblAction">
            <tr>
                <td class="text-left" style="vertical-align:middle">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                </td>
                <td class="text-center" style="vertical-align:middle">
                    <h4 class="font-weight-semibold text-primary">
                        <i class="far fa-calendar-alt"></i>
                        @_DateView
                    </h4>
                </td>
                <td class="text-right" style="vertical-align:middle">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </td>
            </tr>
            <tr style="display:none; background-color:lemonchiffon" name="edit">
                <td colspan="3" class="text-center">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text" style="width:100px">
                                Từ ngày
                            </span>
                        </span>
                        <input name="FromDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem">
                    </div>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text" style="width:100px">
                                Đến ngày
                            </span>
                        </span>
                        <input Name="ToDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem">
                    </div>
                    <button type="submit" class="btn btn-primary mt-1" name="btnAction" value="btn_Search">
                        <i class="fas fa-search"></i> Xem
                    </button>
                </td>
            </tr>
        </table>
        <input id="txt_DateView" type="hidden" name="DateView" value="@_DateView" />
    </form>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @{
                    if (_Data.Count > 0)
                    {
                        <table class="table table-bordered table-sm">
                            <tr>
                                <th colspan="2" class="text-center">Tổng</th>
                            </tr>
                            <tr>
                                <td>Báo giá</td>
                                <td class="text-right">@(_Data.Sum(s => s.PaidAmount).ToString("n0"))</td>
                            </tr>
                            <tr>
                                <td>Đã thu</td>
                                <td class="text-right"> @(_Data.Sum(s => s.PaidAmount).ToString("n0"))</td>
                            </tr>
                            <tr>
                                <td>Việc tại cửa hàng</td>
                                <td class="text-right">
                                    @(_Data.Count(s => s.GroupKey == 19))
                                </td>
                            </tr>
                            <tr>
                                <td>Việc ngoài cửa hàng</td>
                                <td class="text-right">
                                    @(_Data.Count(s => s.GroupKey == 20))
                                </td>
                            </tr>
                        </table>

                        <table class="table table-bordered table-sm">
                            <tr>
                                <th colspan="2" class="text-center">Các công việc</th>
                            </tr>
                            @foreach (var item in _Data)
                            {
                                <tr>
                                    <td>Thời gian: @item.CreatedOn.ToString("dd/MM/yyyy")</td>
                                    <td class="text-right">
                                        Khách hàng: @item.CustomerName
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h5 class="text-center">
                                            @item.GroupName
                                        </h5>
                                        <h5>Nội dung</h5>
                                        @item.TaskContent<br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Báo giá: @item.TaskAmount.ToString("n0")
                                    </td>
                                    <td class="text-right">
                                        Đã thu: @item.PaidAmount.ToString("n0")
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("#tblAction tr:not([name=\"edit\"])").on("click", function () {
                $(this).next().slideToggle();
            });
            $("button[value=\"btn_Prev\"]").on("click", function (e) {
                e.stopPropagation();
            });
            $("button[value=\"btn_Next\"]").on("click", function (e) {
                e.stopPropagation();
            });
        });
    </script>
}