﻿
@{
    ViewData["Title"] = "Doanh số nhân sự";
    Layout = "~/Views/Report/_Layout.cshtml";
    var _DateView = ViewBag.DateView;
    var _Data = new List<rpt_ItemSale>();
    if (ViewBag.Data != null)
    {
        _Data = ViewBag.Data as List<rpt_ItemSale>;
        _Data = _Data.OrderByDescending(s => s.ItemAmount).ToList();
    }
    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }
}

<div class="row bg-white border-bottom" style="padding-top:70px">
    <form class="col-12" id="formSearchButton" action="">
        <table class="table data mb-0" id="tblAction">
            <tr>
                <td class="text-left" style="vertical-align:middle">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                </td>
                <td class="text-center" style="vertical-align:middle">
                    <h4 class="font-weight-semibold text-primary">
                        <i class="far fa-calendar-alt"></i>
                        @_DateView
                    </h4>
                </td>
                <td class="text-right" style="vertical-align:middle">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </td>
            </tr>
            <tr style="display:none; background-color:lemonchiffon" name="edit">
                <td colspan="3" class="text-center">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text" style="width:100px">
                                Từ ngày
                            </span>
                        </span>
                        <input name="FromDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem" value="@ViewBag.FromDate">
                    </div>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text" style="width:100px">
                                Đến ngày
                            </span>
                        </span>

                        <input Name="ToDate" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem" value="@ViewBag.ToDate">
                    </div>
                    <select class="form-control" name="Branch">
                        <option value="" selected>--//--</option>
                        @foreach (var item in _ListBranch)
                        {
                            if (ViewBag.SearchBranch == item.BranchKey)
                            {
                                <option value="@item.BranchKey" selected>@item.BranchName</option>
                            }
                            else
                            {
                                <option value="@item.BranchKey">@item.BranchName</option>
                            }

                        }
                    </select>
                    <button type="submit" class="btn btn-primary mt-1" name="btnAction" value="btn_Search">
                        <i class="fas fa-search"></i> Xem
                    </button>
                </td>
            </tr>
        </table>
        <input id="txt_DateView" type="hidden" name="DateView" value="@_DateView" />
    </form>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-sm">
                    <tr>
                        <th rowspan="2" class="text-center">Họ tên</th>

                        <th colspan="2" class="text-center">Số đầu việc</th>
                        <th rowspan="2" class="text-center">Doanh số</th>
                    </tr>
                    <tr>
                        <th class="text-center">Tại CH</th>
                        <th class="text-center">Ngoài CH</th>
                    </tr>
                    <tr style="
    background: #ffc107;
    font-weight: bold;
    color: white;">
                        <td>TỔNG</td>
                        <td class="number text-right">@_Data.Sum(s => s.ItemNoTaskInSite)</td>
                        <td class="number text-right">@_Data.Sum(s => s.ItemNoTaskOutSite)</td>
                        <td class="number text-right">@_Data.Sum(s => s.ItemAmount)</td>
                    </tr>
                    @{
                        foreach (var item in _Data)
                        {
                            <tr>
                                <td class="text-primary">
                                    <a asp-controller="Report" asp-action="Sales_Personal" asp-route-Employee="@item.ItemKey">
                                        @item.ItemName
                                    </a>                                   
                                </td>
                                <td class="text-right">@item.ItemNoTaskInSite</td>
                                <td class="text-right">@item.ItemNoTaskOutSite</td>
                                <td class="number text-right">@item.ItemAmount</td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("#tblAction tr:not([name=\"edit\"])").on("click", function () {
                $(this).next().slideToggle();
            });
            $("button[value=\"btn_Prev\"]").on("click", function (e) {
                e.stopPropagation();
            });
            $("button[value=\"btn_Next\"]").on("click", function (e) {
                e.stopPropagation();
            });
        });
    </script>
}