﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Task/_Layout.cshtml";
    var _ListData = new List<Task_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Task_Model>;
    }
}
<style>
    .task-header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
        background: white;
        border-bottom: 1px solid #2196f3;
    }
</style>
<header class="header" style="height:145px">
    <div class="task-header">
        <table class="table table-sm mb-0" style="border-bottom: 1px solid #2196f3; color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Sửa máy tại cửa hàng @ViewBag.Branch</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fas fa-2x fa fa-search"></i>
                    </a>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-sm mb-0">
            <tr>
                <td style="width:90px">
                    <a class="nav-link p-0 text-center " href="#" onclick="OpenPage(21)">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        1. Đang báo giá
                    </a>
                </td>
                <td style="width:90px">
                    <a class="nav-link p-0 text-center " href="#" onclick="OpenPage(22)">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        2. Đang sửa
                    </a>
                </td>
                <td style="width:90px">
                    <a class="nav-link p-0 text-center " href="#" onclick="OpenPage(23)">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        3. Đã sửa xong
                    </a>
                </td>
                <td style="width:90px">
                    <a class="nav-link p-0 text-center " href="#" onclick="OpenPage(25)">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        4. Đã nhận máy
                    </a>
                </td>
            </tr>
        </table>
    </div>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid">
        @{
            if (_ListData.Count > 0)
            {
                foreach (var item in _ListData)
                {
                    #region [Info]
                    string CreatedOn = item.CreatedOn.ToString("dd/MM HH:mm");
                    string Name = item.CustomerName.ToUpper();
                    string Phone = item.CustomerPhone;
                    string Address = item.CustomerAddress;
                    string Content = item.TaskContent;
                    string Note = item.Note;
                    string Class = item.Class;
                    string ID = item.TaskID;
                    string Key = item.TaskKey;
                    string Status = "";
                    string Special = "";
                    string Css = "";
                    if (Note.Length > 0)
                    {
                        Css = "bg-danger";
                        Status = "<span class='blink_me'>Trả máy không sửa được !.</span>";
                    }
                    if (Class == "UT")
                    {
                        Special = "<span class='blink_me text-info'>Máy mang về !.</span>";
                    }
                    #endregion

                    <div class="card border border-primary mt-1" id="@Key">
                        <div class="card-header p-2">
                            <span class="font-weight-semibold">Số: @ID</span>
                            <span class="float-right">Ngày y/c: @CreatedOn</span>
                        </div>
                        <div class="card-body p-2 @Html.Raw(Css) ">

                            <!-- Thông tin khách hàng -->
                            <div>
                                <i class="fas fa-user-tie fa-fw text-info va-middle"></i>:
                                <span class="font-weight-bold">@Name</span>
                            </div>
                            <div>
                                <i class="fas fa-mobile fa-fw text-info va-middle"></i>:
                                <a href="tel:@Phone" class="font-weight-bold">@Phone</a>
                                <a id="btnSms" phonenumber="@Phone" href="sms:@Phone" class="font-weight-bold text-info d-none float-right">Nhắn tin</a>
                                <a id="btnCall" phonenumber="@Phone" href="tel:@Phone" class="font-weight-bold text-info d-none float-right mr-1">Gọi | </a>
                            </div>
                            <div>
                                <i class="fas fa-map-marker-alt fa-fw text-info va-middle"></i>:
                                <span class="font-weight-bold">@Address</span>
                            </div>
                            <!--  -->
                            <!-- Thông tin công việc-->
                            <div>
                                <i class="fas fa-tasks fa-fw text-info va-middle"></i>:
                                @Content
                            </div>
                            <div class="text-center">@Html.Raw(Status)</div>
                            <div class="text-center">@Html.Raw(Special)</div>
                            <!--  -->
                        </div>
                        <div class="card-footer p-2">
                            <a class="btn-sm btn btn-primary"
                               asp-controller="Task"
                               asp-action="InPlace_Detail"
                               asp-route-TaskKey="@Key">
                                <i class="fa fa-eye"></i>
                                Xem
                            </a>
                            @if (item.OwnerBy.Length > 0)
                            {
                                <span class="float-right font-weight-bold">Thực hiện: @item.OwnerName</span>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                if (ViewBag.Message != string.Empty)
                {
                    <div class="alert alert-danger">
                        <strong>@ViewBag.Message</strong>
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                    </div>
                }
            }
        }
    </section>
</div>
<!--Search Div-->
<aside id="sidebar-left" class="sidebar-left" style="padding-top:141px;">
    <form class="card" method="post" asp-controller="Task" asp-action="Search">
        <div class="card-header">
            <h4 class="text-center m-0">Tìm kiếm thông tin</h4>
        </div>
        <div class="card-body">
            <div class="form-label-group">
                <input type="text" class="form-control" id="txt_SearchName" name="Name" placeholder="">
                <label for="txt_SearchName">Tên khách hàng</label>
            </div>
            <div class="form-label-group">
                <input type="number" class="form-control" id="txt_SearchPhone" name="Phone" placeholder="">
                <label for="txt_SearchPhone">Số điện thoại</label>
            </div>
            <input id="txt_SearchCate" type="hidden" name="CategoryKey" />
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa fa-search"></i>
                Tìm
            </button>
        </div>
    </form>
</aside>

<!--Check Role Add-->
@section scripts{
    <script>
        var Cate = "@ViewBag.ActiveCate";
        var Key = "@ViewBag.Key";
        var URL_Edit = "@Url.Action("AtBranch_Edit", "Task")";
        var URL_List = "@Url.Action("AtBranch_List", "Task", new { BranchKey="_Key_", CategoryKey="_Cate_" })";
    </script>
    <script>
        $(document).ready(function () {
            $("a.nav-link").each(function () {
                var attr = $(this).attr("href");
                if (attr.indexOf(Cate) > -1) {
                    $(this).closest("td").addClass("active");
                    return;
                }
            });
        });
        function OpenPage(cate) {
            URL_List = URL_List.replace("_Cate_", cate).replace("_Key_", Key);
            window.location = encodeURI(URL_List);
        }
        function Edit() {
            window.location = URL_Edit;
        }
    </script>
}