﻿@using Desktop
@{
    Layout = null;
    var _ListRoleGroup = new List<Group_Roles_Model>();
    if (ViewBag.ListRoleGroup != null)
    {
        _ListRoleGroup = ViewBag.ListRoleGroup as List<Group_Roles_Model>;
    }
    var _ListRolePartner = new List<Role_Partner_Model>();
    if (ViewBag.ListRolePartner != null)
    {
        _ListRolePartner = ViewBag.ListRolePartner as List<Role_Partner_Model>;
    }
}

<div class="card border ">
    <div class="card-header">
        <h2 class="card-title">Phân quyền @ViewBag.Title</h2>
    </div>
    <div class="card-body ">
        <div class="row">
            <div class="col-6">
                <h4 class="text-center font-weight-bold">
                    Chức năng
                    <small>được truy cập</small>
                </h4>
                <div id="pnLeft">
                    <table class="table table-bordered table-sm tblFix" id="tblRoleGroup">
                        <thead>
                            <tr>
                                <th style="width:1%">#</th>
                                <th>Chức năng</th>
                                <th>Thiết bị</th>
                                <th class="text-center" style="width:55px">Xem</th>
                                <th class="text-center" style="width:55px">Thêm</th>
                                <th class="text-center" style="width:55px">Sửa</th>
                                <th class="text-center" style="width:55px">Xóa</th>
                                <th style="width:1%">
                                    <button type="button" class="btn btn-sm btn-danger" onclick="RemoveAll()">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int No = 1;
                                foreach (Group_Roles_Model Item in _ListRoleGroup)
                                {
                                    string tdClass = "";
                                    string trClass = "";
                                    switch (Item.Level)
                                    {
                                        case 1:
                                            trClass = "style='background: aliceblue;'";
                                            break;
                                        case 2:
                                            tdClass = "style='padding-left:3em'";
                                            break;
                                        case 3:
                                            tdClass = "style='padding-left:6em'";
                                            break;
                                        case 4:
                                            tdClass = "style='padding-left:9em'";
                                            break;
                                    }

                                    <tr rolekey="@Item.RoleKey" groupkey="@Item.GroupKey" @Html.Raw(trClass)>
                                        <td>@No</td>
                                        <td @Html.Raw(tdClass)>@Item.RoleName</td>
                                        @if (Item.Slug == 9)
                                        {
                                            <td>Di động</td>
                                        }
                                        else
                                        {
                                            <td>PC/Laptop</td>
                                        }
                                        <td class="text-center">
                                            @if (Item.RoleRead)
                                            {
                                                <div class="checkbox-custom checkbox-primary">
                                                    <input type="checkbox" aria-role checked="" name="chkRead" id="chkRead_@Item.RoleKey">
                                                    <label for="chkRead_@Item.RoleKey">&nbsp;</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="checkbox-custom checkbox-primary">
                                                    <input type="checkbox" aria-role name="chkRead" id="chkRead_@Item.RoleKey">
                                                    <label for="chkRead_@Item.RoleKey">&nbsp;</label>
                                                </div>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (Item.RoleAdd)
                                            {
                                                <div class="checkbox-custom checkbox-info">
                                                    <input type="checkbox" aria-role checked="" name="chkAdd" id="chkAdd_@Item.RoleKey">
                                                    <label for="chkAdd_@Item.RoleKey">&nbsp;</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="checkbox-custom checkbox-info">
                                                    <input type="checkbox" aria-role name="chkAdd" id="chkAdd_@Item.RoleKey">
                                                    <label for="chkAdd_@Item.RoleKey">&nbsp;</label>
                                                </div>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (Item.RoleEdit)
                                            {
                                                <div class="checkbox-custom checkbox-warning">
                                                    <input type="checkbox" aria-role checked="" name="chkEdit" id="chkEdit_@Item.RoleKey">
                                                    <label for="chk_@Item.RoleKey">&nbsp;</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="checkbox-custom checkbox-warning">
                                                    <input type="checkbox" aria-role name="chkEdit" id="chkEdit_@Item.RoleKey">
                                                    <label for="chk_@Item.RoleKey">&nbsp;</label>
                                                </div>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (Item.RoleDel)
                                            {
                                                <div class="checkbox-custom checkbox-danger">
                                                    <input type="checkbox" aria-role checked="" name="chkDel" id="chkDel_@Item.RoleKey">
                                                    <label for="chkDel_@Item.RoleKey">&nbsp;</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="checkbox-custom checkbox-danger">
                                                    <input type="checkbox" aria-role name="chkDel" id="chkDel_@Item.RoleKey">
                                                    <label for="chkDel_@Item.RoleKey">&nbsp;</label>
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-danger" onclick="RemoveRole('@Item.RoleKey')">
                                                <i class="fas fa-arrow-right"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    No++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <h4 class="text-center font-weight-bold">
                    Chức năng
                    <small>chưa được truy cập</small>
                </h4>
                <div id="pnRight">
                    <table class="table table-bordered table-sm tblFix" id="tblRoleDefault">
                        <thead>
                            <tr>
                                <th style="width:1%">
                                    <button type="button" class="btn btn-sm btn-primary" onclick="AddAll()">
                                        <i class="fas fa-arrow-left"></i>
                                    </button>
                                </th>
                                <th>Chức năng</th>
                                <th>Thiết bị</th>
                                <th style="width:1%">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                No = 1;
                                foreach (Role_Partner_Model Item in _ListRolePartner)
                                {
                                    string tdClass = "";
                                    string trClass = "";
                                    switch (Item.Level)
                                    {
                                        case 1:
                                            trClass = "style='background: aliceblue;'";
                                            break;
                                        case 2:
                                            tdClass = "style='padding-left:3em'";
                                            break;
                                        case 3:
                                            tdClass = "style='padding-left:6em'";
                                            break;
                                        case 4:
                                            tdClass = "style='padding-left:9em'";
                                            break;
                                    }

                                    <tr rolekey="@Item.RoleKey" id="@Item.RoleKey" parent="@Item.Parent" @Html.Raw(trClass)>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-primary" onclick="AddRole('@Item.RoleKey')">
                                                <i class="fas fa-arrow-left"></i>
                                            </button>
                                        </td>
                                        <td @Html.Raw(tdClass)>@Item.RoleName</td>
                                        @if (Item.Slug == 9)
                                        {
                                            <td>Di động</td>
                                        }
                                        else
                                        {
                                            <td>PC/Laptop</td>
                                        }

                                        <td>@No</td>
                                    </tr>
                                    No++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer  text-center">
        <button type="button" class="btn btn-outline-secondary modal-dismiss">
            <i class="far fa-times-circle"></i>
            Đóng
        </button>
        <button type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveAuth()">
            <i class="far fa-save"></i>
            Cập nhật
        </button>
    </div>
</div>