﻿@using Desktop
@{
    Layout = null;
    var _ListRolePartner = new List<Role_Partner_Model>();
    if (ViewBag.ListRolePartner != null)
    {
        _ListRolePartner = ViewBag.ListRolePartner as List<Role_Partner_Model>;
    }
}

<table class="table table-bordered table-sm tblFix" id="tblRoleDefault">
    <thead>
        <tr>
            <th style="width:1%">
                <button type="button" class="btn btn-sm btn-primary" onclick="AddAll()">
                    <i class="fas fa-arrow-left"></i>
                </button>
            </th>
            <th>Chức năng</th>
            <th>Thiết bị</th>
            <th style="width:1%">#</th>
        </tr>
    </thead>
    <tbody>
        @{
            int No = 1;
            foreach (Role_Partner_Model Item in _ListRolePartner)
            {
                string tdClass = "";
                string trClass = "";
                switch (Item.Level)
                {
                    case 1:
                        trClass = "style='background: aliceblue;'";
                        break;
                    case 2:
                        tdClass = "style='padding-left:3em'";
                        break;
                    case 3:
                        tdClass = "style='padding-left:6em'";
                        break;
                    case 4:
                        tdClass = "style='padding-left:9em'";
                        break;
                }

                <tr rolekey="@Item.RoleKey" id="@Item.RoleKey" parent="@Item.Parent" @Html.Raw(trClass)>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary" onclick="AddRole('@Item.RoleKey')">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </td>
                    <td @Html.Raw(tdClass)>@Item.RoleName</td>
                    @if (Item.Slug == 9)
                    {
                        <td>Di động</td>
                    }
                    else
                    {
                        <td>PC/Laptop</td>
                    }

                    <td>@No</td>
                </tr>
                No++;
            }
        }

    </tbody>
</table>