﻿@using Desktop
@{
    ViewData["Title"] = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListGroup = new List<Group_Model>();
    if (ViewBag.ListGroup != null)
    {
        ListGroup = ViewBag.ListGroup as List<Group_Model>;
    }
}

<header class="page-header">
    <h2>Nhóm quyền</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table Custom table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nhóm quyền</th>
                            <th>Ghi chú</th>
                            <th class="text-right">
                                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Edit('')">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (ListGroup.Count > 0)
                        {
                            for (int i = 0; i < ListGroup.Count; i++)
                            {
                                Group_Model Model = ListGroup[i];

                                <tr id="@Model.GroupKey">
                                    <td>@(i + 1)</td>
                                    <td>@Model.GroupName</td>
                                    <td>@Model.Description</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-purple btn-sm modal-with-zoom-anim" onclick="OpenAuth('@Model.GroupKey')">
                                            <i class="fas fa-key"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit('@Model.GroupKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Model.GroupKey')">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
            </div>

        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Tạo nhóm quyền</h2>
        </div>
        <div class="card-body ">
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Nhóm</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_GroupName" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_Description" placeholder="Ghi chú"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer  text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>
<div id="modelAuth" class="zoom-anim-dialog modal-block modal-block-full modal-header-color modal-block-info mfp-hide">

</div>
<input id="txt_GroupKey" type="hidden" name="GroupKey" value="" />
<input id="txt_Auth" type="hidden" name="GroupKey" value="" />
@section scripts {
    <script>
        var URL_Edit = "@Url.Action("Edit_Group", "Setting")";
        var URL_Save = "@Url.Action("Save_Group", "Setting")";
        var URL_Delete = "@Url.Action("Delete_Group", "Setting")";
        var URL_Role = "@Url.Action("Detail", "Setting")";

        var URL_Role_Add_All = "@Url.Action("Role_Group_Add_All", "Setting")";
        var URL_Role_Remove_All = "@Url.Action("Role_Group_Remove_All", "Setting")";

        var URL_Role_Add = "@Url.Action("Role_Group_Add", "Setting")";
        var URL_Role_Remove = "@Url.Action("Role_Group_Remove", "Setting")";

        var URL_Role_Default = "@Url.Action("Role_Default", "Setting")";
        var URL_Role_Group = "@Url.Action("Role_Group", "Setting")";

        var URL_Auth = "@Url.Action("Role_Save","Setting")";
    </script>
    <script>
        var roles = [];

        $(document).ready(function () {

        });
        function Save() {
            var GroupKey = $('#txt_GroupKey').val();
            var GroupName = $('#txt_GroupName').val();
            var Description = $('#txt_Description').val();

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "GroupKey": GroupKey,
                    "GroupName": GroupName,
                    "Description": Description,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify('Thông báo', r.message, 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                },
                complete: function () {

                }
            });
        }
        function Edit(GroupKey) {
            Utils.OpenMagnific('#modalEdit');
            if (GroupKey.length >= 36) {
                $.ajax({
                    url: URL_Edit,
                    type: 'GET',
                    data: {
                        "GroupKey": GroupKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);

                            $('#txt_GroupKey').val(obj.GroupKey);
                            $('#txt_GroupName').val(obj.GroupName);
                            $('#txt_Description').val(obj.Description);
                        }
                        else {
                            Utils.OpenNotify('Thông báo', r.message, 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify('Thông báo', err.responseText, 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
            }
        }
        function Delete(GroupKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "GroupKey": GroupKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        $("tr[id='" + GroupKey + "']").remove();
                                        //location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify('Thông báo', r.message, 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
        function OpenAuth(GroupKey) {
            Utils.OpenMagnific('#modelAuth');
            var text = $("#" + GroupKey).find("td:eq(1)").text();
            $("#txt_GroupKey").val(GroupKey);
            $.ajax({
                url: URL_Role,
                type: 'GET',
                data: {
                    "GroupKey": GroupKey,
                    "Title": text,
                },
                beforeSend: function () {
                    $("#modelAuth").empty();
                },
                success: function (r) {
                    $("#modelAuth").html(r);
                },
                error: function (err) {
                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                },
                complete: function () {

                }
            });
        }

        function AddAll() {
            var ListRole = [];
            var GroupKey = $("#txt_GroupKey").val();
            $("#tblRoleDefault tbody tr").each(function () {
                var obj = {
                    RoleKey: $(this).attr("rolekey"),
                };
                ListRole.push(obj);
            });

            $.ajax({
                url: URL_Role_Add_All,
                type: "POST",
                data: {
                    "ListRole": ListRole,
                    "GroupKey": GroupKey
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        GetRoleGroup();
                        GetRoleDefault();
                    }                  
                },
                error: function (err) {
                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function RemoveAll() {
            var GroupKey = $("#txt_GroupKey").val();
            $.ajax({
                url: URL_Role_Remove_All,
                type: "POST",
                data: {
                    "GroupKey": GroupKey
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        GetRoleGroup();
                        GetRoleDefault();
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }

        function AddRole(roleKey) {
            var GroupKey = $("#txt_GroupKey").val();
            $.ajax({
                url: URL_Role_Add,
                type: "GET",
                data: {
                    "GroupKey": GroupKey,
                    "RoleKey": roleKey,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        $("tr[rolekey=\"" + roleKey + "\"]").remove();
                        GetRoleGroup();
                    }
                },
                error: function (err) {
                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function RemoveRole(roleKey) {
            var $tr = $("tr[rolekey=\"" + roleKey + "\"]");
            var GroupKey = $("#txt_GroupKey").val();

            var mess = "Bạn có chắc xóa thông tin này ?.";
            if (parent === "0") {
                mess = "Đây là quyền cha, khi xóa sẽ không thể truy cập các quyền con liên quan !.";
            }

            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: mess,
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {

                            $.ajax({
                                url: URL_Role_Remove,
                                type: "POST",
                                data: {
                                    "GroupKey": GroupKey,
                                    "RoleKey": roleKey
                                },
                                beforeSend: function () {
                                    Utils.LoadIn();
                                },
                                success: function (r) {
                                    if (r.success) {
                                        $tr.remove();
                                        GetRoleDefault();
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                                },
                                complete: function () {
                                    Utils.LoadOut();
                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }

        function GetRoleGroup() {
            var GroupKey = $("#txt_GroupKey").val();
            $.ajax({
                url: URL_Role_Group,
                type: "GET",
                data: {
                    "GroupKey": GroupKey
                },
                beforeSend: function () {
                    $("#pnLeft").empty();
                },
                success: function (r) {
                    $("#pnLeft").html(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }
        function GetRoleDefault() {
            var GroupKey = $("#txt_GroupKey").val();

            $.ajax({
                url: URL_Role_Default,
                type: "GET",
                data: {
                    "GroupKey": GroupKey
                },
                beforeSend: function () {
                    $("#pnRight").empty();
                },
                success: function (r) {
                    $("#pnRight").html(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Lỗi !.", err.responseText, "error");
                },
                complete: function () {

                }
            });
        }

        function SaveAuth() {
            $('#tblRoleGroup > tbody > tr').each(function () {
                var rolekey = $(this).attr('rolekey');
                var groupkey = $(this).attr('groupkey');
                RoleEventCheck(this, rolekey, groupkey);
            });

            var GroupKey = $("#txt_GroupKey").val();
            var Role = $("#txt_Auth").val();
            
            $.ajax({
                url: URL_Auth,
                type: 'POST',
                data: {
                    "GroupKey": GroupKey,
                    "Role": Role,                    
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Thông báo", 'Đã cập nhật thành công', 'success');
                    }
                    else {
                        Utils.OpenNotify('Thông báo', r.message, 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                },
                complete: function () {

                }
            });
        }
        function RoleEventCheck(obj, rolekey, groupkey) {
            var chk = $(obj).find('input:checkbox');
            var read = chk[0].checked;
            var add = chk[1].checked;
            var edit = chk[2].checked;
            var del = chk[3].checked;

            var newobj = {
                "RoleKey": rolekey,
                "GroupKey": groupkey,
                "RoleRead": read,
                "RoleAdd": add,
                "RoleEdit": edit,
                "RoleDel": del
            };

            roles = ObjCheck(roles, "RoleKey", newobj);
            $("#txt_Auth").val(JSON.stringify(roles));
        }

        function ObjCheck(array, name, newElement) {
            var found = false;
            for (var i = 0; i < array.length; i++) {
                var element = array[i];
                if (element === undefined) {
                    array.push(newElement);
                    return array;
                }
                if (element[name].toString() ===
                    newElement[name].toString()) {
                    found = true;
                    array[i] = newElement;
                }
            }
            if (found === false) {
                array.push(newElement);
            }
            return array;
        }
    </script>
}