﻿@model Device_Model
@{
    Layout = null;
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Thông tin thiết bị</h2>
    </div>
    <div class="card-body">
        <label class="label font-weight-bolder">Tên máy:</label>
        <div class="font-weight-bolder text-primary">@Model.DeviceName</div>
        <hr class="m-2" />
        <label class="label font-weight-bolder">Nhãn hiệu:</label>
        <div class="">@Model.BrandName</div>
        <hr class="m-2" />
        <label class="label font-weight-bolder">Dòng máy (Model):</label>
        <div class="">@Model.Model</div>
        <hr class="m-2" />
        <label class="label font-weight-bolder">Số lượng:</label>
        <div class="">@Model.Value</div>
        <hr class="m-2" />
        <label class="label font-weight-bolder">Ghi chú:</label>
        <div class="">@Model.Description</div>
    </div>
    <div class="card-footer text-center">
        <button id="btn_Cancel_Device" type="button" class="btn btn-outline-secondary modal-dismiss">
            Đóng
        </button>
        
    </div>
</div>
<input type="hidden" id="txt_AutoKey_Device" name="AutoKey" value="@Model.AutoKey" />