﻿@model Company_Model
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Survey/_Layout.cshtml";
    var _ListDevice = new List<Device_Model>();
    if (ViewBag.ListDevice != null)
    {
        _ListDevice = ViewBag.ListDevice as List<Device_Model>;
    }
    var _ListSurvey = new List<Survey_Model>();
    if (ViewBag.ListSurvey != null)
    {
        _ListSurvey = ViewBag.ListSurvey as List<Survey_Model>;
    }
    var _ListPhoto = new List<Photo_Model>();
    if (ViewBag.ListPhoto != null)
    {
        _ListPhoto = ViewBag.ListPhoto as List<Photo_Model>;
    }
    string Address = Model.Address + ", " + Model.WardName + ", " + Model.DistrictName + "," + Model.ProvinceName;
}

<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a class="btn-block" onclick="Utils.BackWithRefresh()">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4 class="">THÔNG TIN KHẢO SÁT</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid p-0">
        <section class="card border">
            <div class="card-header">
                <a class="btn  btn-default " asp-controller="Survey" asp-action="Edit" asp-route-CompanyKey="@Model.CompanyKey">
                    Sửa
                </a>
                <button type="button" class=" btn btn-danger" onclick="Delete('@Model.CompanyKey')">
                    Xóa
                </button>
            </div>
            <div class="card-body">
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["error"] !</strong>.
                    </div>
                }
                <label class="label font-weight-bolder">Doanh nghiệp:</label>
                <div class="font-weight-bolder text-primary">@Model.CompanyName</div>
                <hr class="m-2" />
                <label class="label font-weight-bolder">Số điện thoại:</label>
                <div class="font-weight-bolder text-primary">@Model.Phone</div>
                <hr class="m-2" />
                <label class="label">Địa chỉ số:</label>
                <div class="">@Address</div>
                <hr class="m-2" />
                <label class="label">Liên hệ:</label>
                <div class="">@Model.Contact</div>
                <hr class="m-2" />

                @if (Model.Status == 1)
                {
                    <label class="font-weight-bolder text-primary">Đánh giá: Tiềm năng</label>
                }
                else
                {
                    <label class="label">Đánh giá: Không tiềm năng</label>
                }

                <hr class="m-2" />
                <label class="label">Điểm: @Model.Point /10</label>
                <hr class="m-2" />
                <label class="label">Ghi chú:</label>
                <div class="">@Model.Description</div>
                <hr class="m-2" />
                <label class="label">Người tạo:</label>
                <div class="">@Model.CreatedName</div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="font-weight-bolder m-0 text-center">Hình ảnh</h4>
                    @if (_ListPhoto.Count > 0)
                    {
                        <div class="popup-gallery">
                            @{

                                foreach (var rec in _ListPhoto)
                                {
                                    <div class="float-left mb-1 pt-1 mr-1 picView" id="@rec.AutoKey">
                                        <a class="" href="@Url.Content(rec.PhotoPath)" title="Project 1">
                                            <div class="img-fluid">
                                                <img src="@Url.Content(rec.PhotoPath)" width="105" height="105">
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                @{
                    <h4 class="font-weight-bolder m-0 text-center">Thiết bị đang sử dụng</h4>
                    int i = 0;
                    if (_ListDevice.Count > 0)
                    {
                        <table class="table table-sm bg-white">
                            <tr>
                                <th>Stt</th>
                                <th>Nhãn hiệu</th>
                                <th>Số lượng</th>
                            </tr>
                            <tbody>
                                @foreach (var item in _ListDevice)
                                {
                                    i++;
                                    <tr onclick="EditDevice('@item.AutoKey')">
                                        <td>@i</td>
                                        <td>@item.BrandName</td>
                                        <td class="text-right" style="width:100px">@item.Value.ToString("n0")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                        </div>
                    }
                }
            </div>
            <div class="card-footer">
                @{
                    <h4 class="font-weight-bolder m-0 text-center">Lịch sử lần tiếp xúc</h4>
                    if (_ListSurvey.Count > 0)
                    {
                        foreach (var item in _ListSurvey)
                        {
                            <div class="alert alert-success">
                                <strong>Ngày : @item.DateWrite.ToString("dd/MM/yyyy")</strong>
                                <br />
                                <strong>Người tiếp xúc </strong> : @item.CreatedName
                                <br />
                                <strong>Nội dung:</strong>
                                @item.Description<br />
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                        </div>
                    }
                }
            </div>
        </section>
    </section>
    <div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    </div>
</div>

@section scripts{

    <script>
        var URL_List = "@Url.Action("List","Survey")";
        var URL_Delete = "@Url.Action("Delete", "Survey")";
        var URL_Detail_Device = "@Url.Action("Detail_Device", "Survey")";
    </script>
    <script>
        function Delete(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này, các công việc phát sinh kèm theo cũng sẽ bị xóa ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "CompanyKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        window.location = URL_List;
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function EditDevice(Key) {
            $.ajax({
                url: URL_Detail_Device,
                type: "GET",
                data: {
                    "AutoKey": Key,
                },
                beforeSend: function () {
                    $("#modal").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#modal").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.OpenMagnific("#modal");
                    Utils.LoadOut();

                }
            });
        }
    </script>

}
