﻿@model Device_Model
@{
    Layout = null;
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Thông tin thiết bị</h2>
    </div>
    <div class="card-body">
        <div class="form-group-sm row">
            <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_DeviceName">Tên máy</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="txt_DeviceName" name="DeviceName" value="@Model.DeviceName">
            </div>
        </div>
        <div class="form-group-sm row">
            <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_BrandName">Nhãn hiệu</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="txt_BrandName" name="BrandName" value="@Model.BrandName">
            </div>
        </div>
        <div class="form-group-sm row">
            <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Model">Dòng máy (Model)</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="txt_Model" name="Model" value="@Model.Model">
            </div>
        </div>
        <div class="form-group-sm row">
            <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Value">Số lượng máy</label>
            <div class="col-lg-6">
                <input type="number" class="form-control text-right" id="txt_Value" name="Value" value="@Model.Value">
            </div>
        </div>
        <div class="form-group-sm row">
            <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Description_Device">Ghi chú máy</label>
            <div class="col-lg-6">
                <textarea class="form-control" id="txt_Description_Divice" name="Description">@Model.Description</textarea>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button id="btn_Cancel_Device" type="button" class="btn btn-outline-secondary modal-dismiss">
            Đóng
        </button>
        <button id="btn_Save_Device" type="button" class="btn btn-primary" onclick="SaveDevice()">
            <i class="fas fa-check"></i>
            Cập nhật
        </button>
        @if (Model.AutoKey > 0)
        {
            <button type="button" class="btn btn-danger" onclick="DeleteDevice('@Model.AutoKey')">
                <i class="fas fa-trash"></i>
                Xóa
            </button>
        }

    </div>
</div>
<input type="hidden" id="txt_AutoKey_Device" name="AutoKey" value="@Model.AutoKey" />