﻿@model Survey_Model
@{
    Layout = null;
    string zDate = "";
    if (Model.AutoKey == 0)
    {
        zDate = DateTime.Now.ToString("dd/MM/yyyy");
    }
    else
    {
        zDate = Model.DateWrite.ToString("dd/MM/yyyy");
    }
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Thông tin tiếp xúc</h2>
    </div>
    <div class="card-body">
        <div class="form-group-sm row">
            <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_DateWrite">Ngày</label>
            <div class="col-lg-6">
                <input type="text" id="txt_DateWrite" placeholder="__/__/____" class="datepicker form-control" style="font-size:1rem" name="DateWrite" value="@zDate">
            </div>
        </div>
        <div class="form-group-sm row">
            <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Description">Nội dung</label>
            <div class="col-lg-6">
                <textarea class="form-control" id="txt_Description_Survey" name="Description">@Model.Description</textarea>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
            Đóng
        </button>
        <button id="btn_Save" type="button" class="btn btn-primary" onclick="SaveSurvey()">
            <i class="fas fa-check"></i>
            Cập nhật
        </button>
        @if (Model.AutoKey > 0)
        {
            <button type="button" class="btn btn-danger" onclick="DeleteSurvey('@Model.AutoKey')">
                <i class="fas fa-trash"></i>
                Xóa
            </button>
        }
    </div>
</div>
<input type="hidden" id="txt_AutoKey_Survey" name="AutoKey" value="@Model.AutoKey" />
