﻿@using Newtonsoft.Json
@model Company_Model
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Survey/_Layout.cshtml";
    var _ListDevice = new List<Device_Model>();
    if (ViewBag.ListDevice != null)
    {
        _ListDevice = ViewBag.ListDevice as List<Device_Model>;
    }
    var _ListSurvey = new List<Survey_Model>();
    if (ViewBag.ListSurvey != null)
    {
        _ListSurvey = ViewBag.ListSurvey as List<Survey_Model>;
    }
    var _ListPhoto = new List<Photo_Model>();
    if (ViewBag.ListPhoto != null)
    {
        _ListPhoto = ViewBag.ListPhoto as List<Photo_Model>;
    }
}
<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }

        #map .centerMarker {
            position: absolute;
            /*url of the marker*/
            background: url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
            /*center the marker*/
            top: 50%;
            left: 50%;
            z-index: 1;
            /*fix offset when needed*/
            margin-left: -10px;
            margin-top: -34px;
            /*size of the image*/
            height: 34px;
            width: 20px;
            cursor: pointer;
        }
</style>
<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a class="btn-block" asp-controller="Survey" asp-action="List">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    @if (Model.CompanyKey.Length >= 36)
                    {
                        <h4 class="">Chỉnh sửa</h4>
                    }
                    else
                    {
                        <h4 class="">Tạo mới</h4>
                    }
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>

<div class="inner-wrapper">
    <section role="main" class="container-fluid p-0">
        <form class="card border" method="post" asp-controller="Survey" asp-action="Save" onsubmit="return CheckSave()">
            <div class="card-body form-horizontal form-bordered">
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_CompanyName">Tên doanh nghiệp</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txt_CompanyName" name="CompanyName" value="@Model.CompanyName">
                    </div>
                </div>

                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Phone">Số điện thoại</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" id="txt_Phone" name="Phone" value="@Model.Phone" OldVal="@Model.Phone">
                    </div>
                </div>

                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Address">Địa chỉ số </label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txt_Address" name="Address" value="@Model.Address">
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Address">Phường/Xã</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txt_WardName" name="WardName" value="@Model.WardName">
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Address">Quận/Huyện</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txt_DistrictName" name="DistrictName" value="@Model.DistrictName">
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Address">Tỉnh/Thành</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="txt_ProvinceName" name="ProvinceName" value="@Model.ProvinceName">
                    </div>
                </div>

                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Contact">Người liên hệ</label>
                    <div class="col-lg-6">
                        <textarea class="form-control" id="txt_Contact" name="Contact">@Model.Contact</textarea>
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2">Đánh giá</label>
                    <div class="col-lg-6">
                        <select class="form-control" name="Status" id="cbo_status">
                            @if (Model.Status == 1 || Model.Status == 0)
                            {
                                <option selected value="1">Tiềm năng</option>
                                <option value="2">Không tiềm năng </option>
                            }
                            else if (Model.Status == 2)
                            {
                                <option value="1">Tiềm năng</option>
                                <option selected value="2">Không tiềm năng </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Point">Điểm (1-10)</label>
                    <div class="col-lg-6">
                        <input type="number" min="0" max="10" maxlength="2" class="form-control text-right" id="txt_Point" name="Point" value="@Model.Point">
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Description">Ghi chú</label>
                    <div class="col-lg-6">
                        <textarea class="form-control" id="txt_Description" name="Description">@Model.Description</textarea>
                    </div>
                </div>
                <input type="hidden" id="txt_CompanyKey" name="CompanyKey" value="@Model.CompanyKey" />
            </div>

            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    Cập nhật
                </button>
                @if (Model.CompanyKey.Length > 0)
                {
                    <button type="button" class="btn btn-danger" onclick="Delete('@Model.CompanyKey')">
                        <i class="fas fa-trash"></i>
                        Xóa
                    </button>
                }
            </div>
        </form>
        @if (Model.CompanyKey.Length >= 36)
        {
            <div class="card">
                <div class="card-body">
                    <h4 class="font-weight-bolder m-0 text-center">Bản đồ</h4>
                    <!--Google Map Area Start-->
                    <div class="google-map-area" id="map" style="width:100%; height: 400px">

                    </div>
                    <input type="hidden"  id="default_latitude" placeholder="Latitude" value="@Model.Lat" />
                    <input type="hidden" id="default_longitude" placeholder="Longitude" value="@Model.Long" />
                    <!--Google Map Area Start-->
                </div>
                <div class="card-footer text-center">
                    <button type="button" id="GhimMap" onclick="GhimMap()" class="btn btn-primary">
                        <i class="fas fa-check"></i>
                        Ghim vị trí
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="font-weight-bolder m-0 text-center">Hình ảnh</h4>
                    <input type="file" id="ImgList" class="form-control" accept="image/*;capture=camera" multiple="" name="ImgIdList" />
                    <div id="dvPreview">
                    </div>
                    @if (_ListPhoto.Count > 0)
                    {
                        <div class="popup-gallery">
                            @{

                                foreach (var rec in _ListPhoto)
                                {
                                    <div class="float-left mb-1 pt-1 mr-1 picView" id="@rec.AutoKey">
                                        <a class="" href="@Url.Content(rec.PhotoPath)" title="Project 1">
                                            <div class="img-fluid">
                                                <img src="@Url.Content(rec.PhotoPath)" width="105" height="105">
                                            </div>
                                        </a>
                                        <button type="button" class="btn-block btn btn-danger btn-sm hide xoa" onclick="Delete_Photo('@rec.AutoKey')">
                                            <i class="bx bx-trash"></i>
                                            Xóa
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="font-weight-bolder m-0 text-center">Thiết bị đang sử dụng</h4>
                    <button type="button" class="btn btn-primary" onclick="EditDevice(0)">
                        <i class="fas fa-plus"></i>
                        Thêm thiết bị
                    </button>
                </div>
                <div class="card-body">
                    @{
                        int i = 0;
                        if (_ListDevice.Count > 0)
                        {
                            <table class="table table-sm bg-white">
                                <tr>
                                    <th>Stt</th>
                                    <th>Nhãn hiệu</th>
                                    <th>Số lượng</th>
                                </tr>
                                <tbody>
                                    @foreach (var item in _ListDevice)
                                    {
                                        i++;
                                        <tr onclick="EditDevice('@item.AutoKey')">
                                            <td>@i</td>
                                            <td>@item.BrandName</td>
                                            <td class="text-right" style="width:100px">@item.Value.ToString("n0")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="font-weight-bolder m-0 text-center">Lịch sử lần tiếp xúc</h4>
                    <button type="button" class="btn btn-primary" onclick="EditSurvey(0)">
                        <i class="fas fa-plus"></i>
                        Lần tiếp xúc
                    </button>
                </div>
                <div class="card-body">

                    @{
                        if (_ListSurvey.Count > 0)
                        {
                            <table class="table table-sm bg-white">
                                <tbody>

                                    @foreach (var item in _ListSurvey)
                                    {
                                        <tr onclick="EditSurvey('@item.AutoKey')">
                                            <td>
                                                <h4 class="m-0 font-weight-bolder text-primary">Ngày: @item.DateWrite.ToString("dd/MM/yyyy")</h4>
                                                <div class="text-muted">
                                                    Nội dung:
                                                </div>
                                                <div class="text-muted"> @item.Description</div>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                <strong>Chưa có phát sinh, hoặc không tìm thấy thông tin !.</strong>
                            </div>
                        }
                    }
                </div>
            </div>



        }

    </section>
    <div id="modal" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    </div>
    <div id="modal_survey" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    </div>
     <input type="hidden" id="txt_imgList" name="ImgList" value="" />
</div>

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJb0N2stuK1qw0128DbvgSedBjB8lWxU4" type="text/javascript"></script>
    <script>
        var URL_CheckCompany = "@Url.Action("Check_Company", "Survey")";
        var URL_List = "@Url.Action("List", "Survey")";
        var URL_Delete = "@Url.Action("Delete", "Survey")";

        var URL_Edit_Device = "@Url.Action("Edit_Device", "Survey")";
        var URL_Save_Device = "@Url.Action("Save_Device", "Survey")";
        var URL_Delete_Device = "@Url.Action("Delete_Device", "Survey")";

        var URL_Edit_Survey = "@Url.Action("Edit_Survey", "Survey")";
        var URL_Save_Survey = "@Url.Action("Save_Survey", "Survey")";
        var URL_Delete_Survey = "@Url.Action("Delete_Survey", "Survey")";

        var URL_GhimMap = "@Url.Action("GhimMap", "Survey")";
        var Url_Upload_ImgList = "@Url.Action("Upload_ImgList", "Survey")";
        var URL_Save_Photo = "@Url.Action("SavePhoto", "Survey")";
        var URL_Delete_Photo = "@Url.Action("Delete_Photo", "Survey")";

        var _Center;
        var _mapOptions;
        var _map;
        var _markers = [];

        $(document).ready(function () {

            $("#txt_Phone").blur(function () {
                CheckCompany();
            });
        });
       
        function Initialize() {

            var Lat = 0;
            var Long = 0
            if ($("#default_latitude").val() == '' && $("#default_longitude").val() == '') {
                Lat = 10.9201852;
                Long = 106.8829401;
            }
            else {
                Lat = $("#default_latitude").val();
                Long = $("#default_longitude").val();
            }
            _mapOptions = {
                zoom: 19,
                gestureHandling: 'greedy',
                center: new google.maps.LatLng(Lat, Long ),
                mapTypeId: google.maps.MapTypeId.MAP,
            };
            _map = new google.maps.Map(document.getElementById('map'), _mapOptions);

            google.maps.event.addListener(_map, 'center_changed', function () {
                document.getElementById('default_latitude').value = _map.getCenter().lat();
                document.getElementById('default_longitude').value = _map.getCenter().lng();
            });
            $('<div/>').addClass('centerMarker').appendTo(_map.getDiv());

            infoWindow = new google.maps.InfoWindow();
            const locationButton = document.createElement("button");
            locationButton.textContent = "Vị trí hiện tại";
            locationButton.style = "height:40px; width:50px; background:hotpink;border:1px;border-radius:5px";
            locationButton.classList.add("custom-map-control-button");
            _map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(locationButton);
            locationButton.addEventListener("click", () => {
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            const pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                            };
                            infoWindow.setPosition(pos);
                            infoWindow.setContent("Vị trí hiện tại.");
                            infoWindow.open(_map);
                            _map.setCenter(pos);
                        },
                        () => {
                            handleLocationError(true, infoWindow, _map.getCenter());
                        }
                    );
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, _map.getCenter());
                }
            });
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation
                    ? "Error: The Geolocation service failed."
                    : "Error: Your browser doesn't support geolocation."
            );
            infoWindow.open(map);
        }
        google.maps.event.addDomListener(window, 'load', Initialize);

        function Delete(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "CompanyKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        window.location = URL_List;
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.Message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function CheckSave() {
            var input = $("#txt_CompanyName").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập tên khách hàng !.", "Thông báo", "error");
                $("#txt_CompanyName").focus();
                $("#txt_CompanyName").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_CompanyName").css({ "background": "white" });
            }

            input = $("#txt_Phone").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập số điện thoại khách hàng !.", "Thông báo", "error");
                $("#txt_Phone").focus();
                $("#txt_Phone").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_Phone").css({ "background": "white" });
            }

            input = $("#txt_Address").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập địa chỉ khách hàng !.", "Thông báo", "error");
                $("#txt_Address").focus();
                $("#txt_Address").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_Address").css({ "background": "white" });
            }

            //input = $("#txt_Description").val();
            //if (input === "" || input === undefined) {
            //    Utils.OpenNotify("Bạn phải nhập nội dung thông tin !.", "Thông báo", "error");
            //    $("#txt_Description").focus();
            //    $("#txt_Description").css({ "background": "lightcoral" });
            //    return false;
            //}
            //else {
            //    $("#txt_Description").css({ "background": "white" });
            //}

            return true;
        }
        function CheckCompany() {
            var OldPhone = $("#txt_Phone").attr("OldVal");
            var Phone = $("#txt_Phone").val();
            var Key = $("#txt_CompanyKey").val();
            var GoCheck = false;

            //kiem tra số điện thoại khi thêm mới
            if (Phone.length >= 10 && Key === "") {
                GoCheck = true;
            }
            else {
                if (Key.length >= 36) {
                    //kiem tra số điện thoại khi thay đổi edit
                    if (Phone.length >= 10 && Phone !== OldPhone) {
                        GoCheck = true;
                    }
                }
            }

            if (GoCheck === true) {
                $.ajax({
                    url: URL_CheckCompany,
                    type: "GET",
                    data: {
                        "Phone": Phone
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);
                            $("#txt_CompanyName").val(obj.CompanyName);
                            $("#txt_Address").val(obj.Address);
                            $("#txt_CompanyKey").val(obj.CompanyKey);
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {

                    }
                });
            }
        }

        function EditDevice(Key) {
            $.ajax({
                url: URL_Edit_Device,
                type: "GET",
                data: {
                    "AutoKey": Key,
                },
                beforeSend: function () {
                    $("#modal").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#modal").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.OpenMagnific("#modal");
                    Utils.LoadOut();

                }
            });
        }
        function SaveDevice() {

            if ($("#txt_BrandName").val() === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập nhãn hiệu", "warning");
                return;
            }
            if ($("#txt_Value").val() === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập số lượng máy", "warning");
                return;
            }
            $.ajax({
                url: URL_Save_Device,
                type: "POST",
                data: {
                    AutoKey: $("#txt_AutoKey_Device").val(),
                    CompanyKey: $("#txt_CompanyKey").val(),
                    DeviceName: $("#txt_DeviceName").val(),
                    BrandName: $("#txt_BrandName").val(),
                    Model: $("#txt_Model").val(),
                    Value: $("#txt_Value").val(),
                    Description: $("#txt_Description_Divice").val(),
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }

                },
                error: function (err) {
                    Utils.OpenNotify(r.message, "Thông báo", "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function DeleteDevice(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete_Device,
                                type: "POST",
                                data: {
                                    "AutoKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.Message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }

        function EditSurvey(Key) {
            $.ajax({
                url: URL_Edit_Survey,
                type: "GET",
                data: {
                    "AutoKey": Key,
                },
                beforeSend: function () {
                    $("#modal_survey").empty();
                    Utils.LoadIn();
                },
                success: function (r) {
                    $("#modal_survey").append(r);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.OpenMagnific("#modal_survey");
                    Utils.LoadOut();

                }
            });
        }
        function SaveSurvey() {
            if ($("#txt_DateWrite").val() === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập ngày", "warning");
                return;
            }
            $.ajax({
                url: URL_Save_Survey,
                type: "POST",
                data: {
                    AutoKey: $("#txt_AutoKey_Survey").val(),
                    CompanyKey: $("#txt_CompanyKey").val(),
                    DateWrite: $("#txt_DateWrite").val(),
                    Description: $("#txt_Description_Survey").val(),
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }

                },
                error: function (err) {
                    Utils.OpenNotify(r.message, "Thông báo", "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function DeleteSurvey(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete_Survey,
                                type: "POST",
                                data: {
                                    "AutoKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.Message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }

        function GhimMap() {

            $.ajax({
                url: URL_GhimMap,
                type: "GET",
                data: {
                    "CompanyKey": $("#txt_CompanyKey").val(),
                    "Lat": $("#default_latitude").val(),
                    "Long": $("#default_longitude").val(),
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Thông báo","Ghim map thành công!", "success");
                    }
                    else {
                        Utils.OpenNotify("Thông báo", r.Message, "error");
                    }
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();

                }
            });
        }

        $("#ImgList").change(function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = $("#dvPreview");
                dvPreview.html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                $($(this)[0].files).each(function () {
                    var file = $(this);
                    if (regex.test(file[0].name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = $("<img />");
                            img.attr("style", "height:100px;width: 100px");
                            img.attr("src", e.target.result);
                            dvPreview.append(img);
                        }
                        reader.readAsDataURL(file[0]);
                    } else {
                        alert(file[0].name + " is not a valid image file.");
                        dvPreview.html("");
                        return false;
                    }
                });
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        });
        $("#ImgList").change(function () {
            UploadImgList();
        });
        //upload nhiều hình
        function UploadImgList() {
            var inputfile = $("#ImgList").get(0);
            var files = inputfile.files;//lấy nhiều hình
            var formdata = new FormData();
            var checkfile = true;
            for (var i = 0; i < files.length; i++) {
                var fileType = files[i]["type"];
                var validImageTypes = ["image/gif", "image/jpeg", "image/png"];
                if ($.inArray(fileType, validImageTypes) < 0) {
                    checkfile = false;
                    return;
                }
                else {
                    formdata.append(files[i].name, files[i]);
                }
            }
            if (checkfile) {

                $.ajax({
                    url: Url_Upload_ImgList,
                    type: "POST",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (!r.success) {
                            Utils.OpenNotify("Thông báo", "Bạn phải chọn hình ảnh để tải lên !", "warning");
                        }
                        else {
                             $("#txt_imgList").val(r.data);
                            SavePhoto();
                        }
                    },
                    error: function (err) {

                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.OpenNotify("Định dạng hình ảnh không đúng.", "Bạn phải chọn tập tin là hình ảnh !", "warning");
            }
        }
        function SavePhoto() {

            $.ajax({
                url: URL_Save_Photo,
                type: "POST",
                data: {
                    CompanyKey: $("#txt_CompanyKey").val(),
                    list: $("#txt_imgList").val(),
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.message, "Thông báo", "error");
                    }

                },
                error: function (err) {
                    Utils.OpenNotify(r.message, "Thông báo", "error");
                },
                complete: function () {
                    Utils.LoadOut();
                }
            });
        }
        function Delete_Photo(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete_Photo,
                                type: "POST",
                                data: {
                                    "AutoKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.Message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });

        }
    </script>

}
