﻿@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Survey/_Layout.cshtml";
}
<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Kinh doanh khảo sát</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fas fa-2x fa fa-search"></i>
                    </a>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-sm mb-0">
            <tr>
                <td style="width:90px;">
                    <a class="nav-link p-0 text-center " asp-controller="Survey" asp-action="Edit" asp-route-CompanyKey="@(Guid.NewGuid().ToString())">
                        <i class="fas fa-plus fa-2x mr-0"></i><br />
                        Thêm mới
                    </a>
                </td>
                <td style="width:90px;">
                    <a class="nav-link p-0 text-center " asp-controller="Survey" asp-action="Map">
                        <i class="fas fa-globe-americas fa-2x mr-0"></i><br />
                        Bản đồ
                    </a>
                </td>
                <td style="width:90px;">
                    <a class="nav-link p-0 text-center " asp-controller="Survey" asp-action="List">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        Danh sách
                    </a>
                </td>
                <td style="width:90px;">
                    <a class="nav-link p-0 text-center " asp-controller="Survey" asp-action="Report">
                        <i class="fas fa-chart-line fa-2x mr-0"></i><br />
                        Báo cáo
                    </a>
                </td>
            </tr>
        </table>
    </div>
</header>