﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Survey/_Layout.cshtml";

    var _ListData = new List<Company_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Company_Model>;
    }
    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }

    var session = Context.Session.GetString("UserLogged");
    var UserLog = JsonConvert.DeserializeObject<User_Model>(session);
}
<header class="header" style="position:fixed">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Kinh doanh khảo sát</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fas fa-2x fa fa-search"></i>
                    </a>
                </td>
            </tr>
        </table>
        <table class="table table-bordered table-sm mb-0">
            <tr>
                <td style="width:90px;">
                    <a class="nav-link p-0 text-center " asp-controller="Survey" asp-action="Edit" asp-route-CompanyKey="@(Guid.NewGuid().ToString())">
                        <i class="fas fa-plus fa-2x mr-0"></i><br />
                        Thêm mới
                    </a>
                </td>
                <td style="width:90px;" class="active">
                    <a class="nav-link p-0 text-center " asp-controller="Survey" asp-action="Map">
                        <i class="fas fa-globe-americas fa-2x mr-0"></i><br />
                        Bản đồ
                    </a>
                </td>
                <td style="width:90px;">
                    <a class="nav-link p-0 text-center " asp-controller="Survey" asp-action="List">
                        <i class="fas fa-clipboard-list fa-2x mr-0"></i><br />
                        Danh sách
                    </a>
                </td>
                <td style="width:90px;">
                    <a class="nav-link p-0 text-center " asp-controller="Survey" asp-action="Report">
                        <i class="fas fa-chart-line fa-2x mr-0"></i><br />
                        Báo cáo
                    </a>
                </td>
            </tr>
        </table>
    </div>
</header>
<div class="card" style="padding-top:110px">
        <!--Google Map Area Start-->
        <div class="google-map-area" id="map" style="width:100%;">

        </div>
        <!--Google Map Area Start-->
</div>
<aside id="sidebar-left" class="sidebar-left" style="padding-top:120px">
    <form class="card" method="post">
        <div class="card-header">
            <h4 class="text-center m-0">Tìm kiếm thông tin</h4>
        </div>
        <div class="card-body">
            <div class="form-label-group">
                <input type="text" class="form-control" id="txt_SearchName" name="Name" placeholder="">
                <label for="txt_SearchName">Tên khách hàng</label>
            </div>
            <div class="form-label-group">
                <input type="number" class="form-control" id="txt_SearchPhone" name="Phone" placeholder="">
                <label for="txt_SearchPhone">Số điện thoại</label>
            </div>
            <select class="form-control" id="Branch" name="Branch">
                <option value="">--//--</option>
                @foreach (var item in _ListBranch)
                {
                    <option value="@item.BranchKey">@item.BranchName</option>
                }
            </select>
        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary" onclick="SearchListMap()">
                <i class="fas fa fa-search"></i>
                Tìm
            </button>
        </div>
    </form>
</aside>
@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJb0N2stuK1qw0128DbvgSedBjB8lWxU4" type="text/javascript"></script>
    <script>
        var _Maker = [];
        var _map = "";
        var _mapOptions;
        var _infoWindow = new google.maps.InfoWindow();
        $(document).ready(function () {
            Initialize();
/*            GetListLocation()*/
            var height = window.innerHeight-110;
            $("#map").height(height);
            SearchListMap();
        });

        function GetListLocation() {
            $.ajax({
                url: "/Survey/ListMap",
                type: "GET",
                data: {

                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    var Json = JSON.parse(r.data);
                    SetUpMap(Json);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();

                }
            });
        }
        function Initialize() {
            _mapOptions = {
                zoom: 10,
                gestureHandling: 'greedy',
                center: new google.maps.LatLng(10.9201852, 106.8829401),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            };
            _map = new google.maps.Map(document.getElementById('map'), _mapOptions);

            $('<div/>').addClass('centerMarker').appendTo(_map.getDiv());

            
            const locationButton = document.createElement("button");
            locationButton.textContent = "Vị trí hiện tại";
            locationButton.style = "height:40px; width:50px; background:hotpink;border:1px;border-radius:5px";
            locationButton.classList.add("custom-map-control-button");
            _map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(locationButton);
            locationButton.addEventListener("click", () => {
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            const pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                            };
                            _infoWindow.setPosition(pos);
                            _infoWindow.setContent("<b>Vị trí hiện tại.</b>");
                            _infoWindow.open(_map);
                            _map.setCenter(pos);
                        },
                        () => {
                            handleLocationError(true, _infoWindow, _map.getCenter());
                        }
                    );
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, _infoWindow, _map.getCenter());
                }
            });
        }

        function SetUpMap(data) {
/*            _Marker = new Array();*/
            for (i = 0; i < data.length; i++) {
                var Object = data[i];
                LoadDiem(Object);
            }
            for (i = 0; i < _Maker.length; i++) {
                _Maker[i].setMap(_map);
            }

        }
        function LoadDiem(location) {
            var zicon = "http://maps.google.com/mapfiles/ms/icons/green-dot.png";
            if (location.Status == 2) {
                zicon = "http://maps.google.com/mapfiles/ms/icons/orange-dot.png";
            }

            var myLatLng = { lat: parseFloat(location.Lat), lng: parseFloat(location.Long) };
            var marker = new google.maps.Marker({
                position: myLatLng,
                icon: zicon,
                title: "Hello World!",
            });
            var Content = "<input id='" + location.CompanyKey + "' type='hidden' />"
            Content += "<h5><b>" + location.CompanyName + "</b><h5>"
            Content += "<b><p> ĐT:" + location.Phone + "<br/>"
            Content += "Đ/c:" + location.Address + "<p/></b>"
            Content += '<div style="text-align:center"><button type="button" class="btn btn-info" onclick = "Detail(\'' + location.CompanyKey + '\')">Chi tiết  </button></div>';
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    _infoWindow.setContent(Content);
                    _infoWindow.open(_map, marker);
                }
            })(marker, i));

            _Maker.push(marker);
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation
                    ? "Error: The Geolocation service failed."
                    : "Error: Your browser doesn't support geolocation."
            );
            infoWindow.open(map);
        }
        google.maps.event.addDomListener(window, 'load', Initialize);
        function Detail(id) {
            var url = "@Url.Action("Detail", "Survey", new { CompanyKey = "_id_" })";
            url = url.replace("_id_", id);
            window.location = url;
        }
        function SearchListMap() {
            $.ajax({
                url: "/Survey/Search_Map",
                type: "GET",
                data: {
                    Name: $("#txt_SearchName").val(),
                    Phone: $("#txt_SearchPhone").val(),
                    Branch: $("#Branch").val() ,
                },
                beforeSend: function () {
                    Utils.LoadIn();
                },
                success: function (r) {
                    var Json = JSON.parse(r.data);
                    console.log(Json);
                    SetUpMap(Json);
                },
                error: function (err) {

                },
                complete: function () {
                    Utils.LoadOut();

                }
            });
        }
    </script>
}