﻿
@{
    ViewData["Title"] = "Kết quả khảo sát";
    Layout = "~/Views/Survey/_Layout.cshtml";
    var _DateView = ViewBag.DateView;
    var _ListBranchData = new List<rptSurvey>();
    if (ViewBag.BranchData != null)
    {
        _ListBranchData = ViewBag.BranchData as List<rptSurvey>;
    }

    double _SOLAN = _ListBranchData.Sum(s => s.Value);

    var _ListCompanyData = new List<rptSurvey>();
    if (ViewBag.CompanyData != null)
    {
        _ListCompanyData = ViewBag.CompanyData as List<rptSurvey>;
    }
    var _ListDeviceData = new List<rptSurvey>();
    if (ViewBag.DeviceData != null)
    {
        _ListDeviceData = ViewBag.DeviceData as List<rptSurvey>;
    }
}
<style>
    .bg-purple {
        background-color: purple;
    }

    .bg-orange {
        background-color: orange;
    }
</style>
<header class="header" style="height:60px; position:fixed">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Survey" asp-action="Map">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4>Kết quả tổng hợp</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fas fa-2x fa-list-ol"></i>
                    </a>
                </td>
            </tr>
        </table>

    </div>
</header>
<aside id="sidebar-left" class="sidebar-left">
    <div class="nano">
        <div class="nano-content">
                <nav id="menu" class="nav-main" role="navigation">
                    <ul class="nav nav-main">
                                <li class="">
                                    <a asp-controller="Survey" asp-action="Report">
                                        <i class="fas fa-circle-notch"></i>
                                        Tổng hợp
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Survey" asp-action="Report_Branch">
                                        <i class="fas fa-circle-notch"></i>
                                        Chi nhánh
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Survey" asp-action="Report_Staff">
                                        <i class="fas fa-circle-notch"></i>
                                        Nhân viên
                                    </a>
                                </li>
                    </ul>
                </nav>
        </div>
    </div>
</aside>
<div class="row bg-white border-bottom" style="padding-top:70px">
    <form class="col-12" asp-controller="Survey" asp-action="Report">
        <table class="table data mb-0">
            <tr>
                <td class="text-left" style="vertical-align:middle">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                </td>
                <td class="text-center" style="vertical-align:middle" onclick="OpenDate();">
                    <h4 class="font-weight-semibold text-primary">
                        Tháng @_DateView
                    </h4>
                </td>
                <td class="text-right" style="vertical-align:middle">
                    <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </td>
            </tr>
        </table>
        <input id="txt_DateView" type="hidden" name="DateView" value="@_DateView" />
    </form>
</div>
<section class="card mb-1 mt-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 >Các chi nhánh</h3>
                    <table class="table table-bordered table-sm">
                        <tr>
                            <th class="text-center">Cửa hàng</th>
                            <th class="text-center">Số khách</th>
                            <th class="text-center">Số máy</th>
                        </tr>

                        <tr style=" background: orange; font-weight: bold; color: white;">
                            <td>TỔNG</td>
                            <td class="number text-right">@_ListBranchData.Sum(s => s.Number)</td>
                            <td class="number text-right">@_ListBranchData.Sum(s => s.Value)</td>
                        </tr>
                        @{
                            foreach (var item in _ListBranchData)
                            {
                                <tr>
                                    <td>@item.BranchName</td>
                                    <td class="number text-right">@item.Number</td>
                                    <td class="number text-right">@item.Value</td>

                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="card mb-1 mt-0">
    <div class="card-body">
        <h3>Các doanh nghiệp</h3>
        <table class="table table-bordered table-sm">
            <tr>
                <th class="text-center">Cửa hàng</th>
                <th class="text-center">Số lần</th>
                <th class="text-center">Số máy</th>
            </tr>

            <tr style=" background: orange; font-weight: bold; color: white;">
                <td>TỔNG</td>
                <td class="number text-right">@_ListCompanyData.Sum(s => s.Number)</td>
                <td class="number text-right">@_ListCompanyData.Sum(s => s.Value)</td>
            </tr>
            @{
                foreach (var item in _ListCompanyData)
                {
                    <tr>
                        <td>@item.CompanyName</td>
                        <td class="number text-right">@item.Number</td>
                        <td class="number text-right">@item.Value</td>

                    </tr>
                }
            }
        </table>
    </div>
</section>
<section class="card mb-1 mt-0">
    <div class="card-body">
        <h3>Tổng hợp thiết bị</h3>
        <table class="table table-bordered table-sm">
            <tr>
                <th class="text-center">Dòng máy</th>
                <th class="text-center">Tên máy</th>
                <th class="text-center">Số lượng</th>
            </tr>

            <tr style=" background: orange; font-weight: bold; color: white;">
                <td>TỔNG</td>
                <td></td>
                <td class="number text-right">@_ListDeviceData.Sum(s => s.Value)</td>
            </tr>
            @{
                foreach (var item in _ListDeviceData)
                {
                        <tr>
                            <td>@item.Model</td>
                            <td>@item.DeviceName</td>
                            <td class="number text-right">@item.Value</td>
                        </tr>
                }
            }
        </table>
    </div>
</section>

@section scripts{
    @*<script src="~/js/ChartUtils.js"></script>
        <script src="~/js/Chart.js"></script>
        <script>
            $(document).ready(function () {

            });

            @Html.Raw(ViewBag.ChartData);
            const config = {
                type: 'doughnut',
                data: data,
                options: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Doanh số chi nhánh'
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    animation: false,
                }
            };
            var ctx = document.getElementById('canvas');
            var myPieChart = new Chart(ctx, config);
        </script>*@
}
