﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Menu = new List<User_Role>();
    if (ViewBag.Menu != null)
    {
        Menu = ViewBag.Menu as List<User_Role>;
    }

    //var session = Context.Session.GetString("UserLogged");
    //var UserLog = JsonConvert.DeserializeObject<User_Model>(session);
}

<div class="row pr-3 pl-3">
    @if (Menu != null && Menu.Count() > 0)
    {
        foreach (var item in Menu)
        {
            if (item.RoleRead)
            {
                string controller = item.ControllerName;
                string action = item.ActionName;
                string param = item.ParamName;
                string icon = item.Icon;
                string name = item.RoleName;
                string href = Url.Action(action, controller);
                if (param != string.Empty)
                {
                    href += "?" + param;
                }

                <div class="col-4">
                    <section class="card mb-4 text-center">
                        <a class="card-body p-2 bg-primary text-white" href="@href">
                            <h4>
                                <i class="fa-3x @icon"></i>
                            </h4>
                            <h4 style="margin:0px; padding:0px; text-align:center">@name</h4>
                        </a>
                        @if (item.Badge > 0)
                        {
                            <span style="
    background: #D2312D;
    color: #FFF;
    line-height:30px;
    font-size: 20px;
    height: 36px;
    width: 36px;
    padding: 3px 5px 3px 5px;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 100%;
">@item.Badge</span>
}
                    </section>
                </div>

            }
        }
    }
    else
    {
        <div class="alert alert-warning">
            <strong>Bạn đã đăng ký thành công !.</strong> Vui lòng liên hệ số điện thoại  <a href="tel:0988201737" class="alert-link">0988201737</a> để được cấp quyền sử dụng.
        </div>
    }
</div>