﻿@model Task_Model
@{
    string Phone = "";
    string Name = "";
    string Address = "";
    if (Model != null)
    {
        Phone = Model.CustomerPhone;
        Name = Model.CustomerName;
        Address = Model.CustomerAddress;
    }
}

<div class="form-group-sm row">
    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Phone">
        Số điện thoại *
    </label>
    <div class="col-lg-6">
        <input type="number" class="form-control" id="txt_Phone" name="CustomerPhone" value="@Phone">
    </div>
</div>
<div class="form-group-sm row">
    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_CustomerName">
        Nhập tên khách hàng *
    </label>
    <div class="col-lg-6">
        <input type="text" class="form-control" id="txt_CustomerName" name="CustomerName" value="@Name">
    </div>
</div>
<div class="form-group-sm row">
    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Address">
        Địa chỉ *
    </label>
    <div class="col-lg-6">
        <input type="text" class="form-control" id="txt_Address" name="CustomerAddress" value="@Address">
    </div>
</div>