﻿@model Task_Model
@{
    string Key = "";
    string Phone = "";
    string Name = "";
    string Address = "";
    if (Model != null)
    {
        Key = Model.CustomerKey;
        Phone = Model.CustomerPhone;
        Name = Model.CustomerName;
        Address = Model.CustomerAddress;
    }

    var _ListCustomer = new List<Customer_Model>();
    if (ViewBag.ListCustomer != null)
    {
        _ListCustomer = ViewBag.ListCustomer as List<Customer_Model>;
    }
}



@if (_ListCustomer.Count > 0)
{
    <div class="form-group-sm row">
        <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_CustomerName">
            Nhập/ chọn tên khách hàng
        </label>
        <div class="col-lg-6">
            <select class="select2 form-control" name="CustomerKey" id="cbo_Customer">
                <option selected>--Chọn--</option>
                @foreach (var item in _ListCustomer)
                {
                    if (item.CustomerKey.ToUpper() == Key.ToUpper())
                    {
                        <option value="@item.CustomerKey" selected>@(item.FullName + " SĐT: " + item.Phone)</option>
                    }
                    else
                    {
                        <option value="@item.CustomerKey">@(item.FullName + " SĐT: " + item.Phone)</option>
                    }

                }
            </select>
        </div>
    </div>
}
else
{
    <div class="form-group-sm row">
        <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_CustomerName">
            Nhập tên khách hàng *
        </label>
        <div class="col-lg-6">
            <input type="text" class="form-control" id="txt_CustomerName" name="CustomerName" value="@Name">
        </div>
    </div>
}


<div class="form-group-sm row">
    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Phone">Số điện thoại</label>
    <div class="col-lg-6">
        <input type="number" class="form-control" id="txt_Phone" name="CustomerPhone" value="@Phone" oldvalue="@Phone">
    </div>
</div>

<div class="form-group-sm row">
    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Address">Địa chỉ</label>
    <div class="col-lg-6">
        <input type="text" class="form-control" id="txt_Address" name="CustomerAddress" value="@Address">
    </div>
</div>