﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    Layout = "~/Views/Task/_Layout.cshtml";

    var _Session = Context.Session.GetString("UserLogged");
    var _UserLog = JsonConvert.DeserializeObject<User_Model>(_Session);

    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }

    var _ListOption = new List<TN_Item>();
    if (ViewBag.ListOption != null)
    {
        _ListOption = ViewBag.ListOption as List<TN_Item>;
    }
}
<style>
    .select2-drop li {
        white-space: pre-line;
    }
</style>
<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4 class="">Thêm công việc tại cửa hàng</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>
<form class="inner-wrapper" method="post" asp-controller="Task" asp-action="OnSite_Save" onsubmit="return CheckSave()">
    <section class="card border">
        <div class="card-header">
            <h4 class="card-title text-center m-0">@ViewBag.TitleTask</h4>
        </div>
        <div class="card-body">
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["error"] !</strong>.
                </div>
            }

            <div class="form-horizontal form-bordered">
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2 text-danger font-weight-bolder" for="cbo_Option">
                        Trường hợp *
                    </label>
                    <div class="col-lg-6">
                        <select class="form-control" name="OptionTask" id="cbo_Option">
                            <option value="">--//--</option>
                            @foreach (var item in _ListOption)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group-sm row" id="divBranch" style="display:none">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="cbo_Branch">
                        Chọn cửa hàng
                    </label>
                    <div class="col-lg-6">
                        <select class="form-control" name="Branch" id="cbo_Branch">
                            <option value="">--//--</option>
                            @foreach (var item in _ListBranch)
                            {
                                <option value="@item.BranchKey">@item.BranchName</option>
                            }
                        </select>
                    </div>
                </div>

                <div id="divPanel">

                </div>

                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Description">
                        Nội dung *
                    </label>
                    <div class="col-lg-6">
                        <textarea type="text" class="form-control" id="txt_Description" rows="4" name="TaskContent">@Model.TaskContent</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default go-back">
                <i class="fas fa-times"></i>
                Trở lại
            </button>
            <button type="submit" class="btn btn-primary float-right">
                <i class="fas fa-paper-plane"></i>
                Gửi/ cập nhật
            </button>
        </div>
    </section>

    <input id="txt_TaskKey" type="hidden" name="TaskKey" value="@Model.TaskKey" />
    <input id="txt_CategoryKey" type="hidden" name="CategoryKey" value="@Model.CategoryKey" />
    <input id="txt_CustomerKey" type="hidden" name="CustomerKey" value="@Model.CustomerKey" />
    <input id="txt_CustomerName" type="hidden" name="CustomerName" value="@Model.CustomerName" />
</form>


@section scripts{
    <script>
        var URL_KeyCustomer = "@Url.Action("Get_CustomerKey", "Task")";
        var URL_PhoneCustomer = "@Url.Action("Get_CustomerPhone", "Task")";
        var URL_SetInput = "@Url.Action("SetInput", "Task")";
    </script>
    <script>
        $(document).ready(function () {
            $("#cbo_Option").change(function () {
                SetInput();
                var val = $(this).val();
                if (val === "3") {
                    $("#divBranch").toggle();
                }
                else {
                    $("#divBranch").hide();
                }
            });
            $("#txt_Phone").blur(function () {
                CheckInputPhone();
            });
        });
        function CheckSave() {
            var input = $("#cbo_Option").val();
            if (input === '') {
                Utils.OpenNotify("Bạn phải chọn trường hợp !.", "Thông báo", "error");
                return false;
            }

            input = $("#txt_Phone").val();
            if (input === '' || input.length < 10) {
                Utils.OpenNotify("Bạn phải nhập đúng số điện thoại !.", "Thông báo", "error");
                return false;
            }
            else {
                var old = $("#txt_Phone").attr("oldvalue");
                if (input !== old) {
                    $.ajax({
                        url: URL_PhoneCustomer,
                        type: "GET",
                        data: {
                            "Phone": input
                        },
                        beforeSend: function () {

                        },
                        success: function (r) {
                            if (r.success) {
                                Utils.OpenNotify("Thông báo", "Đã có thông tin khách hàng cho số điện thoại [" + input + "]. Vui lòng kiểm tra lại thông tin khi tiếp tục !.", "warning");
                                return false;
                            }
                        },
                        error: function (err) {
                            Utils.OpenNotify("Thông báo", err.responseText, "error");
                        },
                        complete: function () {

                        }
                    });
                }
            }

            input = $("#txt_Address").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập địa chỉ khách hàng !.", "Thông báo", "error");
                $("#txt_Address").focus();
                $("#txt_Address").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_Address").css({ "background": "white" });
            }

            input = $("#txt_Description").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập nội dung thông tin !.", "Thông báo", "error");
                $("#txt_Description").focus();
                $("#txt_Description").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_Description").css({ "background": "white" });
            }

        }
        function CheckInputPhone() {
            $("#txt_Phone").blur(function () {
                var Phone = $("#txt_Phone").val();
                var Old = $("#txt_Phone").attr("oldvalue");
                if (Phone.length >= 10) {
                    if (Phone !== Old) {
                        $.ajax({
                            url: URL_PhoneCustomer,
                            type: "GET",
                            data: {
                                "Phone": Phone
                            },
                            beforeSend: function () {

                            },
                            success: function (r) {
                                if (r.success) {
                                    var obj = JSON.parse(r.data);
                                    $("#txt_CustomerName").val(obj.FullName);
                                    $("#txt_Address").val(obj.Address);
                                    $("#txt_CustomerKey").val(obj.CustomerKey);
                                }
                            },
                            error: function (err) {
                                Utils.OpenNotify("Thông báo", err.responseText, "error");
                            },
                            complete: function () {

                            }
                        });
                    }
                }
                else {
                    Utils.OpenNotify("Thông báo", "Bạn phải nhập số điện thoại !.", "error");
                }
            });
        }
        function CheckSelectPhone() {
            $("#cbo_Customer").change(function () {
                var Key = $(this).val();
                $.ajax({
                    url: URL_KeyCustomer,
                    type: "GET",
                    data: {
                        "CustomerKey": Key
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);
                            $("#txt_CustomerName").val(obj.FullName);
                            $("#txt_Address").val(obj.Address);
                            $("#txt_Phone").val(obj.Phone);
                            $("#txt_Phone").attr("oldvalue", obj.Phone);
                            $("#txt_CustomerKey").val(obj.CustomerKey);
                            _New = 0;
                        }
                        else {
                            _New = 1;
                            $("#txt_Address").val("");
                            $("#txt_Phone").val("");
                            $("#txt_CustomerKey").val("");
                            $("#txt_CustomerName").val("");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify("Thông báo", err.responseText, "error");
                    },
                    complete: function () {

                    }
                });
            });
        }

        function SetInput() {
            var Option = $("#cbo_Option").val();
            $.ajax({
                url: URL_SetInput,
                type: "GET",
                cache: false,
                dataType: "html",
                data: {
                    "Option": Option
                },
                beforeSend: function () {

                },
                success: function (r) {
                    $("#divPanel").html(r);
                },
                error: function (err) {
                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                },
                complete: function () {
                    //var val = $("#cbo_Option").val();

                    CheckSelectPhone();

                    //if (val == 1) {
                    //    CheckInputPhone();
                    //}
                    //else {
                    //    CheckSelectPhone();
                    //}

                    $(".select2").select2({
                        width: "100%",
                        placeholder: "--Chọn--",
                        tags: true,
                        createTag: function (params) {
                            return {
                                id: params.term,
                                text: params.term,
                                newOption: true
                            };
                        }
                    });
                }
            });
        }
    </script>
}