﻿@using Desktop
@{
    ViewData["Title"] = "Home Page";
    var chkHtml = ViewBag.Option;
    if (chkHtml == null)
    {
        chkHtml = "DONHANG,DOANHSO,CONGNO,CHIPHI,KHACHHANG,LOINHUAN";
    }

    var ListStaff = new List<Rpt_ItemSale>();
    if (ViewBag.TableStaff != null)
    {
        ListStaff = ViewBag.TableStaff as List<Rpt_ItemSale>;
    }

    var ListGuest = new List<Rpt_ItemSale>();
    if (ViewBag.TableGuest != null)
    {
        ListGuest = ViewBag.TableGuest as List<Rpt_ItemSale>;
    }

    var ListStatus = new List<Rpt_ItemSale>();
    if (ViewBag.TableStatus != null)
    {
        ListStatus = ViewBag.TableStatus as List<Rpt_ItemSale>;
    }

    var _Branch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _Branch = ViewBag.ListBranch as List<Branch_Model>;
    }

    int No = 1;
}


<style>
    .bg-purple {
        background-color: purple;
    }

    .bg-orange {
        background-color: orange;
    }
    /**/
    .selectdiv {
        position: relative;
        /*Don't really need this just for demo styling*/
        float: right;
        min-width: 350px;
    }

    /*To remove button from IE11, thank you Matt */
    select::-ms-expand {
        display: none;
    }

    .selectdiv:after {
        content: '<>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 11px;
        /*Adjust for position however you want*/
        top: 18px;
        padding: 0 0 2px;
        border-bottom: 1px solid #999;
        /*left line */
        position: absolute;
        pointer-events: none;
    }

    .selectdiv select {
        border-radius: 0 !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        display: block;
        width: 100%;
        max-width: 320px;
        height: 50px;
        float: right;
        padding: 0px 24px;
        font-size: 16px;
        line-height: 1.75;
        color: #333;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }
</style>
<header class="page-header">
    <h2>
        Hoạt động cửa hàng
        <span class="selectdiv">
            <select id="cboBranch">
                <option value="0">--Tất cả--</option>
                @{
                    foreach (var item in _Branch)
                    {
                        if (ViewBag.Branch != null && ((string)ViewBag.Branch).Contains(item.BranchKey.ToString()))
                        {
                            <option value="@item.BranchKey" selected>@item.BranchName</option>
                        }
                        else
                        {
                            <option value="@item.BranchKey">@item.BranchName</option>
                        }
                    }
                }
            </select>
        </span>
    </h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-12">
        <form asp-controller="Home" asp-action="GetDataChart" id="formSubmit">
            <table class="table  data mb-0">
                <tr>
                    <td class="text-left">
                        <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Prev">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <h4 class="font-weight-semibold text-primary">
                            @ViewBag.FromDate - @ViewBag.ToDate
                        </h4>
                    </td>
                    <td class="text-right">
                        <button type="submit" class="btn btn-info btn-block" name="btnAction" value="btn_Next">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </td>
                </tr>
            </table>

            <input type="hidden" name="FromDate" id="txtStartDate" value="@ViewBag.FromDate" />
            <input type="hidden" name="ToDate" id="txtEndDate" value="@ViewBag.ToDate" />
            <input type="hidden" name="Option" id="txtOption" value="@ViewBag.Option" />
            <input type="hidden" name="Branch" id="txtBranch" value="@ViewBag.Branch" />
            <input type="hidden" name="Color" value="#383f4882,#0088cc82,#e361598f,#2baab194,#8000807a,#ffa50080" />
        </form>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>@ViewBag.Message</strong>
    </div>
}
<div class="row pt-0">
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-quaternary p-2">
                <div class="widget-summary">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Công việc</h4>
                            <div class="info">
                                <strong class="amount">@ViewBag.Task</strong>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <div class="checkbox-custom checkbox-default text-white float-right">
                                @if (chkHtml.Contains("DONHANG"))
                                {
                                    <input type="checkbox" checked="" id="chkSale" value="DONHANG" name="DONHANG">
                                }
                                else
                                {
                                    <input type="checkbox" id="chkSale" value="DONHANG" name="DONHANG">
                                }
                                <label for="chkSale">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-primary p-2">
                <div class="widget-summary">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Doanh số</h4>
                            <div class="info">
                                <strong class="amount number">@ViewBag.Sales</strong>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <div class="checkbox-custom checkbox-default text-white float-right">
                                @if (chkHtml.Contains("DOANHSO"))
                                {
                                    <input type="checkbox" checked="" id="chkAmount" value="DOANHSO" name="DOANHSO">
                                }
                                else
                                {
                                    <input type="checkbox" id="chkAmount" value="DOANHSO" name="DOANHSO">
                                }
                                <label for="chkAmount">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-secondary p-2">
                <div class="widget-summary">

                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Công nợ</h4>
                            <div class="info">
                                <strong class="amount">0</strong>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <div class="checkbox-custom checkbox-default text-white float-right">
                                @if (chkHtml.Contains("CONGNO"))
                                {
                                    <input type="checkbox" checked="" id="chkDebt" value="THUBANHANG" name="CONGNO">
                                }
                                else
                                {
                                    <input type="checkbox" id="chkDebt" value="THUBANHANG" name="CONGNO">
                                }
                                <label for="chkDebt">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-tertiary p-2">
                <div class="widget-summary">

                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Chi phí</h4>
                            <div class="info">
                                <strong class="amount">0</strong>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <div class="checkbox-custom checkbox-default text-white float-right">
                                @if (chkHtml.Contains("CHIPHI"))
                                {
                                    <input type="checkbox" id="chkIncome" checked="" value="THUKHAC" name="CHIPHI">
                                }
                                else
                                {
                                    <input type="checkbox" id="chkIncome" value="THUKHAC" name="CHIPHI">
                                }
                                <label for="chkIncome">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-purple p-2">
                <div class="widget-summary">
                    <div class="widget-summary-col ">
                        <div class="summary">
                            <h4 class="title text-white">Khách hàng</h4>
                            <div class="info">
                                <strong class="amount text-white">@ViewBag.Guest</strong>
                            </div>
                        </div>
                        <div class="summary-footer" style="border-top: 1px solid #fff;border-top-color: rgba(255, 255, 255, 0.2);">
                            <div class="checkbox-custom checkbox-default text-white float-right">
                                @if (chkHtml.Contains("KHACHHANG"))
                                {
                                    <input type="checkbox" checked="" id="chkFee" value="CHIPHI" name="KHACHHANG">
                                }
                                else
                                {
                                    <input type="checkbox" id="chkFee" value="CHIPHI" name="KHACHHANG">
                                }
                                <label for="chkFee">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-2">
        <section class="card mb-4">
            <div class="card-body bg-orange p-2">
                <div class="widget-summary">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title text-white">Lợi nhuận gộp</h4>
                            <div class="info">
                                <strong class="amount text-white">0</strong>
                            </div>
                        </div>
                        <div class="summary-footer" style="border-top: 1px solid #fff;border-top-color: rgba(255, 255, 255, 0.2);">
                            <div class="checkbox-custom checkbox-default text-white float-right">

                                @if (chkHtml.Contains("LOINHUAN"))
                                {
                                    <input type="checkbox" checked="" id="chkGuest" value="TON" name="LOINHUAN">
                                }
                                else
                                {
                                    <input type="checkbox" id="chkGuest" value="TON" name="LOINHUAN">
                                }
                                <label for="chkGuest">Xem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row pt-0">
    <div class="col-12">
        <section class="card mb-4">
            <div class="card-body" style="position: relative; height:45vh;">
                <canvas id="canvas"></canvas>
            </div>
        </section>
    </div>
</div>
<div class="row pt-0 pb-2">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Doanh số khách hàng</h2>
            </div>
            <div class="card-body p-1">
                @if (ListGuest == null)
                {
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Chưa có thông tin phát sinh !</strong>.
                    </div>
                }
                else
                {
                    ListGuest = ListGuest.OrderByDescending(s => s.ItemAmount).Take(10).ToList();

                    <table class="table ">
                        @foreach (var item in ListGuest)
                        {
                            <tr>
                                <td>@(No++)</td>
                                <td class="text-uppercase">@item.ItemName</td>
                                <td class="number text-right">@item.ItemAmount</td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Doanh số nhân sự</h2>
            </div>
            <div class="card-body p-1">
                @if (ListStaff.Count == 0)
                {
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Chưa có thông tin phát sinh !</strong>.
                    </div>
                }
                else
                {
                    ListStaff = ListStaff.OrderByDescending(s => s.ItemAmount).Take(10).ToList();
                    No = 1;

                    <table class="table ">
                        @foreach (var item in ListStaff)
                        {
                            <tr>
                                <td>@(No++)</td>
                                <td class="text-uppercase">@item.ItemName</td>
                                <td class="number text-right">@item.ItemAmount</td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Hiện trạng công việc</h2>
            </div>
            <div class="card-body p-1">
                @if (ListStatus.Count == 0)
                {
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Chưa có thông tin phát sinh !</strong>.
                    </div>
                }
                else
                {
                    No = 1;
                    <table class="table ">
                        @foreach (var item in ListStatus)
                        {
                            <tr>
                                <td>@(No++)</td>
                                <td class="text-uppercase">@item.ItemName</td>
                                <td class="number text-right">@item.ItemAmount</td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<div class="row pt-0 pb-2 d-none">
    <div class="col-12">
        <div class="card-body">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Chưa có thông tin phát sinh !</strong>.
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/js/Chart.js")"></script>
    <script src="@Url.Content("~/js/ChartUtils.js")"></script>
    <script>
        var width = $(window).width();
        var height = $(window).height() - 350;
        const userAgent = navigator.userAgent.toLowerCase();
        const isTablet = /(ipad|tablet|(android(?!.*mobile))|(windows(?!.*phone)(.*touch))|kindle|playbook|silk|(puffin(?!.*(IP|AP|WP))))/.test(userAgent);
        var ctx = document.getElementById('canvas');
        var myChart;
        if (isTablet || width <= 1366) {
            $("html").addClass("sidebar-left-collapsed");
        }
        //
        var selected = [];

        $(document).ready(function () {
            renderChart();

            $("input[type='checkbox']").change(function () {
                selected = [];
                $("input[type='checkbox']:checked").each(function () {
                    selected.push($(this).attr("name"));
                });
                Utils.LoadIn();
                $("#txtOption").val(selected);
                $("#formSubmit").submit();
            });
            $("#cboBranch").change(function () {
                Utils.LoadIn();
                $("#txtBranch").val($(this).val());                
                $("#formSubmit").submit();
            });
        });

        function addCommas(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            };
            return x1 + x2;
        };
        function kFormatter(num) {
            if (num > 999999) {
                return Math.abs(num) > 999999 ? Math.sign(num) * ((Math.abs(num) / 1000000).toFixed(1)) + 'tr' : Math.sign(num) * Math.abs(num)
            }
            if (num > 999) {
                return Math.abs(num) > 999 ? Math.sign(num) * ((Math.abs(num) / 1000).toFixed(1)) + 'ng' : Math.sign(num) * Math.abs(num)
            }

            return num;
        }
        function renderChart() {

            myChart = new Chart(ctx, {
                type: 'line',
                data: @Html.Raw(ViewBag.DataChart),
                options: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Biểu đồ'
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                callback: function (value, index, values) {
                                    return kFormatter(value) + ' (đ)';
                                }
                            }
                        }]
                    },
                    showTooltips: false,
                    "animation": {
                        "duration": 1,
                        "onComplete": function () {
                            var chartInstance = this.chart,
                                ctx = chartInstance.ctx;

                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.fillStyle = 'black';
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';

                            this.data.datasets.forEach(function (dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function (bar, index) {
                                    var data = dataset.data[index];
                                    ctx.fillText(addCommas(data), bar._model.x, bar._model.y - 5);
                                });
                            });
                        }
                    },
                }
            });
        }
    </script>
}