﻿@using Desktop;
@{
    ViewData["Title"] = "Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }
}

<header class="page-header">
    <h2>Danh sách chi nhánh (Cập nhật thông tin)</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card border ">
            <div class="card-header ">

            </div>
            <div class="card-body ">
                <table class="table Custom table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã chi nhánh</th>
                            <th>Tên chi nhánh</th>
                            <th>Địa chỉ</th>
                            <th>Ghi chú</th>
                            <th>Sắp xếp</th>
                            <th class="text-right">
                                <button class=" btn btn-info" type="button" onclick="Edit('')">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (_ListBranch != null && _ListBranch.Count > 0)
                        {
                            for (int i = 0; i < _ListBranch.Count; i++)
                            {
                                Branch_Model Model = _ListBranch[i];

                                <tr key="@Model.BranchKey">
                                    <td>@(i + 1)</td>
                                    <td>@Model.BranchID</td>
                                    <td>@Model.BranchName</td>
                                    <td>@Model.Address</td>
                                    <td>@Model.Description</td>
                                    <td>@Model.Rank</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm " onclick="Edit('@Model.BranchKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Model.BranchKey')">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
            </div>
        </div>

    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Chi nhánh</h2>
        </div>
        <div class="card-body ">
            <div class="form-group row">
                <label for="departmentid" class="col-lg-5 col-xl-3 control-label text-lg-right">Mã chi nhánh</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_BranchID" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="deparmentname" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên chi nhánh</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_BranchName" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="deparmentname" class="col-lg-5 col-xl-3 control-label text-lg-right">Địa chỉ</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_Address" placeholder="" data-plugin-textarea-autosize rows="2"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Description" placeholder="Ghi chú" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_Rank" value="0" placeholder="">
                </div>
            </div>
        </div>
        <div class="card-footer  text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_BranchKey" type="hidden" name="BranchKey" value="0" />
</div>

@section scripts {
    <script>
        var URL_Edit = "@Url.Action("Edit_Branch", "Setting")";
        var URL_Delete = "@Url.Action("Delete_Branch", "Setting")";
        var URL_Save = "@Url.Action("Save_Branch", "Setting")";

        $(document).ready(function () {

        });

        function Save() {
            var BranchKey = $("#txt_BranchKey").val();
            var BranchID = $("#txt_BranchID").val();
            var BranchName = $("#txt_BranchName").val();
            var Address = $("#txt_Address").val();
            var Description = $("#txt_Description").val();
            var Rank = $("#txt_Rank").val();
            $.ajax({
                url: URL_Save,
                type: "POST",
                data: {
                    "BranchKey": BranchKey,
                    "BranchID": BranchID,
                    "BranchName": BranchName,
                    "Address": Address,
                    "Description": Description,
                    "Rank": Rank,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
        function Edit(BranchKey) {
            Utils.OpenMagnific("#modalEdit");
            if (BranchKey != "") {
                $.ajax({
                    url: URL_Edit,
                    type: "GET",
                    data: {
                        "BranchKey": BranchKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);

                            $("#txt_BranchKey").val(obj.BranchKey);
                            $("#txt_BranchID").val(obj.BranchID);
                            $("#txt_BranchName").val(obj.BranchName);
                            $("#txt_Address").val(obj.Address);
                            $("#txt_Description").val(obj.Description);
                            $("#txt_Rank").val(obj.Rank);
                        }
                        else {
                            Utils.OpenNotify(r.Message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
                $("#txt_BranchKey").val("");
                $("#txt_Rank").val(0);
            }
        }
        function Delete(BranchKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "BranchKey": BranchKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        $("tr[key='" + BranchKey + "']").fadeOut('slow', function () {
                                            $(this).remove();
                                            console.log("đã xóa");
                                        });
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }

    </script>
}