﻿@using Desktop
@{
    ViewData["Title"] = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _ListDepartment = new List<Department_Model>();
    if (ViewBag.ListDepartment != null)
    {
        _ListDepartment = ViewBag.ListDepartment as List<Department_Model>;
    }
    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }
}

<header class="page-header">
    <h2>Danh sách phòng ban (Cập nhật thông tin)</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ">

            </div>
            <div class="card-body ">
                <table class="table Custom table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã phòng ban</th>
                            <th>Chi nhánh</th>
                            <th>Tên phòng ban</th>
                            <th>Ghi chú</th>
                            <th>Sắp xếp</th>
                            <th class="text-right">
                                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Edit('')">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (_ListDepartment.Count > 0)
                        {
                            for (int i = 0; i < _ListDepartment.Count; i++)
                            {
                                Department_Model Model = _ListDepartment[i];

                                <tr key="@Model.DepartmentKey">
                                    <td>@(i + 1)</td>
                                    <td>@Model.DepartmentID</td>
                                    <td>@Model.BranchName</td>
                                    <td>@Model.DepartmentName</td>
                                    <td>@Model.Description</td>
                                    <td>@Model.Rank</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm" onclick="Edit('@Model.DepartmentKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Model.DepartmentKey')">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Phòng ban</h2>
        </div>
        <div class="card-body ">
            <div class="form-group row">
                <label for="departmentid" class="col-lg-5 col-xl-3 control-label text-lg-right">Mã phòng ban</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_DepartmentID" placeholder="Mã phòng ban" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="deparmentname" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên phòng ban</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_DepartmentName" placeholder="Tên phòng ban" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Description" placeholder="Ghi chú" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_Rank" value="0" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Chi nhánh</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Branch" class="form-control select2" name="Branch">
                        @foreach (Branch_Model zItem in _ListBranch)
                        {
                            <option value="@zItem.BranchKey">@zItem.BranchName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer  text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_DepartmentKey" type="hidden" name="DepartmentKey" value="0" />

</div>

@section scripts {
    <script>
        var URL_Edit = "@Url.Action("Edit_Department", "Setting")";
        var URL_Delete = "@Url.Action("Delete_Department", "Setting")";
        var URL_Save = "@Url.Action("Save_Department", "Setting")";

        $(document).ready(function () {

        });

        function Save() {
            var DepartmentKey = $("#txt_DepartmentKey").val();
            var DepartmentID = $("#txt_DepartmentID").val();
            var DepartmentName = $("#txt_DepartmentName").val();
            var Description = $("#txt_Description").val();
            var Rank = $("#txt_Rank").val();
            var BranchKey = $("#cbo_Branch").val();
            var BranchName = $("#cbo_Branch option:selected").text();
            $.ajax({
                url: URL_Save,
                type: "POST",
                data: {
                    "DepartmentKey": DepartmentKey,
                    "DepartmentID": DepartmentID,
                    "DepartmentName": DepartmentName,
                    "Description": Description,
                    "Rank": Rank,
                    "BranchKey": BranchKey,
                    "BranchName": BranchName
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                },
                complete: function () {

                }
            });
        }
        function Edit(DepartmentKey) {
            Utils.OpenMagnific("#modalEdit");
            if (DepartmentKey!='0') {
                $.ajax({
                    url: URL_Edit,
                    type: "GET",
                    data: {
                        "DepartmentKey": DepartmentKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);

                            $("#txt_DepartmentKey").val(obj.DepartmentKey);
                            $("#txt_DepartmentID").val(obj.DepartmentID);
                            $("#txt_DepartmentName").val(obj.DepartmentName);
                            $("#txt_Description").val(obj.Description);
                            $("#txt_Rank").val(obj.Rank);
                            $("#cbo_Branch").val(obj.BranchKey).trigger("change");
                        }
                        else {
                            Utils.OpenNotify(r.Message, "Thông báo", "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {

                    }
                });
            } else {
                Utils.ClearUI("#modalEdit");
            }
        }
        function Delete(DepartmentKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "DepartmentKey": DepartmentKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        $("tr[key=\"" + DepartmentKey + "\"]").fadeOut("slow", function () {
                                            $(this).remove();
                                            console.log("đã xóa");
                                        });
                                    }
                                    else {
                                        Utils.OpenNotify(r.Message, "Thông báo", "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, "Thông báo", "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
    </script>
}
