﻿@using Desktop
@{
    ViewData["Title"] = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListGroup = new List<Group_Model>();
    if (ViewBag.ListGroup != null)
    {
        ListGroup = ViewBag.ListGroup as List<Group_Model>;
    }
}

<header class="page-header">
    <h2>Nhóm quyền</h2>
    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table Custom table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nhóm quyền</th>
                            <th>Ghi chú</th>
                            <th class="text-right">
                                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Edit('')">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (ListGroup.Count > 0)
                        {
                            for (int i = 0; i < ListGroup.Count; i++)
                            {
                                Group_Model Model = ListGroup[i];

                                <tr id="@Model.GroupKey">
                                    <td>@(i + 1)</td>
                                    <td>@Model.GroupName</td>
                                    <td>@Model.Description</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-purple btn-sm modal-with-zoom-anim" onclick="OpenAuth('@Model.GroupKey')">
                                            <i class="fas fa-key"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit('@Model.GroupKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Model.GroupKey')">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
            </div>

        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Tạo nhóm quyền</h2>
        </div>
        <div class="card-body ">
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Nhóm</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_GroupName" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <textarea type="text" class="form-control" id="txt_Description" placeholder="Ghi chú"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer  text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_GroupKey" type="hidden" name="GroupKey" value="" />
</div>
<div id="modelAuth" class="zoom-anim-dialog modal-block modal-block-lg modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Phân quyền</h2>
        </div>
        <div class="card-body " id="tab2">
            
        </div>
        <div class="card-footer  text-center">
            <button type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveAuth()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var URL_Edit = "@Url.Action("Edit_Group", "Setting")";
        var URL_Save = "@Url.Action("Save_Group", "Setting")";
        var URL_Delete = "@Url.Action("Delete_Group", "Setting")";
        var URL_Role = "@Url.Action("Role_Group", "Setting")";
        var URL_Auth = "@Url.Action("Role_Save","Setting")";
    </script>
    <script>
        var roles = [];

        $(document).ready(function () {

        });
        function Save() {
            var GroupKey = $('#txt_GroupKey').val();
            var GroupName = $('#txt_GroupName').val();
            var Description = $('#txt_Description').val();

            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "GroupKey": GroupKey,
                    "GroupName": GroupName,
                    "Description": Description,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify('Thông báo', r.message, 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                },
                complete: function () {

                }
            });
        }
        function Edit(GroupKey) {
            Utils.OpenMagnific('#modalEdit');
            if (GroupKey.length >= 36) {
                $.ajax({
                    url: URL_Edit,
                    type: 'GET',
                    data: {
                        "GroupKey": GroupKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);

                            $('#txt_GroupKey').val(obj.GroupKey);
                            $('#txt_GroupName').val(obj.GroupName);
                            $('#txt_Description').val(obj.Description);
                        }
                        else {
                            Utils.OpenNotify('Thông báo', r.message, 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify('Thông báo', err.responseText, 'error');
                    },
                    complete: function () {
                       
                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
            }
        }
        function Delete(GroupKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "GroupKey": GroupKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        $("tr[id='" + GroupKey + "']").remove();
                                        //location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify('Thông báo', r.message, 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }

        function GetRole() {
            var GroupKey = $("#txt_GroupKey").val();
            $.ajax({
                url: URL_Role,
                type: 'POST',
                data: {
                    "GroupKey": GroupKey,
                },
                beforeSend: function () {
                    $("#tab2").empty();
                },
                success: function (r) {
                    $("#tab2").append(r);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        function SaveAuth() {
            var data = $("#tbldata input:checkbox:checked").map(function () {
                return this.value;
            }).toArray();
            $("#txt_Data").val(JSON.stringify(data));

            $('#tblrole > tbody > tr').each(function () {
                var rolekey = $(this).attr('rolekey');
                var groupkey = $(this).attr('groupkey');
                RoleEventCheck(this, rolekey, groupkey);
            });

            var GroupKey = $("#txt_GroupKey").val();
            var Role = $("#txt_Auth").val();
           
            $.ajax({
                url: URL_Auth,
                type: 'POST',
                data: {
                    "GroupKey": GroupKey,
                    "Role": Role,                 
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Thông báo", 'Đã cập nhật thành công', 'success');
                    }
                    else {
                        Utils.OpenNotify('Thông báo', r.message, 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                },
                complete: function () {

                }
            });
        }
    </script>
}