﻿@using Desktop
@{
    ViewData["Title"] = "Position";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ListData = new List<Position_Model>();
    if (ViewBag.Position != null)
    {
        _ListData = ViewBag.Position as List<Position_Model>;
    }
}
<header class="page-header">
    <h2>Danh sách chức vụ (Cập nhật thông tin)</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">

            </div>
            <div class="card-body ">
                <table class="table Custom table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã chức vụ</th>
                            <th>Tên chức vụ</th>
                            <th>Ghi chú</th>
                            <th>Sắp xếp</th>
                            <th class="text-right">
                                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Edit(0)">
                                    <i class="fa fa-plus"></i>Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (_ListData.Count > 0)
                        {
                            for (int i = 0; i < _ListData.Count; i++)
                            {
                                Position_Model Model = _ListData[i];

                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.PositionID</td>
                                    <td>@Model.PositionNameVN</td>
                                    <td>@Model.Description</td>
                                    <td>@Model.Rank</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit('@Model.PositionKey')"><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Model.PositionKey')"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
            </div>
        </div>
        
    </div>
</div>

<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">

    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Thông tin chức vụ</h2>
        </div>
        <div class="card-body ">
            <div class="form-group row">
                <label for="positionid" class="col-lg-5 col-xl-3 control-label text-lg-right">Mã chức vụ</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_PositionID" placeholder="Mã chức vụ" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="positionname" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên chức vụ</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_PositionName" placeholder="Tên chức vụ" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Description" placeholder="Ghi chú" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Thứ tự hiển thị</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="number" class="form-control" id="txt_Rank" value="0" placeholder="">
                </div>
            </div>
        </div>
        <div class="card-footer  text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_PositionKey" type="hidden" name="PositionKey" value="0" />

</div>

@section scripts {

    <script>
        var URL_Edit = '@Url.Action("Edit_Position", "Setting")';
        var URL_Delete = '@Url.Action("Delete_Position", "Setting")';
        var URL_Save = '@Url.Action("Save_Position", "Setting")';

        $(document).ready(function () {

        });

        function Save() {
            var PositionKey = $('#txt_PositionKey').val();
            var PositionID = $('#txt_PositionID').val();
            var PositionName = $('#txt_PositionName').val();
            var Description = $('#txt_Description').val();
            var Rank = $("#txt_Rank").val();
            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "PositionKey": PositionKey,
                    "PositionID": PositionID,
                    "PositionNameVN": PositionName,
                    "Description": Description,
                    "Rank": Rank,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify(r.message, 'Thông báo', 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                },
                complete: function () {

                }
            });
        }
        function Edit(PositionKey) {
            Utils.OpenMagnific('#modalEdit');
            if (PositionKey > 0) {
                $.ajax({
                    url: URL_Edit,
                    type: 'GET',
                    data: {
                        "PositionKey": PositionKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);                           

                            $('#txt_PositionKey').val(obj.PositionKey);
                            $('#txt_PositionID').val(obj.PositionID);
                            $('#txt_PositionName').val(obj.PositionNameVN);
                            $('#txt_Description').val(obj.Description);
                            $('#txt_Rank').val(obj.Rank);
                        }
                        else {
                            Utils.OpenNotify(r.message, 'Thông báo', 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
            }
        }
        function Delete(PositionKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "PositionKey": PositionKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify(r.message, 'Thông báo', 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify(err.responseText, 'Thông báo', 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
       
    </script>
}
