﻿@using Desktop
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ListUser = new List<User_Model>();
    if (ViewBag.ListUser != null)
    {
        ListUser = ViewBag.ListUser as List<User_Model>;
    }
    var ListEmployee = new List<Employee_Model>();
    if (ViewBag.ListEmployee != null)
    {
        ListEmployee = ViewBag.ListEmployee as List<Employee_Model>;
    }
}

<header class="page-header">
    <h2>Danh sách tài khoản đăng nhập (Cập nhật thông tin)</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">

            </div>
            <div class="card-body ">
                <table class="table Custom table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên đăng nhập</th>
                            <th>Nhân viên sử dụng</th>
                            <th>Số điện thoại</th>
                            <th>Tình trạng</th>
                            <th class="text-right">
                                <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Edit('')">
                                    <i class="fa fa-plus"></i>
                                    Thêm mới
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @if (ListUser.Count > 0)
                        {
                            for (int i = 0; i < ListUser.Count; i++)
                            {
                                User_Model Model = ListUser[i];

                                <tr id="@Model.UserKey">
                                    <td>@(i + 1)</td>
                                    <td>@Model.UserName</td>
                                    <td>@Model.Employee.FullName</td>
                                    <td>@Model.Employee.MobiPhone</td>
                                    <td>
                                        @if (Model.Activate.Value)
                                        {
                                            <div class="switch switch-sm switch-success">
                                                <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" onchange="Activate('@Model.UserKey')">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="switch switch-sm switch-success">
                                                <input type="checkbox" name="switch" data-plugin-ios-switch onchange="Activate('@Model.UserKey')">
                                            </div>
                                        }
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-purple btn-sm" onclick="OpenAuth('@Model.UserKey','@Model.UserName')">
                                            <i class="fas fa-key"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-warning btn-sm" onclick="Reset('@Model.UserKey')">
                                            <i class="fas fa-redo"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit('@Model.UserKey')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@Model.UserKey')">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">
                                    <div class="alert alert-primary">
                                        <strong>Bạn chưa cập nhật, hoặc không tìm thấy dữ liệu phù hợp !</strong>.
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer ">
            </div>

        </div>
    </div>
</div>
<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Thông tin người dùng</h2>
        </div>
        <div class="card-body ">
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-lg-right">Tên tài khoản</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_UserName" placeholder="Tên tài khoản" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-lg-5 col-xl-3 control-label text-lg-right">Mật khẩu</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="password" class="form-control" id="txt_Password" placeholder="Mật mật" required="">
                    <label id="lbl_Password" class="col-lg-5 col-xl-3 control-label text-lg-right" hidden="hidden"></label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right">Nhân viên sử dụng</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Employee" class="form-control select2" name="EmployeeKey">
                        @foreach (Employee_Model zItem in ListEmployee)
                        {
                            <option value="@zItem.EmployeeKey">@(zItem.LastName + " " + zItem.FirstName)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right">Tình trạng</label>
                <div class="col-lg-7 col-xl-9">
                    <select id="cbo_Activate" class="form-control select2" name="Activate">
                        <option value="0"> Chưa Kích hoạt</option>
                        <option value="1">Kích hoạt</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-lg-5 col-xl-3 control-label text-lg-right">Ghi chú</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_Description" placeholder="Ghi chú" required="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-lg-right">Ngày hết hạn</label>
                <div class="input-group col-lg-7 col-xl-9">
                    <span class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                    </span>
                    <input class="form-control datepicker" placeholder="ExpireDate" id="txt_ExpireDate" name="ExpireDate" data-plugin-datepicker="" data-date-format="dd/mm/yyyy" />
                </div>
            </div>
        </div>
        <div class="card-footer  text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary modal-confirm" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_UserKey" type="hidden" name="Role" value="" />
</div>
<div id="modelAuth" class="zoom-anim-dialog modal-block modal-block-lg modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Phân quyền người dùng</h2>
        </div>
        <div class="card-body ">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link" href="#tab1" data-toggle="tab">
                            <i class="fas fa-star"></i>
                            Truy cập dữ liệu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab2" data-toggle="tab">
                            Truy cập chức năng
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">

                    </div>
                    <div id="tab2" class="tab-pane">

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer  text-center">
            <button type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button type="button" class="btn btn-outline-primary modal-confirm" onclick="SaveAuth()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
</div>
@section scripts {

    <script>
        var URL_Edit = "@Url.Action("Edit_User", "Setting")";
        var URL_Delete = "@Url.Action("Delete_User", "Setting")";
        var URL_Save = "@Url.Action("Save_User", "Setting")";

        var URL_Reset = "@Url.Action("Reset_Pass", "Setting")";
        var URL_Active = "@Url.Action("Activate", "Setting")";

        var URL_Role = "@Url.Action("AuthRole", "Setting")";
        var URL_Data = "@Url.Action("AuthData","Setting")";
        var URL_Auth = "@Url.Action("AuthSave","Setting")";
    </script>
    <script>

        var roles = [];
        $(document).ready(function () {

        });

        function OpenAuth(UserKey, UserName) {
            Utils.OpenMagnific('#modelAuth');
            $("#modelAuth").find(".card-title").text('Phân quyền cho người dùng ' + UserName);
            $("#txt_UserKey").val(UserKey);

            GetRole();
            GetData();
            roles = [];
        }
        function GetRole() {
            var UserKey = $("#txt_UserKey").val();
            $.ajax({
                url: URL_Role,
                type: 'POST',
                data: {
                    "UserKey": UserKey,
                },
                beforeSend: function () {
                    $("#tab2").empty();
                },
                success: function (r) {
                    $("#tab2").append(r);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        function GetData() {
            var UserKey = $("#txt_UserKey").val();
            $.ajax({
                url: URL_Data,
                type: 'POST',
                data: {
                    "UserKey": UserKey,
                },
                beforeSend: function () {
                    $("#tab1").empty();
                },
                success: function (r) {
                    $("#tab1").append(r);
                },
                error: function (err) {

                },
                complete: function () {

                }
            });
        }
        function SaveAuth() {
            var data = $("#tbldata input:checkbox:checked").map(function () {
                return this.value;
            }).toArray();
            $("#txt_Data").val(JSON.stringify(data));

            $('#tblrole > tbody > tr').each(function () {
                var rolekey = $(this).attr('rolekey');
                var userkey = $(this).attr('userkey');
                RoleEventCheck(this, rolekey, userkey);
            });

            var UserKey = $("#txt_UserKey").val();
            var Role = $("#txt_Auth").val();
            var Data = $("#txt_Data").val();

            $.ajax({
                url: URL_Auth,
                type: 'POST',
                data: {
                    "UserKey": UserKey,
                    "Role": Role,
                    "Data": Data
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify("Thông báo", 'Đã cập nhật thành công', 'success');
                    }
                    else {
                        Utils.OpenNotify('Thông báo', r.message, 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                },
                complete: function () {

                }
            });
        }

        function Save() {
            var UserKey = $('#txt_UserKey').val();
            var UserName = $('#txt_UserName').val();
            var Password = $('#txt_Password').val();
            var lbl_Password = $('#lbl_Password').val();
            var EmployeeKey = $("#cbo_Employee").val();
            var EmployeeName = $("#cbo_Employee option:selected").text();
            var Description = $('#txt_Description').val();
            var Activate = $('#cbo_Activate').val();
            var ExpireDate = $('#txt_ExpireDate').val();
            $.ajax({
                url: URL_Save,
                type: 'POST',
                data: {
                    "UserKey": UserKey,
                    "UserName": UserName,
                    "Password": Password,
                    "lbl_Password": lbl_Password,
                    "EmployeeKey": EmployeeKey,
                    "EmployeeName": EmployeeName,
                    "Description": Description,
                    "Activate": Activate,
                    "ExpireDate": ExpireDate
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        location.reload();
                    }
                    else {
                        Utils.OpenNotify('Thông báo', r.message, 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                },
                complete: function () {

                }
            });
        }
        function Edit(UserKey) {
            Utils.OpenMagnific('#modalEdit');
            if (UserKey.length >= 36) {
                $.ajax({
                    url: URL_Edit,
                    type: 'GET',
                    data: {
                        "UserKey": UserKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);
                            var Date = Utils.ConvertToDDMMYYYY(obj.ExpireDate);
                            var emp = obj.Employee;

                            $('#txt_UserKey').val(obj.UserKey);
                            $('#txt_UserName').val(obj.UserName);
                            $('#txt_Password').val(obj.Password);
                            $('#lbl_Password').val(obj.Password);
                            $('#cbo_Employee').val(emp.EmployeeKey).trigger('change');
                            if (obj.Activate == true)
                                $('#cbo_Activate').val(1).trigger('change')
                            else
                                $('#cbo_Activate').val(0).trigger('change')
                            $('#txt_ExpireDate').val(Date);
                            $('#txt_Description').val(obj.Description);
                        }
                        else {
                            Utils.OpenNotify('Thông báo', r.message, 'error');
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify('Thông báo', err.responseText, 'error');
                    },
                    complete: function () {
                        $(".select2").select2({ width: "100%", placeholder: "--Chọn--" });
                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
            }
        }
        function Delete(UserKey) {
            $.confirm({
                type: 'red',
                typeAnimated: true,
                title: 'Cảnh báo !.',
                content: 'Bạn có chắc xóa thông tin này ?.',
                buttons: {
                    confirm: {
                        text: 'Đồng ý',
                        btnClass: 'btn-red',
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: 'POST',
                                data: {
                                    "UserKey": UserKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        $("tr[id='" + UserKey + "']").remove();
                                        //location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify('Thông báo', r.message, 'error');
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'Hủy',
                    }
                }
            });
        }
        function Activate(id) {
            $.ajax({
                url: URL_Active,
                type: 'POST',
                data: {
                    "UserKey": id,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify('Cập nhật tình trạng thành công', 'Thông báo', 'success');
                    }
                    else {
                        Utils.OpenNotify('Thông báo', r.message, 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                },
                complete: function () {

                }
            });
        }
        function Reset(id) {
            $.ajax({
                url: URL_Reset,
                type: 'POST',
                data: {
                    "UserKey": id,
                },
                beforeSend: function () {

                },
                success: function (r) {
                    if (r.success) {
                        Utils.OpenNotify(r.message, 'Tạo mật khẩu mới thành công', 'success');
                    }
                    else {
                        Utils.OpenNotify('Thông báo', r.message, 'error');
                    }
                },
                error: function (err) {
                    Utils.OpenNotify('Thông báo', err.responseText, 'error');
                },
                complete: function () {

                }
            });
        }

        function InitCheckStyle() {
            $('[data-plugin-ios-switch]').each(function () {
                var $this = $(this);
                $this.themePluginIOS7Switch();
            });
        }
        function RoleEventCheck(obj, rolekey, userkey) {
            var chk = $(obj).find('input:checkbox');
            var read = chk[0].checked;
            var add = chk[1].checked;
            var edit = chk[2].checked;
            var del = chk[3].checked;

            var newobj = {
                "RoleKey": rolekey,
                "UserKey": userkey,
                "RoleRead": read,
                "RoleAdd": add,
                "RoleEdit": edit,
                "RoleDel": del
            };

            roles = ObjCheck(roles, "RoleKey", newobj);
            $("#txt_Auth").val(JSON.stringify(roles));
        }
        function ObjCheck(array, name, newElement) {
            var found = false;
            for (var i = 0; i < array.length; i++) {
                var element = array[i];
                if (element === undefined) {
                    array.push(newElement);
                    return array;
                }
                if (element[name].toString() ===
                    newElement[name].toString()) {
                    found = true;
                    array[i] = newElement;
                }
            }
            if (found === false) {
                array.push(newElement);
            }
            return array;
        }
    </script>
}