﻿
@using Desktop
@{
    ViewData["Title"] = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ListStaff = new List<Employee_Model>();
    var _ListTask = new List<Task_Model>();
}

<header class="page-header">
    <h2>Theo dõi công việc cán bộ công nhân viên</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <select class="form-control"><option>--Chọn chi nhánh--</option></select>

            </div>
            <div class="card-body">
                <table class="table Custom table-sm" id="tblData">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Họ và tên</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @{
                            int No = 1;
                            foreach (var item in _ListStaff)
                            {
                                <tr>
                                    <td>@No</td>
                                    <td>@item.FullName</td>
                                    <td>10</td>
                                </tr>
                                No++;
                            }
                        }

                    </tbody>
                </table>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="card-body">
                <table class="table Custom table-sm" id="tblData">
                    <thead>
                        <tr>
                            <th style="vertical-align: middle;">STT</th>
                            <th style="vertical-align: middle;">Ngày</th>
                            <th style="vertical-align: middle;">Khách hàng</th>
                            <th><select class="form-control-sm"><option>--Chọn hình thức--</option></select></th>
                            <th><select class="form-control-sm"><option>--Chọn hiện trạng--</option></select></th>
                            <th class="text-right">
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                        @{
                            No = 1;
                            foreach (var item in _ListTask)
                            {
                                string CssBg = "Style=color: #155724;background-color: #d4edda;";
                                if (item.CodeLine.Trim() == "Y")
                                {
                                    CssBg = "Style=color: #155724;background-color: #d4edda;";
                                }
                                else
                                {
                                    CssBg = "Style=color: #721c24;background-color: #f8d7da;";
                                }

                                <tr @Html.Raw(CssBg)>
                                    <td>@No</td>
                                    <td>@item.CreatedOn.ToString("dd/MM")</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.GroupName</td>
                                    <td>@item.CategoryName</td>
                                    <td class="text-right"></td>
                                </tr>

                                No++;
                            }
                        }

                    </tbody>
                </table>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            setInterval(loadTable, 60000);
            // invoke load every second
            loadTable();
            // load on initial page loaded
        });

        function loadTable() {
            $('#tblBody').load('/controller/action');
        }
    </script>
}