﻿@model Employee_Model
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Staff/_Layout.cshtml";

    var _ListData = new List<Employee_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Employee_Model>;
    }
    var _ListPosition = new List<Position_Model>();
    if (ViewBag.ListPosition != null)
    {
        _ListPosition = ViewBag.ListPosition as List<Position_Model>;
    }
    var _SelectReportTo = new List<Employee_Model>();
    if (_ListData.Count > 0)
    {
        _SelectReportTo = _ListData.Where(s => s.PositionKey != 54).ToList<Employee_Model>();
    }
    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }
    var _ListDepartment = new List<Department_Model>();
    if (ViewBag.ListDepartment != null)
    {
        _ListDepartment = ViewBag.ListDepartment as List<Department_Model>;
    }
}

<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a class="btn-block" asp-controller="Staff" asp-action="List">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    @if (Model.EmployeeKey.Length >= 36)
                    {
                        <h4 class="">Chỉnh sửa</h4>
                    }
                    else
                    {
                        <h4 class="">Tạo mới</h4>
                    }
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>
<div class="inner-wrapper" style="padding-top:60px">
    <section role="main" class="container-fluid p-0">
        <form class="card border" method="post" asp-controller="Staff" asp-action="Save" onsubmit="return CheckSave()">
            <div class="card-body">
                <div class="form-group-sm row">
                    <label for="Staffid" class="col-lg-5 col-xl-3 control-label ">Mã nhân viên</label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="text" class="form-control" id="txtID" placeholder="" required="" readonly value="@Model.EmployeeID" name="EmployeeID">
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label for="username" class="col-lg-5 col-xl-3 control-label ">Số điện thoại</label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="number" class="form-control" id="txt_MobiPhone" placeholder="" required="" value="@Model.MobiPhone" name="MobiPhone">
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label for="username" class="col-lg-5 col-xl-3 control-label ">Họ tên lót</label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="text" class="form-control" id="txt_LastName" placeholder="" required="" value="@Model.LastName" name="LastName">
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label for="username" class="col-lg-5 col-xl-3 control-label ">Tên nhân viên</label>
                    <div class="col-lg-7 col-xl-9">
                        <input type="text" class="form-control" id="txt_FirstName" placeholder="" required="" value="@Model.FirstName" name="FirstName">
                    </div>
                </div>
                <div class="form-group-sm row ">
                    <label class="col-lg-5 col-xl-3 control-label ">Người quản lý</label>
                    <div class="ccol-lg-7 col-xl-9">
                        <select id="cbo_ReportTo" class="form-control select2" name="ReportToKey">
                            <option value="">--Chọn--</option>
                            @foreach (var zItem in _SelectReportTo)
                            {
                                if (zItem.EmployeeKey == Model.ReportToKey)
                                {
                                    <option value="@zItem.EmployeeKey" selected>@(zItem.LastName + ' ' + zItem.FirstName)</option>
                                }
                                else
                                {
                                    <option value="@zItem.EmployeeKey">@(zItem.LastName + ' ' + zItem.FirstName)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-5 col-xl-3 control-label ">Chức vụ</label>
                    <div class="ccol-lg-7 col-xl-9">
                        <select id="cbo_Position" class="form-control" name="PositionKey">
                            <option value="">--Chọn--</option>
                            @foreach (var zItem in _ListPosition)
                            {
                                if (zItem.PositionKey == Model.PositionKey)
                                {
                                    <option value="@zItem.PositionKey" selected>@zItem.PositionNameVN</option>
                                }
                                else
                                {
                                    <option value="@zItem.PositionKey">@zItem.PositionNameVN</option>
                                }
                            }
                        </select>
                        <input type="hidden" id="txt_PositionName" name="PositionName" value="@Model.PositionName" />
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-5 col-xl-3 control-label ">Chi nhánh</label>
                    <div class="ccol-lg-7 col-xl-9">
                        <select id="cbo_Branch" class="form-control" name="BranchKey">
                            <option value="">--Chọn--</option>
                            @foreach (Branch_Model zItem in _ListBranch)
                            {
                                if (zItem.BranchKey == Model.BranchKey)
                                {
                                    <option value="@zItem.BranchKey" selected>@zItem.BranchName</option>
                                }
                                else
                                {
                                    <option value="@zItem.BranchKey">@zItem.BranchName</option>
                                }
                            }
                        </select>
                        <input type="hidden" id="txt_BranchName" name="BranchName" value="@Model.BranchName" />
                    </div>
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-5 col-xl-3 control-label ">Phòng Ban</label>
                    <div class="col-lg-7 col-xl-9">
                        <select id="cbo_Department" class="form-control" name="DepartmentKey">
                            <option value="">--Chọn--</option>
                            @foreach (Department_Model zItem in _ListDepartment)
                            {
                                if (zItem.DepartmentKey == Model.DepartmentKey)
                                {
                                    <option value="@zItem.DepartmentKey" selected>@zItem.DepartmentName</option>
                                }
                                else
                                {
                                    <option value="@zItem.DepartmentKey">@zItem.DepartmentName</option>
                                }
                            }
                        </select>
                        <input type="hidden" id="txt_BranchName" name="BranchName" value="@Model.BranchName" />
                    </div>
                </div>
                <input type="hidden" id="txt_EmployeeKey" name="EmployeeKey" value="@Model.EmployeeKey" />
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    Cập nhật
                </button>
                <button type="button" class="btn btn-danger" onclick="Delete('@Model.EmployeeKey')">
                    <i class="fas fa-trash"></i>
                    Xóa
                </button>
            </div>
        </form>
    </section>
</div>


@section scripts {
    <script>
        var URL_Delete = "@Url.Action("Delete", "Staff")";
        var URL_List = "@Url.Action("List", "Staff")";
        var URL_CheckStaff= "@Url.Action("Check", "Staff")";
    </script>
    <script>
        $(document).ready(function () {
            $("#txt_MobiPhone").blur(function () {
                CheckStaff();
            });

            $("#cbo_Position").change(function () {
                var val = $("#cbo_Position option:selected").text();
                $("#txt_PositionName").val(val);
            });

            $("#cbo_Branch").change(function () {
                var val = $("#cbo_Branch option:selected").text();
                $("#txt_BranchName").val(val);
            });

            $("#cbo_Department").change(function () {
                var val = $("#cbo_Department option:selected").text();
                $("#txt_DepartmentName").val(val);
            });
        });
        function Delete() {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "EmployeeKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        window.location = URL_List;
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.Message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
        function CheckSave() {
            var LastName = $("#txt_LastName").val();
            var FirstName = $("#txt_FirstName").val();
            if (LastName === "" && FirstName === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập họ và tên", "error");
                return false;
            }

            var PositionKey = $("#cbo_Position").val();
            if (PositionKey === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải chọn chức vụ", "error");
                return false;
            }

            var PositionKey = $("#cbo_Position").val();
            if (PositionKey === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải chọn chức vụ", "error");
                return false;
            }

            var DepartmentKey = $("#cbo_Department").val();
            if (DepartmentKey === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải chọn phòng ban", "error");
                return false;
            }

            var Phone = $("#txt_MobiPhone").val();
            if (Phone === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập số điện thoại", "error");
                return false;
            }

            return true;
        }
        function CheckStaff() {
            var OldPhone = $("#txt_MobiPhone").attr("OldVal");
            var Phone = $("#txt_MobiPhone").val();
            var Key = $("#txt_EmployeeKey").val();
            var GoCheck = false;

            //kiem tra số điện thoại khi thêm mới
            if (Phone.length >= 10 && Key === "") {
                GoCheck = true;
            }
            else {
                if (Key.length >= 36) {
                    //kiem tra số điện thoại khi thay đổi edit
                    if (Phone.length >= 10 && Phone !== OldPhone) {
                        GoCheck = true;
                    }
                }
            }

            if (GoCheck === true) {
                $.ajax({
                    url: URL_CheckStaff,
                    type: "GET",
                    data: {
                        "Phone": Phone
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            Utils.OpenNotify("Thông báo", "Số điện thoại này đã có rồi, bạn có chắc nhập lại thông tin nhân viên này !.", "warning");

                            //var obj = JSON.parse(r.data);
                            //$("#txt_LastName").val(obj.LastName);
                            //$("#txt_FirstName").val(obj.FirstName);

                            //$("#txt_EmployeeAddress").val(obj.Address);
                            //$("#txt_EmployeeKey").val(obj.EmployeeKey);
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify(err.responseText, "Thông báo", "error");
                    },
                    complete: function () {

                    }
                });
            }
        }
    </script>
}