﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Setting/_Layout.cshtml";

    var session = Context.Session.GetString("UserLogged");
    var UserLog = JsonConvert.DeserializeObject<User_Model>(session);

    var ListSetting = new List<User_Role>();
    if (UserLog != null && UserLog.ListRole.Count > 0)
    {
        ListSetting = UserLog.ListRole.Where(s => s.ControllerName.ToLower() == "setting" && s.Level == 2 && s.Slug == 9).ToList();
    }
}

<header class="header">
    <table class="table data table-sm mb-0">
        <tr>
            <td class="text-center" style="vertical-align: middle; width:15%">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fas fa-2x fa-angle-left"></i>
                </a>
            </td>
            <td class="text-center" style="vertical-align: middle;">
                <h4>Cài đặt</h4>
            </td>
            <td class="text-center" style="vertical-align: middle; width:15%"></td>
        </tr>
    </table>
</header>
<div class="inner-wrapper">
    <section role="main" class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <table class="table data bg-white" id="tblMenu">
                    <tbody>
                        @foreach (User_Role Item in ListSetting)
                        {
                            string Action = Item.ActionName;
                            string Control = Item.ControllerName;
                            string Icon = Item.Icon;
                            string Name = Item.RoleName;

                            <tr link="@Url.Action(Action,Control)">
                                <td class="">
                                    <i class="@Icon"></i>
                                </td>
                                <td>@Name</td>
                                <td>
                                    <i class="fas fa-angle-right"></i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>





@section scripts{
    <script>
        $(document).ready(function () {

            $('#tblMenu tr').click(function () {
                var href = $(this).attr("link");
                if (href) {
                    window.location = href;
                }
            });

        });
    </script>
}
