﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@model Task_Model
@{
    Layout = "~/Views/Task/_Layout.cshtml";

    var _Session = Context.Session.GetString("UserLogged");
    var _UserLog = JsonConvert.DeserializeObject<User_Model>(_Session);

    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }

    var _ListOption = new List<TN_Item>();
    if (ViewBag.ListOption != null)
    {
        _ListOption = ViewBag.ListOption as List<TN_Item>;
    }
}
<style>
    .select2-drop li {
        white-space: pre-line;
    }
</style>

<header class="header">
    <div class="task-header">
        <table class="table table-sm mb-0"
               style="
    border-bottom: 1px solid #2196f3;
    color: gray;">
            <tr>
                <td class="text-center" style="vertical-align: middle; width:15%">
                    <a href="#" id="goBack">
                        <i class="fas fa-2x fa-angle-left"></i>
                    </a>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h4 class="">Công việc tại cửa hàng</h4>
                </td>
                <td class="text-center" style="vertical-align: middle; width:15%"></td>
            </tr>
        </table>
    </div>
</header>
<form class="inner-wrapper" method="post" asp-controller="Task" asp-action="OnSite_Update" onsubmit="return CheckSave()">
    <section class="card border">
        <div class="card-header">
            <h4 class="card-title text-center m-0">@ViewBag.TitleTask</h4>
        </div>
        <div class="card-body">
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["error"] !</strong>.
                </div>
            }

            <div class="form-horizontal form-bordered">
                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2 text-danger font-weight-bolder" for="cbo_Option">
                        Trường hợp *
                    </label>
                    <div class="col-lg-6">
                        <select class="form-control" name="OptionTask" id="cbo_Option">
                            <option value="">--//--</option>
                            @foreach (var item in _ListOption)
                            {
                                if (item.Value == Model.OptionTask.ToString())
                                {
                                    <option value="@item.Value" selected>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group-sm row" id="divBranch" style="display:none">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="cbo_Branch">
                        Chọn cửa hàng
                    </label>
                    <div class="col-lg-6">
                        <select class="form-control" name="Branch" id="cbo_Branch">
                            <option value="">--//--</option>
                            @foreach (var item in _ListBranch)
                            {
                                if (item.BranchKey == Model.BranchKey)
                                {
                                    <option value="@item.BranchKey" selected>@item.BranchName</option>
                                }
                                else
                                {
                                    <option value="@item.BranchKey">@item.BranchName</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div id="divPanel">
                    @await Html.PartialAsync("~/Views/Task/OnSite/_SelectCustomer.cshtml", Model)
                </div>

                <div class="form-group-sm row">
                    <label class="col-lg-3 control-label text-lg-right pt-2" for="txt_Description">
                        Nội dung *
                    </label>
                    <div class="col-lg-6">
                        <textarea type="text" class="form-control" id="txt_Description" rows="4" name="TaskContent">@Model.TaskContent</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            @if (Model.TaskKey.Length >= 36)
            {
                <button type="button" class="btn btn-danger" onclick="Delete('@Model.TaskKey')">
                    <i class="fa fa-trash"></i> Xóa
                </button>
            }
            <button type="button" class="btn btn-default go-back">
                <i class="fas fa-times"></i>
                Trở lại
            </button>
            <button type="submit" class="btn btn-primary float-right">
                <i class="fas fa-paper-plane"></i>
                Cập nhật
            </button>
        </div>
    </section>

    <input id="txt_TaskKey" type="hidden" name="TaskKey" value="@Model.TaskKey" />
    <input id="txt_CategoryKey" type="hidden" name="CategoryKey" value="@Model.CategoryKey" />
    <input id="txt_CustomerKey" type="hidden" name="CustomerKey" value="@Model.CustomerKey" />
</form>


@section scripts{
    <script>
        var URL_Delete = "@Url.Action("Delete", "Task")";
        var URL_Customer = "@Url.Action("Get_CustomerPhone", "Task")";
        var URL_List = "@Url.Action("OnSite_List", "Task", new { Option = 2, Category = "_cate_"})";
    </script>
    <script>
        var decodeEntities = (function () {
            // this prevents any overhead from creating the object each time
            var element = document.createElement('div');

            function decodeHTMLEntities(str) {
                if (str && typeof str === 'string') {
                    // strip script/html tags
                    str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
                    str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
                    element.innerHTML = str;
                    str = element.textContent;
                    element.textContent = '';
                }

                return str;
            }

            return decodeHTMLEntities;
        })();

        $(document).ready(function () {
            $("#goBack").click(function (e) {
                e.preventDefault();
                var cate = $("#txt_CategoryKey").val();
                URL_List = URL_List
                    .replace("_cate_", cate);
                URL_List = decodeEntities(URL_List);
                window.location = URL_List;
            });
            $("#cbo_Option").change(function () {
                var val = $(this).val();
                if (val === "3") {
                    $("#divBranch").toggle();
                }
                else {
                    $("#divBranch").hide();
                }
            });
            $("#txt_Phone").blur(function () {
                GetCustomer();
            });
            var key = $("#txt_TaskKey").val();
            if (key.length >= 36) {
                $("#cbo_Option").prop('disabled', true);
                $("#cbo_Customer").prop('disabled', true);
                $("#txt_CustomerName").prop('readonly', true);
                $("#txt_Phone").prop('readonly', true);
                $("#txt_Address").prop('readonly', true);
            }
        });

        function CheckSave() {
            var input = $("#cbo_Option").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải chọn trường hợp công việc !.", "Thông báo", "error");
                return false;
            }
            else {
                if (input === "3") {
                    input = $("#cbo_Branch").val();
                    if (input === "" || input === undefined) {
                        Utils.OpenNotify("Bạn phải chọn cửa hàng cho trường hợp chỉ định này !.", "Thông báo", "error");
                        return false;
                    }
                }
            }

            input = $("#txt_CustomerName").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập tên khách hàng !.", "Thông báo", "error");
                $("#txt_CustomerName").focus();
                $("#txt_CustomerName").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_CustomerName").css({ "background": "white" });
            }

            input = $("#txt_Phone").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập số điện thoại khách hàng !.", "Thông báo", "error");
                $("#txt_Phone").focus();
                $("#txt_Phone").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_Phone").css({ "background": "white" });
            }

            input = $("#txt_Address").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập địa chỉ khách hàng !.", "Thông báo", "error");
                $("#txt_Address").focus();
                $("#txt_Address").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_Address").css({ "background": "white" });
            }

            input = $("#txt_Description").val();
            if (input === "" || input === undefined) {
                Utils.OpenNotify("Bạn phải nhập nội dung thông tin !.", "Thông báo", "error");
                $("#txt_Description").focus();
                $("#txt_Description").css({ "background": "lightcoral" });
                return false;
            }
            else {
                $("#txt_Description").css({ "background": "white" });
            }

            return true;
        }
        function GetCustomer() {
            var Phone = $("#txt_Phone").val();
            if (Phone.length >= 10) {
                $.ajax({
                    url: URL_Customer,
                    type: "GET",
                    data: {
                        "Phone": Phone
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);
                            $("#txt_CustomerName").val(obj.FullName);
                            $("#txt_Address").val(obj.Address);
                            $("#txt_CustomerKey").val(obj.CustomerKey);
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify("Thông báo", err.responseText, "error");
                    },
                    complete: function () {

                    }
                });
            }
        }
        function Delete(id) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "TaskKey": id
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        var cate = $("#txt_CategoryKey").val();
                                        URL_List = URL_List
                                            .replace("_cate_", cate);
                                        URL_List = decodeEntities(URL_List);
                                        window.location = URL_List;
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
    </script>
}