﻿@using Desktop
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _ListData = new List<Employee_Model>();
    if (ViewBag.ListData != null)
    {
        _ListData = ViewBag.ListData as List<Employee_Model>;
    }
    var _ListPosition = new List<Position_Model>();
    if (ViewBag.ListPosition != null)
    {
        _ListPosition = ViewBag.ListPosition as List<Position_Model>;
    }
    var _SelectReportTo = new List<Employee_Model>();
    if (_ListData.Count > 0)
    {
        _SelectReportTo = _ListData.Where(s => s.PositionKey != 54).ToList<Employee_Model>();
    }
    var _ListBranch = new List<Branch_Model>();
    if (ViewBag.ListBranch != null)
    {
        _ListBranch = ViewBag.ListBranch as List<Branch_Model>;
    }
    var _ListDepartment = new List<Department_Model>();
    if (ViewBag.ListDepartment != null)
    {
        _ListDepartment = ViewBag.ListDepartment as List<Department_Model>;
    }
}

<header class="page-header">
    <h2>Danh sách cán bộ công nhân viên</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>
                    Trang chủ
                </a>
            </li>
            <li></li>
        </ol>
    </div>
</header>

<div class="card-body" id="divTable">
    <table class="table Custom table-sm" id="tblData">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã nhân viên</th>
                <th>Họ và tên</th>
                <th>Chức vụ</th>
                <th>Chi nhánh</th>
                <th>Số điện thoại</th>
                <th class="text-right">
                    <button class="modal-with-zoom-anim btn btn-info" type="button" onclick="Edit(0)">
                        <i class="fa fa-plus"></i>
                        Thêm mới
                    </button>
                </th>
            </tr>
        </thead>
        <tbody id="tblBody">
            @{
                int No = 1;
                foreach (var item in _ListData)
                {
                    <tr>
                        <td>@No</td>
                        <td>@item.EmployeeID</td>
                        <td>@item.FullName</td>
                        <td>@item.PositionName</td>
                        <td>@item.BranchName</td>
                        <td>@item.MobiPhone</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-outline-primary btn-sm modal-with-zoom-anim" onclick="Edit('@item.EmployeeKey')" >
                                <i class="far fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm modal-with-zoom-anim" onclick="Delete('@item.EmployeeKey')" >
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>

                    No++;
                }
            }

        </tbody>
    </table>
</div>


<div id="modalEdit" class="zoom-anim-dialog modal-block modal-header-color modal-block-info mfp-hide">
    <div class="card border ">
        <div class="card-header">
            <h2 class="card-title">Thông tin cơ bản của cán bộ công nhân viên</h2>
        </div>
        <div class="card-body ">
            <div class="form-group row">
                <label for="employeeid" class="col-lg-5 col-xl-3 control-label text-right">Mã nhân viên</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_EmployeeID" placeholder="" required="" readonly disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Họ tên lót</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_LastName" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Tên nhân viên</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_FirstName" placeholder="" required="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Chức vụ</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Position" class="form-control select2" name="Position">
                        @foreach (Position_Model zItem in _ListPosition)
                        {
                            <option value="@zItem.PositionKey">@zItem.PositionNameVN</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row ">
                <label class="col-lg-5 col-xl-3 control-label text-right">Người quản lý</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_ReportTo" class="form-control select2" name="ReportTo">
                        @foreach (Employee_Model zItem in _SelectReportTo)
                        {
                            <option value="@zItem.EmployeeKey">@(zItem.LastName + ' ' + zItem.FirstName)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Chi nhánh</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Branch" class="form-control select2" name="Branch">
                        <option value="">--//--</option>
                        @foreach (Branch_Model zItem in _ListBranch)
                        {
                            <option value="@zItem.BranchKey">@zItem.BranchName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-5 col-xl-3 control-label text-right">Phòng Ban</label>
                <div class="ccol-lg-7 col-xl-9">
                    <select id="cbo_Department" class="form-control select2" name="Department">
                        <option value="">--//--</option>
                        @foreach (Department_Model zItem in _ListDepartment)
                        {
                            <option value="@zItem.DepartmentKey">@zItem.DepartmentName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-lg-5 col-xl-3 control-label text-right">Số điện thoại</label>
                <div class="col-lg-7 col-xl-9">
                    <input type="text" class="form-control" id="txt_MobiPhone" placeholder="" required="">
                </div>
            </div>
        </div>
        <div class="card-footer  text-center">
            <button id="btn_Cancel" type="button" class="btn btn-outline-secondary modal-dismiss">
                <i class="far fa-times-circle"></i>
                Đóng
            </button>
            <button id="btn_Save" type="button" class="btn btn-outline-primary" onclick="Save()">
                <i class="far fa-save"></i>
                Cập nhật
            </button>
        </div>
    </div>
    <input id="txt_EmployeeKey" type="hidden" name="Role" value="" />

</div>

@section scripts {
    <script>
        var URL_Edit = "@Url.Action("Edit_Employee", "Employee")";
        var URL_Delete = "@Url.Action("Delete_Employee", "Employee")";
        var URL_Save = "@Url.Action("Save_Employee", "Employee")";
        var URL_AutoID = "@Url.Action("GetID", "Employee")";
    </script>
    <script>
        $(document).ready(function () {

        });
        function CheckSave() {
            var LastName = $("#txt_LastName").val();
            var FirstName = $("#txt_FirstName").val();
            if (LastName === "" && FirstName === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải nhập họ và tên", "error");
                return false;
            }

            var PositionKey = $("#cbo_Position").val();
            if (PositionKey === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải chọn chức vụ", "error");
                return false;
            }

            var PositionKey = $("#cbo_Position").val();
            if (PositionKey === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải chọn chức vụ", "error");
                return false;
            }

            var DepartmentKey = $("#cbo_Department").val();
            if (DepartmentKey === "") {
                Utils.OpenNotify("Thông báo", "Bạn phải chọn phòng", "error");
                return false;
            }

            return true;
        }
        function Save() {
            if (CheckSave()) {

                var EmployeeKey = $("#txt_EmployeeKey").val();
                var EmployeeID = $("#txt_EmployeeID").val();
                var LastName = $("#txt_LastName").val();
                var FirstName = $("#txt_FirstName").val();
                var PositionKey = $("#cbo_Position").val();
                var PositionName = $("#cbo_Position option:selected").text();
                var MobiPhone = $("#txt_MobiPhone").val();
                var ReportToKey = $("#cbo_ReportTo").val();
                var ReportToName = $("#cbo_ReportTo option:selected").text();
                var BranchKey = $("#cbo_Branch").val();
                var BranchName = $("#cbo_Branch option:selected").text();
                var DepartmentKey = $("#cbo_Department").val();
                var DepartmentName = $("#cbo_Department option:selected").text();

                $.ajax({
                    url: URL_Save,
                    type: "POST",
                    data: {
                        "EmployeeKey": EmployeeKey,
                        "EmployeeID": EmployeeID,
                        "LastName": LastName,
                        "FirstName": FirstName,
                        "PositionKey": PositionKey,
                        "PositionName": PositionName,
                        "MobiPhone": MobiPhone,
                        "ReportToKey": ReportToKey,
                        "ReportToName": ReportToName,
                        "BranchKey": BranchKey,
                        "BranchName": BranchName,
                        "DepartmentKey": DepartmentKey,
                        "DepartmentName": DepartmentName,
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            location.reload();
                        }
                        else {
                            Utils.OpenNotify("Thông báo", r.Message, "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify("Thông báo", err.responseText, "error");
                    },
                    complete: function () {

                    }
                });
            }
        }
        function Edit(EmployeeKey) {
            Utils.OpenMagnific("#modalEdit");
            if (EmployeeKey.length >= 36) {
                $.ajax({
                    url: URL_Edit,
                    type: "GET",
                    data: {
                        "EmployeeKey": EmployeeKey
                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        if (r.success) {
                            var obj = JSON.parse(r.data);

                            $("#txt_EmployeeKey").val(obj.EmployeeKey);
                            $("#txt_EmployeeID").val(obj.EmployeeID);
                            $("#txt_LastName").val(obj.LastName);
                            $("#txt_FirstName").val(obj.FirstName);
                            $("#txt_Email").val(obj.Email);
                            $("#txt_MobiPhone").val(obj.MobiPhone);
                            $("#cbo_ReportTo").val(obj.ReportToKey).trigger("change");
                            $("#cbo_Position").val(obj.PositionKey).trigger("change");
                            $("#cbo_Branch").val(obj.BranchKey).trigger("change");
                            $("#cbo_Department").val(obj.DepartmentKey).trigger("change");
                        }
                        else {
                            Utils.OpenNotify("Thông báo", r.Message, "error");
                        }
                    },
                    error: function (err) {
                        Utils.OpenNotify("Thông báo", err.responseText, "error");
                    },
                    complete: function () {

                    }
                });
            }
            else {
                Utils.ClearUI("#modalEdit");
                $("#rdo1").val(1);
                $("#rdo0").val(0);

                $.ajax({
                    url: URL_AutoID,
                    type: "GET",
                    data: {

                    },
                    beforeSend: function () {

                    },
                    success: function (r) {
                        $("#txt_EmployeeID").val(r);
                    },
                    error: function (err) {
                        Utils.OpenNotify("Thông báo", err.responseText, "error");
                    },
                    complete: function () {

                    }
                });
            }
        }
        function Delete(EmployeeKey) {
            $.confirm({
                type: "red",
                typeAnimated: true,
                title: "Cảnh báo !.",
                content: "Bạn có chắc xóa thông tin này ?.",
                buttons: {
                    confirm: {
                        text: "Đồng ý",
                        btnClass: "btn-red",
                        action: function () {
                            $.ajax({
                                url: URL_Delete,
                                type: "POST",
                                data: {
                                    "EmployeeKey": EmployeeKey
                                },
                                beforeSend: function () {

                                },
                                success: function (r) {
                                    if (r.success) {
                                        location.reload();
                                    }
                                    else {
                                        Utils.OpenNotify("Thông báo", r.Message, "error");
                                    }
                                },
                                error: function (err) {
                                    Utils.OpenNotify("Thông báo", err.responseText, "error");
                                },
                                complete: function () {

                                }
                            });
                        }
                    },
                    cancel: {
                        text: "Hủy",
                    }
                }
            });
        }
    </script>
}